<template >
  <div >
    <div class="container-fluid">
      <header-component />
      <div class="row bg-azteca body-1" >
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mobile col-xl-6 mt-md-3 ml-lg-5">
          <h1 class="text-firts font-weight-bold text-center text-md-left text-white pt-5">
            {{ this.$store.state.config.aseguradoraVista }} Seguros de Motos QUÁLITAS
          </h1>

          <promociones />
        </div>
        <div class="col-12 d-none mobile1">
				<promoCard/>
			</div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 px-3">
          <motos-form :config="$store.state.config"></motos-form>
        </div>
        <div class="mx-auto">
        <tarjetasiniciales ></tarjetasiniciales>
        </div>
      </div>
      <div class="container-fluid bggray">
   
   <contenido></contenido>
 </div>
    </div>

    <footer-content />
  </div>
</template>
<script>
import promoCard from '~/components/common/promo-card.vue';
import contenido from '~/components/contenido/contenidoQualitas.vue';
import tarjetasiniciales from '~/components/tarjetasIniciales/tarjetasinicialesQualitas.vue';
import headerComponent from "~/components/header/headerQualitas.vue";
import FooterContent from "~/components/footer/footerQualitas.vue";
import MotosForm from "~/components/forms/formNewVista.vue";
import elmejorComponent from "~/components/common/elmejorcomparadorNew.vue";
import promociones from "~/components/promociones/promocionesQualitas.vue";
import BikerRobot from "~/components/common/BikerRobot.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
  layout: "index",
  beforeCreate() {

    this.$store.state.config.interior = "qualitas";
    this.$store.state.config.imgen = "/seguros-para-motos/img/qualitas/";
    this.$store.state.config.urlNext = "/qualitas/thank-you";
    this.$store.state.config.urlRuta = "/seguros-para-motos/qualitas/";
    this.$store.state.config.telefonoAS = "25276765";
    this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.aseguradora = "QUALITAS";
    this.$store.state.config.detallesGNP = true;

    this.$store.state.config.idMedioDifusion = 6277;
    this.$store.state.config.idPagina = 15;
    this.$store.state.config.idCampana = 77;
    this.$store.state.config.idSubRamo = 58;
    this.$store.state.config.dominioCorreo =
      "QUALITAS|ahorraseguros-mx-seguros-para-motos";
    this.$store.state.config.from = "MOTOS";
    this.$store.state.config.aseguradorapromo = "motos";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.tresCaminos = true
    this.$store.state.config.emision = true

    this.$store.state.config.idEcommerce = 6278
    this.$store.state.config.idMedioDifusionInteraccion = 6279

    this.$store.state.config.textoSMS =
      "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    this.$store.state.config.title = "Seguro para motos azteca";
    this.$store.state.config.imgaseg = "banco-azteca";
    this.$store.state.config.btnColor = "bgColorBtnAfirme";
    this.$store.state.config.urlFinal = "/thank-you";
    // Estas son las clases por defecto para el recuadro de la promo.
    this.$store.state.config.clase2 = "col-4 col-sm-5 col-md-12 col-lg-4";
    this.$store.state.config.clase3 =
      "col-8 col-sm-7 col-md-12 col-lg-8 my-auto";
        },

  async created() {
    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora,
        this.$store.state.config.aseguradorapromo
      );

      this.$store.state.config.btnTop = window.location.href;
      this.$store.commit("telApi");
     
      // Establecemos el porcentaje y meses sin intereses.
   this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;
      this.$store.state.config.promoLabel = insurer.promo.label;
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 =
          "col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 =
          "col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
      }

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;
    } catch (err) {
      console.log(err);
    }
  },

  components: {
    MotosForm,
    BikerRobot,
    headerComponent,
    FooterContent,
    elmejorComponent,
    promociones,
    tarjetasiniciales,
    contenido,
    promoCard
  },
  head() {
    return {
      title: "▷ Seguro para Motos | AhorraSeguros.mx®  - Cotizar Seguro para Moto",
      meta: [
        {
          hid: "seguro para motos",
          name: "keywords",
          content:
            "Seguros para Motos, Seguros para Motos en México, Seguros de Motos, Seguros de Motos en México, Seguros para motocicletas, cotizador de seguros de motos, cotizar seguros para motos, Seguros Motos, Seguro para Moto"
        },
        {
          hid: "description",
          name: "description",
          content:
            "Cotiza Seguro para Motos en México con Ahorra Seguros y obtén los Mejores Beneficios al Mejor Precio ¡Descubre en segundos el costo de tu Seguro para Moto!"
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "@AngelPastrana"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://ahorraseguros.mx/seguros-para-motos/qualitas"
        }
      ]
    };
  }
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
*,body{font-family:'Quicksand',sans-serif;margin: 0;}
.bg-azteca {
  background: #008f94;
}
.color-azteca {
  color: #1c1f1d;
}
.bgColorBtnAfirme {
  background: #008f94 !important;
  border-bottom: 5px solid #008f94;
}
.body-1{
  background: linear-gradient(180deg, #89105d 48%, #961267 50%) !important;
  /* background-color: #; */
}
.imgprinc {
    position: absolute;
    left: 30%;
    top: 0%;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    
}
.btnFormulario {
  background-color: #008f94 !important;
  font-size: 30px !important;
  color: #fff;
}
.encabezadoT{
  background-color: #be1287; color: #fff;
  font-size: 1.0em;
  text-align: center;
}
.tableBorderI{
  border-radius: 10px 0px 0px 10px !important;
  
 }
 .tableBorderF{
  border-radius: 0px 10px 10px 0px !important;
  text-align: center;
  padding-right: 10px;
 }
.tableBorderI1{
  border-radius: 10px 0px 0px 0px !important;
  
 }
.tableBorderI1{
  border-radius: 10px 0px 0px 0px !important;
  
 }
 .borderTh1{
  
   background-color: #ff8a00; color: #fff;
   border-color: #ff8a00;
   padding-left: 10px;
   padding-right: 10px;
   
  }
  .tam{
    font-size: .81em;
  }
     /* card-con icono */
.cradCont {
  border-radius: 30px !important;
  background-color: #f0f0ee !important;
}
.cardIcon {
  /* position: relative; */
  margin-top: 60px;
  padding-top: 40px;
}
.cardIcon .icon {
  position: absolute;
  top: calc((88px/2)*-1);
  left: calc((100% - 88px)/2);
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.308);
  padding: 1.5rem;
}
.card-body1{-ms-flex:1 1 auto;flex:1 1 auto;min-height:1px;padding:.25rem}
</style>
