<template>
		<div class="row  mx-auto pb-0 text-white  pr-4" >
			<div class="col-12  pl-5 text-left d-none ml-0 d-lg-block d-md-block py-5">
				<img loading="lazy" :src="this.$store.state.config.imgen + 'ekomi_blanco.png'" alt="ekomi" width="725"
				 height="53" class="img-fluid">
			</div>	
			<div class="col-12 py-4 d-block d-lg-none d-md-none text-center">
			
			</div>
			<div class="col-12 col-md-4 col-lg-4 text-center py-3 mx-auto" >
				<div class="card1 card-color py-3 d-block m-auto">
					<div class="card-body text-white">
						<img loading="lazy" :src="this.$store.state.config.imgen + '02.svg'" alt="Seguro de uber" width="94" height="94" class="img-fluid">
						<p class="fw-bold m-0 pt-2">{{ this.$store.state.config.desc }}</p>
						<p class="fw-bold">{{this.$store.state.config.msi}} {{ this.$store.state.config.extraMsg }}</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 col-lg-4 text-center py-3" >
				<div class="card1 card-color py-3 d-block m-auto">
					<div class="card-body text-white">
						<img loading="lazy" :src="this.$store.state.config.imgen + '03.svg'" alt="Seguro de uber" width="94" height="94" class="img-fluid">
						<p class="fw-bold m-0 pt-2">Obtén tu póliza</p>
						<p class="fw-bold">Hoy Mismo</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 col-lg-4 text-center py-3" >
				<div class="card1 card-color py-3 d-block m-auto">
					<div class="card-body text-white">
						<img loading="lazy" :src="this.$store.state.config.imgen + '04.svg'" alt="Seguro de uber" width="94" height="94" class="img-fluid">
						<p class="fw-bold m-0 pt-2">Mejor precio</p>
						<p class="fw-bold">Garantizado</p>
					</div>
				</div>
			</div>
		</div>
</template>
<style>
.card-color{
	background-color: #001254;
}
.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #001254;
    background-clip: border-box;
    border: 1px solid rgba(255, 255, 255, 0.534);
    border-radius: 1rem;
	height: 100%;
	width: 90%;
}
</style>