<template>
  <div>
    <div class="row">
      <div class="col-12">
        <div class="contenedorPromo m-auto">
          <div
            class="container-fluid p-0 m-0"
            :class="this.$store.state.config.clase1"
          >
            <div class="row pb-1 px-0 py-3 m-0">
              <div class="text-center pl-2 pr-0" :class="this.$store.state.config.clase2">
                <img :src="this.$store.state.config.urlImagen + '/img/logos/' + this.$store.state.config.imgaseg + '.svg'"
                  class="img-aseg" width="130" height="70"/>
              </div>
              <div
                class="col-4 col-sm-4 col-md-4 col-lg-3 text-center"
                v-show="this.$store.state.config.promoSpecial"
              >
                <img
                  :src="this.$store.state.config.promoImg"
                  alt="logo promocion"
                  class="m-auto img-fluid logo-promo"
                  width="70"
                  height="40"
                />
              </div>
              <div
                class="col-5 col-sm-5 col-md-5 col-lg-5 my-auto"
                :class="this.$store.state.config.clase3"
              >
                <small class="labelPromo"
                  >{{ this.$store.state.config.promoLabel }}
                </small>
                <p class="descuentosPromo">
                  {{ this.$store.state.config.desc }}
                </p>
                <div v-if="this.$store.state.config.msi !== ''">
                  <small class="msiPromo">{{
                    this.$store.state.config.msi
                  }}
                   {{ this.$store.state.config.extraMsg }}</small>
                  <small
                    v-if="
                      !this.$store.state.config.msi
                        .toLowerCase()
                        .includes('meses')
                    "
                    class="labelendPromo"
                  >
                  {{ this.$store.state.config.extraMsg }}</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
