<template>
    <div class="row">
      <div class="col-3  col-md-3 col-lg-3 text-end pt-4" v-if="this.$store.state.config.promoSpecial">
        <img loading="lazy" :src="this.$store.state.config.promoImg" alt="Logo promocion" class="img-fluid" width="66" height="66"/>
      </div>
      <div class="col-3  col-md-3 col-lg-3 text-end pt-4" v-if="!this.$store.state.config.promoSpecial">
        <img loading="lazy" src="img/01.svg"  alt="Logo" class=" img-fluid" width="66" height="66"/>
      </div>
      <div class="col-9 col-md-9 col-lg-9 text-end text-md-start pt-4 mb-2">

          <p  class="text-firtsdes m-0 text-black fw-bold mx-5 mx-md-1">
            {{ this.$store.state.config.promoLabel }}
            {{ this.$store.state.config.desc }}</p>
          <span class="border-bottom-pink-xl fw-bold" v-if="this.$store.state.config.msi !== ''">
            <small class="text-firts2 m-0 text-black">
              {{this.$store.state.config.msi}} {{ this.$store.state.config.extraMsg }}
              <p class="line col-12 col-md-12 col-lg-12">
              </p>
              </small> 
          </span>
          <div class="text-center">
            
        </div>
      </div>
    </div>
  </template>