
<template>
	<div>
		<!-- FICHA CON PROMO -->
		<div v-if="this.$store.state.config.promoSpecial" class="row contenedorPromo d-block d-md-none mt-2">
			<div class="container-fluid p-0 m-0 adornosPromo">
				<div class="row mx-0 pt-3 pb-1 px-0">
					<div class="col-4 my-2 px-md-1 px-lg-3 text-center">
						<img :src='this.$store.state.config.promoImg' alt="logo promocion" class="m-auto img-fluid" width="45"
							height="100" 
						/>
					</div>
					<div class="col-8">
						<small class="labelPromo">{{
							this.$store.state.config.promoLabel
						}}</small>
						<p class="descuentosPromos">{{ this.$store.state.config.desc }}</p>
						<div v-if="this.$store.state.config.msi !== ''">
							<small class="msiPromo">{{ this.$store.state.config.msi }}</small>
							<section v-if="!this.$store.state.config.msi.toLowerCase().includes('meses')">
								<small v-if="this.$store.state.config.aseguradora == 'QUALITAS'" class="labelendPromo">
								</small>
								<small v-else class="labelendPromo">
									{{ this.$store.state.config.extraMsg }}
								</small>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FICHA SIN PROMO -->
		<div v-if="!this.$store.state.config.promoSpecial" class="row contenedorPromo d-block d-md-none">
			<div class="container-fluid p-0 m-0 adornosProm">
				<div class="row mx-0 pt-3 pb-1 px-0">
					<div class="col-4 my-2 px-md-1 px-lg-3 text-center">
						<img src="img/01.svg" alt="logo promocion" class="m-auto img-fluid" width="45" height="100" />
					</div>
					<div class="col-8">
						<small class="labelPromo">{{
							this.$store.state.config.promoLabel
						}}</small>
						<p class="descuentosProm">{{ this.$store.state.config.desc }}</p>
						<div v-if="this.$store.state.config.msi !== ''">
							<small class="msiPromo">{{ this.$store.state.config.msi }}</small>
							<section v-if="!this.$store.state.config.msi.toLowerCase().includes('meses')">
								<small v-if="this.$store.state.config.aseguradora == 'QUALITAS'" class="labelendPromo">
								</small>
								<small v-else class="labelendPromo">
									{{ this.$store.state.config.extraMsg }}
								</small>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
  
<style>
.contenedorPromo {
	min-height: 80px;
	height: auto;
}

.contenedorPromo {
	background: #fff;
	padding: 5px;
	border-radius: 6px;
	box-shadow: 2px 2px 5px #BABABA;
	max-width: 760px;
	width: 100%;
	height: auto;
	margin: auto;
	position: relative;
}

.adornosPromo {
	border: 4px dotted #E30613;
	border-radius: 6px;
}

.adornosProm {
	border: 4px dotted #044a94;
	border-radius: 6px;
}

.labelPromo {
	position: absolute;
	top: 12px;
	background: #909191;
	color: #fff;
	border-radius: 10px;
	padding: 0px 12px;
	margin-left: 32%;
}

.descuentosPromos {
	background: #E30613;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 0;
	padding: 8px;
	padding: 0.8rem 0rem;
	border-radius: 5px;
	line-height: 1;
}

.descuentosProm {
	background: #044a94;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 0;
	padding: 8px;
	padding: 0.8rem 0rem;
	border-radius: 5px;
	line-height: 1;
}

.msiPromo {
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	display: block;
	line-height: 1;
}

.labelendPromo {
	font-weight: 500;
	font-size: 0.8rem;
	text-align: center;
	display: block;
	text-transform: uppercase;
}

@media (min-width: 600px) and (max-width: 768px) {
	.logasg {

		display: none;
	}

}

@media (min-width: 200px) and (max-width: 764px) {
	.tituloh1 {
		display: none;
	}

	.logasg {

		display: none;
	}

	.descuento {
		display: none;
	}
}

@media (min-width: 426px) and (max-width: 767px) {
	.tituloh1 {
		display: none;
	}

	.logasg {

		display: none;
	}

	.descuento {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 930px) {
	.descuentosPromo {
		font-size: .55rem;
	}

	.labelendPromo {
		font-size: 0.5rem;
	}

	.msiPromo {
		font-size: .9rem;
	}
}

@media (min-width: 376px) and (max-width: 425px) {
	.labelPromo {
		font-size: 0.8rem;
	}

}

@media (min-width: 420px) and (max-width: 767px) {
	.descuentosPromo {
		font-size: .8rem;
	}

	.labelendPromo {
		font-size: 0.7rem;
	}

	.labelPromo {
		font-size: 0.8rem;
	}

	.msiPromo {
		font-size: .9rem;
	}
}

@media (max-width: 419px) {
	.descuentosPromo {
		font-size: .55rem;
	}

	.labelendPromo {
		font-size: 0.55rem;
	}

	.labelPromo {
		font-size: 0.7rem;
	}

	.msiPromo {
		font-size: .9rem;
	}
}

@media (min-width: 321px) and (max-width: 375px) {
	.descuentosPromo {
		font-size: .7rem;
	}

	.labelendPromo {
		font-size: 0.55rem;
	}

	.msiPromo {
		font-size: .7rem;
	}

	.labelPromo {
		font-size: .7rem;
	}
}
</style>