<template>
  <!-- NORMAL -->
  <div class="row">
    <div class="col-3 col-md-3 col-lg-2" v-if="this.$store.state.config.promoSpecial" >
      <img loading="lazy" :src="this.$store.state.config.promoImg" alt="Logo promocion" class=" img-fluid" width="66" height="66"/>
    </div>
    <div class="col-3  col-md-3 col-lg-2 text-end"  v-if="!this.$store.state.config.promoSpecial" >
      <img loading="lazy" :src="this.$store.state.config.imgen+'01.svg'" alt="Logo" class=" img-fluid" width="66" height="66"/>
    </div>
    <div class="col-9 col-md-9 col-lg-8 text-end text-md-start ps-0 mb-2">
        <p  class="text-firtsdes m-0 text-white fw-bold"> {{ this.$store.state.config.desc }}</p>
        <span class="border-bottom-pink-xl fw-bold" v-if="this.$store.state.config.msi !== ''">
          <span class="text-firts2 m-0 text-white">{{this.$store.state.config.msi}}</span> 
          <span v-if="!this.$store.state.config.msi .toLowerCase().includes('meses') " class="text-firts2 m-0 text-white "> 
            {{ this.$store.state.config.extraMsg }}
          </span>
          <p class="line col-12 col-md-12 col-lg-12  "></p>
        </span>
                
        <div class="text-center">
        </div>
    </div>
    <div class="container-fluid mt-0 mt-md-4" data-v-2a183b29="">
    <div class="row text-center" data-v-2a183b29="">
      <div class="col-12 d-none d-sm-none d-md-block" data-v-2a183b29="">
        <picture class="text-center" data-v-2a183b29="" style="">
          <img
            alt="Ahorra Seguro banner"
            class="car-ahorra"
            src="/seguros-para-motos/img/azteca/banner.webp"
            data-v-2a183b29=""
            width="400"/></picture>
      </div>
    </div>
  </div>
  </div>
</template>
<style>
.text-firtsdes {
    font-size: 2rem;
    font-weight: bold;
}
.text-firts2 {
    font-size: 2rem;
    font-weight: bold;
   
}
.line {
  margin-top: 2%;
  border-radius: 10px;
  background-color: #003466;
  color: #003466;
  height: 7px;
  margin-right: 0px;
}
@media (min-width: 1024px) and (max-width: 1280px) {
    .btn-success {
        font-size: 13px;
    }
    .btn-primary {
        font-size: 13px;
    }
    .text-firtsdes {
        font-size: 1.7rem;
    }
    .text-firts2 {
        font-size: 1.4rem;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .imgprinc {
        position: absolute;
        bottom: 78%;
        left: 3%!important;
    }
    #marca,
    #modelo,
    #descripcion,
    #subdescripcion,
    #detalle,
    #edad,
    #cp,
    #nombre,
    #correo,
    #telefono,
    #genero {
        font-size: 14px;
    }
    .text-firts1 {
        font-size: 2rem;
    }
    .text-firts2 {
        font-size: 1.1rem;
    }
    .text-promo2 {
        font-size: 20px;
    }
    .text-firtsdes {
        font-size: 1.4rem;
        line-height: 1.2;
    }
    .btn-cotiza {
        font-size: 26px;
    }
    .btn-success {
        font-size: 13px;
    }
    .btn-primary {
        font-size: 13px;
    }
    .tel {
        font-size: 13px;
    }
    .ltdBoton {
        font-size: 1.5rem !important;
    }
    .malig {
        text-align: left !important;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    .text-info {
        font-size: 11px;
    }
    .text-promo2 {
        font-size: 16px;
        letter-spacing: 0;
    }
    .text-firts {
        font-size: 15px;
    }
    .text-firts1 {
        font-size: 1.8rem;
        text-align: end !important;
    }
    .text-firtsdes {
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .descuentosPromo {
        font-size: 0.8rem;
    }
    .btn-cotiza {
        font-size: 26px;
    }
    .text-firts2 {
        font-size: 1rem;
    }
    .text-promo2 {
        font-size: 14px;
        text-align: left;
        letter-spacing: 0;
    }
    .colorTittle {
        color: #494c4a;
        font-weight: bold;
        font-size: 30px;
        text-align: left !important;
    }
    .imgresp {
        left: 5% !important;
    }
    .imgprinc {
        position: static!important;
        left: 13%!important;
        bottom: 69%;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        height: 90%!important;
    }
    .pdtext {
        padding-top: 0 !important;
    }
    .ltdBoton {
        font-size: 1rem !important;
    }
    .malig {
        text-align: right !important;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .lform {
        font-size: 12px!important;
    }
    .descuentosPromo {
        background: #fb6c06;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0;
        padding: 0.5rem;
        border-radius: 5px;
        width: 100%;
    }
    .tag-promo1 {
        max-width: 100px;
        width: 70px;
        margin: 0 auto;
        height: auto;
    }
    .text-firts2 {
        font-size: .9rem;
    }
    a.b-radius>span {
        font-size: 80% !important;
    }
    .text-firts1 {
        font-size: 1.5rem;
    }
    .text-firtsdes {
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .text-promo2 {
        font-size: 14px;
        text-align: left;
        letter-spacing: 0;
    }
    .colorTittle {
        color: #494c4a;
        font-weight: bold;
        font-size: 25px;
        text-align: left !important;
    }
    .imgprinc {
        position: static!important;
        left: 13%!important;
        bottom: 69%;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        height: 90%!important;
    }
    .imgprinc {
        position: static!important;
        left: 13%!important;
        bottom: 69%;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        height: 90%!important;
    }
    .pdtext {
        padding-top: 0 !important;
    }
    .ltdBoton {
        font-size: 1rem !important;
    }
    .malig {
        text-align: right !important;
    }
    #idgraciasAuto>h3 {
        font-size: 1.2rem;
    }
    .imgresp {
        left: 2% !important;
        top: 83%;
    }
    .imgprinc {
        position: static!important;
        left: 13%!important;
        bottom: 69%;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        height: 90%!important;
    }
    .pdtext {
        padding-top: 0 !important;
    }
    .tel {
        font-size: 12px;
    }
    .pad {
        padding-left: 0rem !important;
    }
    .privT {
        color: rgb(0, 0, 0) !important;
        font-size: 10px !important;
    }
    .lform {
        font-size: 12px !important;
    }
    .ltdBoton {
        font-size: 1.3rem !important;
    }
    .malig {
        text-align: right !important;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .lform {
        font-size: 12px!important;
    }
    .descuentosPromo {
        background: #fb6c06;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0;
        padding: 0.5rem;
        border-radius: 5px;
        width: 100%;
    }
    .tag-promo1 {
        max-width: 100px;
        width: 70px;
        margin: 0 auto;
        height: auto;
    }
    .text-firts2 {
        font-size: 0.8rem;
    }
    a.b-radius>span {
        font-size: 80% !important;
    }
    .text-firts1 {
        font-size: 1.4rem;
    }
    .text-firtsdes {
        font-size: 1rem;
        line-height: 1;
    }
    .text-promo2 {
        font-size: 14px;
        text-align: left;
        letter-spacing: 0;
    }
    .colorTittle {
        color: #494c4a;
        font-weight: bold;
        font-size: 25px;
        text-align: left !important;
    }
    .imgresp {
        left: 5% !important;
    }
    .imgprinc {
        position: static!important;
        left: 13%!important;
        bottom: 69%;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        height: 90%!important;
    }
    .pdtext {
        padding-top: 0 !important;
    }
    .ltdBoton {
        font-size: 1rem !important;
    }
    .malig {
        text-align: right !important;
    }
    #idgraciasAuto>h3 {
        font-size: 1.2rem;
    }
    .imgresp {
        left: 2% !important;
        top: 83%;
    }
    .imgprinc {
        position: static !important;
        top: 0 !important;
        left: 0 !important;
    }
    .pdtext {
        padding-top: 0 !important;
    }
    .tel {
        font-size: 12px;
    }
    .pad {
        padding-left: 0rem !important;
    }
    .privT {
        color: rgb(0, 0, 0) !important;
        font-size: 10px !important;
    }
    .lform {
        font-size: 12px !important;
    }
    .ltdBoton {
        font-size: 1.3rem !important;
    }
    .malig {
        text-align: right !important;
    }
}

@media (min-width: 240px) and (max-width: 320px) {
    .lform {
        font-size: 12px!important;
    }
    .text-firts2 {
        font-size: 0.6rem;
    }
    a.b-radius>span {
        font-size: 80% !important;
    }
    .text-firts1 {
        font-size: 1.2rem;
    }
    .text-firtsdes {
        font-size: .8rem;
        line-height: 1;
    }
    .text-promo2 {
        font-size: 15px;
        text-align: left;
    }
    .colorTittle {
        color: #494c4a;
        font-weight: bold;
        font-size: 20px !important;
        text-align: left !important;
    }
    .imgresp {
        left: 5% !important;
    }
    .imgprinc {
        position: static!important;
        left: 13%!important;
        bottom: 69%;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        height: 90%!important;
    }
    .pdtext {
        padding-top: 0 !important;
    }
    .tel {
        font-size: 12px;
    }
    .pad {
        padding-left: 0rem !important;
    }
    #idgraciasAuto>h3 {
        font-size: 1.2rem;
    }
    .imgresp {
        left: 2% !important;
        top: 83%;
    }
    .imgprinc {
        position: static !important;
        top: 0 !important;
        left: 0 !important;
    }
    .pdtext {
        padding-top: 0 !important;
    }
    .tel {
        font-size: 12px;
    }
    .pad {
        padding-left: 0rem !important;
    }
    .privT {
        color: rgb(0, 0, 0) !important;
        font-size: 10px !important;
    }
    .lform {
        font-size: 12px !important;
    }
    .ltdBoton {
        font-size: 1.3rem !important;
    }
    .malig {
        text-align: right !important;
    }
}

</style>
