<template>
  <div>
    <div class="container-fluid">
      <header-component />
      <div class="row bg-aseg">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-md-3 ml-lg-5">
          <div class="col-3 col-md-12 pe-0" style="text-align: end;">
            <h1 class="text-firts1 font-weight-bold text-black text-center pt-4">
              Seguros para Moto
            </h1>
          </div>
          <promocionesActualizadas class="desktop" />

          <BikerRobot />
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 px-3 mt-2 mt-lg-4">
          <promocionesMobile />
          <motos-form :config="$store.state.config"></motos-form>
        </div>
      </div>
      <tarjetas class="bg-tarjetas" />
      <div class="row d-none">
        <elmejor-component />
      </div>
    </div>
    <footerComparador/>
  </div>
</template>

<script>
import footerComparador from "~/components/footer/footerComparador.vue"
import FooterContent from "~/components/common/FooterContent.vue";
import headerComponent from "~/components/common/HeaderContent.vue";
import MotosForm from "~/components/forms/newMotosForm.vue";
import elmejorComponent from "~/components/common/elmejorcomparador.vue";
import BikerRobot from "~/components/common/BikerRobot.vue";
import promociones from "~/components/promociones/promociones.vue";
import getInsurerPromo from "~/plugins/promoData.js";
import slider from "~/components/common/slider-aseguradoras.vue";
import promocionesActualizadas from "~/components/promociones/promocionesActualizadas.vue"
import promocionesMobile from "~/components/promociones/promocionesMobile.vue"
import tarjetas from "~/components/contenido/tarjetas.vue"
export default {
  layout: "index",

  beforeCreate() {
    this.$store.state.config.urlNext = "/cotiza-prospecting1/fb-thank-you";
    this.$store.state.config.urlRuta = "/seguros-para-motos/cotiza-prospecting1/";
    this.$store.state.config.telefonoAS = "25276765";
    this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.idMedioDifusion = 2472;
    this.$store.state.config.idPagina = 15;
    this.$store.state.config.idSubRamo = 58;
    this.$store.state.config.dominioCorreo =
      "GNP|ahorraseguros-mx-seguros-para-motos";
    this.$store.state.config.aseguradora = "GNP";
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.from = "MOTOS";
    this.$store.state.config.aseguradorapromo = "MOTOS";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.tresCaminos = true
    this.$store.state.config.emision = true
    this.$store.state.config.combinado = true;
    this.$store.state.config.idEcommerce = 6293
    this.$store.state.config.idMedioDifusionInteraccion = 6294

    this.$store.state.config.textoSMS =
      "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    this.$store.state.config.title = "Seguros para Motos";
    this.$store.state.config.btnColor = "bgColorBtnGeneral";
    this.$store.state.config.imgaseg = "logomotos";
    this.$store.state.config.imgPromo = "motospromo";
    this.$store.state.config.urlFinal = "/fb-thank-you";
  },

  async created() {
    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora,
        this.$store.state.config.aseguradorapromo
      );
      this.$store.state.config.btnTop = window.location.href;
      this.$store.commit("telApi");
     
      // Establecemos el porcentaje y meses sin intereses.
   this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;
      this.$store.state.config.promoLabel = insurer.promo.label;
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 =
          "col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 =
          "col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
      }

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;
    } catch (err) {
      console.log(err);
    }
  },

  components: {
    MotosForm,
    FooterContent,
    headerComponent,
    BikerRobot,
    elmejorComponent,
    promociones,
    slider,
    promocionesActualizadas,
    promocionesMobile,
    tarjetas,
    footerComparador
  },
  head() {
    return {
      title: "▷ Seguro para Motos | AhorraSeguros.mx®  - Cotizar Seguro para Moto",
      meta: [
        {
          hid: "seguro para motos",
          name: "keywords",
          content:
            "Seguros para Motos, Seguros para Motos en México, Seguros de Motos, Seguros de Motos en México, Seguros para motocicletas, cotizador de seguros de motos, cotizar seguros para motos, Seguros Motos, Seguro para Moto"
        },
        {
          hid: "description",
          name: "description",
          content:
            "Cotiza Seguro para Motos en México con Ahorra Seguros y obtén los Mejores Beneficios al Mejor Precio ¡Descubre en segundos el costo de tu Seguro para Moto!"
        },
        { hid: "robots", name: "robots", content: "noindex, nofollow" },
        {
          hid: "author",
          name: "author",
          content: "@vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://ahorraseguros.mx/seguros-para-motos/facebook/"
        }
      ]
    };
  }
};
</script>
<style>
.bg-motos {
  background: #181f35;
}
.color-motos {
  color: #181f35;
}
</style>
