<template>
  <div>

    <!-- ==========>INICIOCotiza al Mejor precio Seguros para Motos Italika<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Cotiza al Mejor precio Seguros para Motos Italika
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <p>Si has decidido adquirir una de las marcas de motocicletas más populares en México ¡Necesitas un Seguro
            para Motos Italika!.</p>

          <p>Un seguro para motos te permitirá cubrir gastos generados durante un accidente de tránsito, protegiendo no
            solo tu vehículo sino también tu integridad y la de los que te acompañan.</p>

          <p>Cotiza las mejores opciones disponibles para asegurar tu motocicleta Italika y conduce seguro en todo
            momento.</p>

          <p>En México existen diferentes opciones de aseguradoras que podrán ofrecer coberturas funcionales para tu
            seguridad, a través de Ahorraseguros.mx podrás cotizar, comparar y adquirir tu póliza en menos de un minuto,
            teniendo la opción de elegir la opción más funcional para tu presupuesto.</p>

        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '01.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>


    <!-- ==========>INICIO DE TABLA COBERTURAS 1<====== -->
    <div class="container-fluid pt-5">
      <div class="row">
        <div class="col-12">
          <h2 class=" text-left text-sm-left text-md-center pb-5">
            <strong class="color-camiones  title-content-two tam">
              Cotiza al Mejor precio Seguros para Motos Italika
            </strong>
          </h2>

        </div>
        <p>Obtén la máxima protección ante los siniestros más comunes al manejar, a través de los seguros para
          motocicletas Italika, encuentra coberturas como:</p>

        <div class="table-responsive pt-4" align="center">
          <table class=" table-striped " style="width: 80% !important;">
            <thead class="encabezadoT ">
              <tr>
                <th class="tableBorderI pl-0" scope="col">Cobertura</th>
                <th scope="col">Paquete Amplio</th>
                <th scope="col">Paquete Limitado</th>
                <th class="tableBorderF" scope="col">Paquete Básico</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="borderTh">
                <td class="tableBorderI" scope="row"></td>
                <td class=""></td>
                <td class="tableBorderF"></td>

              </tr>
              <tr class=" borderTh">
                <td class="tableBorderI pl-3" scope="row">Daños Materiales</td>
                <td class="pl-2 text-center text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="pl-2 text-center text-center ">X</td>
                <td class="tableBorderF">X</td>

              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Robo Total </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> X</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Responsabilidad Civil de Daños a Terceros</td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'"
                      alt="check" width="15" height="15" /></span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Responsabilidad Civil a Pasajero </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'"
                      alt="check" width="15" height="15" /></span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Responsabilidad Civil por Daños Ocasionados por la Carga</td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'"
                      alt="check" width="15" height="15" /></span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Gastos Legales</td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'"
                      alt="check" width="15" height="15" /></span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Asistencia vial</td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'"
                      alt="check" width="15" height="15" /></span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Gastos Médicos Ocupantes</td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'"
                      alt="check" width="15" height="15" /></span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Equipo Especial</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class="tableBorderF text-center">Opcional</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Robo parcial</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class="tableBorderF text-center">Opcional</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Daños a Vestimenta de protección</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class="tableBorderF text-center">Opcional</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Muerte al Conductor por Accidente Vial</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class="tableBorderF text-center">Opcional</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- ==========>INICIO ¿Cómo funcionan las Coberturas de los Seguros para Motos Italika?<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Cómo funcionan las Coberturas de los Seguros para Motos Italika?
        </strong>
      </h2>

      <div class="row pt-5">
        <p>Al contratar tu póliza del seguro para moto Italika podrás tener acceso a las diferentes asistencias y
          beneficios que ofrece cada una de las coberturas disponibles.</p>



        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '02.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <p>Ante un siniestro obtén:</p>

          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Responsabilidad Civil:</strong> el cual cubre cualquier daño ocasionado a
              bienes personales y materiales de terceros.
            </li>
            <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Gastos Médicos:</strong>Respaldo ante estos gastos por concepto
              de hospitalización,terapias, enfermeras(os), etc.
            </li>
            <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Robo o pérdida total:</strong> Indemnización en caso de robo o
              pérdida total de tu motocicleta en caso de un accidente.
            </li>
            <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Asistencia vial:</strong>Servicio de técnico en caso de falla
              mecánica, envío de grúa, gasolina, etc.
            </li>
            <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Asistencia Legal:</strong>Apoyo de abogado y asesoría legal en
              caso de requerirse.
            </li>


          </ul>
        </div>
        <ul>
          <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                width="15" height="15"></span><strong>Responsabilidad Civil por Daños a la Carga:</strong> Cubre los
            daños materiales que la carga que lleva la motocicleta pueda causar a bienes materiales o lesiones
            corporales a terceros

          </li>
          <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                width="15" height="15"></span><strong>Responsabilidad Civil Pasajero: </strong>Te respalda en caso de
            que tu acompañante salga herido o incluso fallezca durante un siniestro
          </li>
          <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                width="15" height="15"></span><strong>Robo parcial:</strong> En caso de robo de accesorios, el seguro te
            indemnizará
          </li>
          <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                width="15" height="15"></span><strong>Equipo especial, adaptaciones, conversiones:</strong> Respalda el
            robo o daños ocasionados a estos elementos instalados en tu motocicleta
          </li>
          <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                width="15" height="15"></span><strong>Daños a Vestimenta del conductor:</strong>Realiza el cambio de
            vestimenta como chaleco, casco etc., en caso de que este se dañe a consecuencia de un siniestro vial
          </li>
          <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                width="15" height="15"></span><strong>Muerte al conductor:</strong> Recibe una indemnización en caso de
            la muerte o pérdidas orgánicas del conductor
          </li>
        </ul>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>INICIO ¿Dónde contratar Seguros para Motos Italika?<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5 pb-5">
        <strong class="color-camiones  title-content-two tam">
          ¿Dónde contratar Seguros para Motos Italika?
        </strong>
      </h2>
      <p>A través de Ahorraseguros.mx encuentra diferentes opciones de aseguradoras que podrán ofrecer el mejor seguro
        para motos Italika, además de contratarlo de una manera sencilla y práctica mientras cotizas con precios
        competitivos.</p>

      <p>Cotiza, a través del comparador de seguros más importante en América Latina, seguros para motos Italika con las
        siguientes aseguradoras:</p>


      <div class="row " style="display: flex;align-items: center; justify-content: center;">

        <div class="col-12 col-sm-12 col-md-4 col-lg-3 text-center py-3 mx-auto">
          <div class="card-color1 py-3 " style="width: 100%; height: 100%;">
            <div class="card-body">
              <img loading="lazy" :src="this.$store.state.config.imgen + '1.svg'" alt="Seguro de uber" width="184"
                height="14" class="img-fluid">

            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 text-center py-3">
          <div class="card-color1 py-3 " style="width: 100%; height: 100%;">
            <div class="card-body">
              <img loading="lazy" :src="this.$store.state.config.imgen + '2.svg'" alt="Seguro de uber" width="184"
                height="94" class="img-fluid">


            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4  col-lg-3 text-center py-3">
          <div class="card-color1  py-3 " style="width: 100%; height: 100%;">
            <div class="card-body pb-auto">
              <img loading="lazy" :src="this.$store.state.config.imgen + '3.svg'" alt="Seguro de uber" width="164"
                height="94" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 text-center ">
          <div class="card-color1 " style="width: 94%; height: 100%;">
            <div class="card-body pt-5 pb-5">
              <img loading="lazy" :src="this.$store.state.config.imgen + '4.svg'" alt="Seguro de uber" width="200"
                height="164" class="img-fluid">


            </div>
          </div>
        </div>
      </div>

      <div class="row " style="display: flex;align-items: center; justify-content: center;">
        <div class="col-12 col-md-4 col-lg-3 text-center py-3">
          <div class="card-color1 py-3 " style="width: 100%; height: 100%;">
            <div class="card-body">
              <img loading="lazy" :src="this.$store.state.config.imgen + '5.svg'" alt="Seguro de uber" width="154"
                height="64" class="img-fluid">


            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 text-center py-3">
          <div class="card-color1 py-3 " style="width: 100%; height: 100%;">
            <div class="card-body pt-0">
              <img loading="lazy" :src="this.$store.state.config.imgen + '6.svg'" alt="Seguro de uber" width="100"
                height="64" class="img-fluid ">

            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 text-center py-3">
          <div class="card-color1 py-3 " style="width: 100%; height: 100%;">
            <div class="card-body pt-0">
              <img loading="lazy" :src="this.$store.state.config.imgen + '7.svg'" alt="Seguro de uber" width="164"
                height="64" class="img-fluid">


            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- ==========>INICIO  ¿Cuánto cuesta el seguro para moto Italika?<====== -->
    <div class="container-fluid mt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Cuánto cuesta el seguro para moto Italika?
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0  text-left">
          <p>Los seguros para motos Italika cuestan en promedio entre $6,234 a $14,567 anuales.</p>

          <p>Al cotizar con Ahorraseguros.mx tus seguros para motos Italika podrás obtener cotizaciones de tu póliza con
            más de 7 aseguradoras en México que ofrecen seguros para este tipo de vehículo.</p>

          <p>Compara y contrata la opción que se mejor se adecue a tus necesidades y presupuesto.</p>

          <p>Para cotizar tu seguro para moto Italika deberás compartir:</p>

          <ul>
            <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Modelo, año, marca de la moto

            </li>
            <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Edad, género y domicilio del asegurado
            </li>
            <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Cobertura contratada
            </li>
            <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Extensiones de seguros contratadas
            </li>
            <li class="pt-2"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Sumas aseguradas y deducibles
            </li>
          </ul>
          <p>En promedio los seguros para motos Italika en 2022 cuestan:</p>

        </div>
        <div class="table-responsive pt-4" align="center">
          <table class=" table-striped " style="width: 30% !important;">
            <thead class="encabezadoT ">
              <tr>
                <th class="pt-2 pb-2 tableBorderI pl-0" scope="col">Modelo</th>
                <th scope="pt-2 pb-2 col">Amplia</th>
                <th scope="pt-2 pb-2 col">Limitada</th>
                <th class="pt-2 pb-2 tableBorderF" scope="col"> RC</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="borderTh" >
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class=" pl-2 text-center"></td>
                <td class=" pl-2 text-center"></td>
                <td class="tableBorderF text-center"></td>
              </tr>
              <tr class="borderTh " style="visibility: hidden;">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class=" pl-2 text-center">.</td>
                <td class=" pl-2 text-center"></td>
                <td class="tableBorderF text-center"></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Italika 125</td>
                <td class=" pl-2 text-center">$14,567</td>
                <td class=" pl-2 text-center">$11,458</td>
                <td class="tableBorderF text-center">$6,234</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- ==========>   Coberturas Adicionales para Seguros de Motos<====== -->
    <div class="container-fluid mt-3">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Coberturas Adicionales para Seguros de Motos
        </strong>
      </h2>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0 pt-lg-5 text-left">
          <p>Crea un plan de protección total a través de la contratación de coberturas adicionales.</p>

          <p>Obtén un seguro personalizado y funcional para tu estilo de vida, al contratar las siguientes opciones:</p>

        </div>

        <div class="col-12 col-md-6 my-auto text-left">
          <p> Y te puedes preguntar en qué consiste un daño ecológico, y en lo que consiste es en afectar: </p>
          <ul>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Exceso de Responsabilidad Civil:</strong> Incremento a la suma
              asegurada que se estableció en la cláusula de Responsabilidad Civil

            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Seguro de llantas: </strong>Repone tus llantas ante cualquier
              daño
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Cirugía estética por accidente de tránsito:</strong> Si derivado
              de un accidente de tránsito requieres cirugía reconstructiva podrás obtener un reembolso de los gastos
              derivados de este procedimiento
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Robo parcial:</strong>Indemnización por partes sustraídas de la
              moto
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Equipo especial:</strong>Cubre accesorios y modificaciones de la
              motocicleta
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Casco y vestimenta de motocicleta:</strong> respaldo por daños a
              tu vestimenta de protección
            </li>
          </ul>

        </div>
        <div class="col-12 col-md-6 pl-1 pr-1 text-center">
          <img :src="this.$store.state.config.imgen + '03.webp'" alt="moto italika" width="500" height="415"
            class="img-fluid">
        </div>
      </div>
    </div>

    <!-- ==========>INICIO Montos asegurados y deducibles del Seguro para Motos Italika<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Montos asegurados y deducibles del Seguro para Motos Italika
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0  text-left">
          <p>A continuación te compartimos las sumas aseguradas que manejan en promedio los seguros para motocicletas
            Italika.</p>
        </div>
        <div class="table-responsive pt-4" align="center">
          <table class=" table-striped " style="width: 45% !important;">
            <thead class="encabezadoT ">
              <tr>
                <th class="pt-2 pb-2 tableBorderI pl-0" scope="col">Cobertura</th>
                <th scope="pt-2 pb-2 pl-0 text-left">Monto Asegurado</th>
                <th class="pt-2 pb-2 tableBorderF" scope="col"> Deducible</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="borderTh " style="visibility: hidden;">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class=" pl-2 text-center">.</td>
                <td class=" pl-2 text-center"></td>
                <td class="tableBorderF text-center"></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class=" pl-5 text-left"></td>
                <td class="tableBorderF text-left"></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Robo total</td>
                <td class=" pl-5 text-left">Valor Comercial</td>
                <td class="tableBorderF text-left">10%</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Daños Materiales</td>
                <td class=" pl-5 text-left">Valor Comercial</td>
                <td class="tableBorderF text-left">5%</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Gastos Médicos</td>
                <td class=" pl-5 text-left">$200,000 mxn (Promedio)</td>
                <td class="tableBorderF text-left">Amparado</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Responsabilidad Civil</td>
                <td class=" pl-5 text-left">$1,000,000 mxn a $3,000,000 mxn</td>
                <td class="tableBorderF text-left">Amparado</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO  ¿Cuáles son los Beneficios de contratar un Seguro para Moto?<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Cuáles son los Beneficios de contratar un Seguro para Moto?
        </strong>
      </h2>
      <p>En Ahorraseguros.mx tenemos convenio con las aseguradoras más importantes a nivel nacional, por lo que, al
        contratar tu seguro para moto Italika podrás tener beneficios exclusivos como:</p>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '04.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-md-0 pt-lg-6 text-left">

          <ul>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Respaldo económico y de asistencia ante siniestros viales, donde compartirán la responsabilidad de los
              gastos derivados con el seguro.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Sumas aseguradas que respalden atención médica o incluso la muerte.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Seguros que se adaptan al uso que le brindas a tu moto, si tiene una baja frecuencia de uso probablemente
              solo requieras el seguro básico de Responsabilidad Civil pero si utilizas la moto para conducir avenidas
              concurridas tu nivel de riesgo es mayor por lo que podrías considerar un plan más completo.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Amplia red de ajustadores en todo México.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Protección ante robo.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Servicio de ambulancia terrestre
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Protección en caso de daños materiales en tus bienes
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Promesa de llegar al lugar del incidente en menos de 60 minutos
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Atención a clientes ya sea vía telefónica, chat, etc las 24 horas del día
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Algunas de estas compañías cuentan con apps o portales en sus páginas web para poder realizar diferentes
              operaciones desde la comodidad de tu hogar, oficina, etc.
            </li>
          </ul>
        </div>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>


    <!-- ==========>INICIO ¿De qué riesgos me protege el Seguro para Motos? <====== -->
    <div class="container-fluid mt-3">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿De qué riesgos me protege el Seguro para Motos?
        </strong>
      </h2>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0 pt-lg-5 text-left">
          <p>Todas las coberturas de los seguros para motos Italika están estratégicamente diseñados, por expertos en
            riesgos, para reducir un impacto de pérdida durante un siniestro, ofreciendo las mejores asistencias y sumas
            aseguradas funcionales para cubrir:</p>
        </div>
        <div class="col-12 col-md-6 my-auto text-left">
          <ul>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Choques.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Robo total o robo parcial con o sin violencia</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Daños materiales a tu vehículo ocasionados por choques o volcaduras
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Caída de objeto
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Rayo
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Incendio
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Desastres naturales
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Vandalismo
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Gastos médicos por lesiones
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Reparaciones en agencia
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Pago de fianzas
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Asistencia legal
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Pago de multas
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Asistencias en viajes
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Moto varada
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img :src="this.$store.state.config.imgen + '05.webp'" alt="moto italika" width="500" height="415"
            class="img-fluid">
        </div>
      </div>
    </div>

    <!-- ==========>INICIO  Métodos de Pago para contratar Seguros para Motos<====== -->
    <div class="container-fluid mt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Métodos de Pago para contratar Seguros para Motos
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '06.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="366" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-md-0 pt-lg-6 text-left ">
          <p>Con Ahorraseguros.mx contrata tu seguro para motocicleta Italika a través de los métodos de pago más
            comunes. Durante tu cotización obtén promociones y descuentos únicos, los cuales te permitirán contratar tu
            seguro de una forma sencilla y segura.</p>

          <p>Algunos de los métodos de pago disponibles son:</p>
          <ul>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Tarjeta de Crédito
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Tarjeta de Débito
            </li>

          </ul>
        </div>

      </div>
    </div>

    <!-- ==========>Requisitos para contratar Seguros para Motos Italika<====== -->
    <div class="container-fluid mt-3 ">
      <div class="col-12  text-left text-sm-left text-md-center">
        <h2 class="mt-0 display-5">
          <strong class="color-auto  title-content-two tam">
            Requisitos para contratar Seguros para Motos Italika
          </strong>
        </h2>

        <div class="row text-left">
          <p>¡Obtén tu póliza hoy mismo vía correo electrónico!, una vez que hayas comparado todas las opciones del
            seguro para motos para asegurar tu moto Italika, deberás compartir la documentación necesaria para comenzar
            con el trámite de adquisición.</p>

          <p>Algunos de los documentos son:</p>

          <div class=" col-12 py-3 pl-0 pl-md-3 pt-5 pt-md-3">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6 pl-0 pr-0 pl-md-0 pr-md-5">
                <div class="card cradCont cardIcon tamcard" style="height: 84%;">
                  <div class="icon">
                    <img loading="lazy" :src="this.$store.state.config.imgen + '05.svg'" alt="moto italika" width="50"
                      height="50" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <!-- <h3>Perfil del Contratante</h3> -->
                    <ul class="">
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Nombre completo.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        RFC de persona física.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Identificación oficial.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Comprobante de domicilio.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Código postal.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Teléfono.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Correo electrónico.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Licencia de conducir.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Ser mayor de 18 años.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6  pl-0 pr-0 pl-md-5 pr-md-0">
                <div class="card cradCont cardIcon tamcard" style="width: 100%; height: 84%;">
                  <div class="icon">
                    <img loading="lazy" :src="this.$store.state.config.imgen + '06.svg'" alt="moto italika" width="50"
                      height="50" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <!-- <h3>Perfil del Contratante</h3> -->
                    <ul class="">
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Marca nacional o importada por la armadora.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Modelo.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Año.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Versión.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Color.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Número de serie
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Placas
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO Con Ahorra Seguros cotiza ¡Seguros para Motos Comerciales!<====== -->
    <div class="container-fluid mt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Con Ahorra Seguros cotiza ¡Seguros para Motos Comerciales!
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <div class="row">
            <div class="col-12 col-md-6 my-auto text-left pl-0 ml-0 pr-5">
              <p>Uno de los principales usos de las motos Italika son para fines comerciales, para ello existen pólizas
                especializadas para proteger a las motocicletas que se emplean como vehículos repartidores de mercancía,
                correo, delivery, etc.</p>

              <p>Estos aplican para:</p>

              <ul class="">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Motos de mensajería.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Repartidores de delivery (Uber eats, Rappi, Didi food).
                 </li>

            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Motos de aseguradoras.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Correo.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Flotillas de motos empresariales.
            </li>
          </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
              <img :src="this.$store.state.config.imgen + '07.webp'" alt="moto italika" width="500" height="315"
                class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- ==========>INICIO ¿Cómo Utilizar mi Seguro para Motos?<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5">
        <strong class="color-camiones  title-content-two tam">
          ¿Cómo Utilizar mi Seguro para Motos?
        </strong>
      </h2>

      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>¡Obtén asistencia ante siniestros las 24 horas del día los 365 días del año!, una vez contratado tu seguro
            para motos, podrás hacer uso del mismo a partir de la fecha de contratación, por lo que, en caso de verte
            involucrado ante cualquier siniestro deberás seguir los siguientes pasos para acceder a los beneficios que
            tu póliza de seguros te ofrece:</p>
          <ul class="">
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Comunícate de forma inmediata con tu aseguradora para que esta pueda enviar el apoyo necesario a través de
              un ajustador de seguros
            </li>
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Utiliza los diferentes medios disponibles para reportar un siniestro, ya sea a través vía telefónica o por
              las aplicaciones móviles de cada aseguradora </li>
            <li class="pt-3"><span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Sigue en tiempo real la localización de tu ajustador de seguros

            </li>
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              En caso de existir heridos de gravedad, deberás comunicarte de inmediato a teléfonos de emergencia como el
              911
            </li>
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Evita mover tu vehículo, de esta manera no tendrás mayor problema a la hora de que lleguen los ajustadores
              a evaluar la situación, en caso de tener que hacerlo trata de tomar toda la evidencia posible sobre el
              accidente, videos, fotos, etc.
            </li>
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              No hagas ningún trato personal con las demás personas implicadas ni aceptar ninguna responsabilidad
              mientras esperas a tu ajustador
            </li>
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              El ajustador será el que se encargará de emitir las órdenes de pago para ti o las terceras personas y el
              que les indicará la forma de proceder del servicio.
            </li>


          </ul>

        </div>
      </div>
    </div>


    <!-- ==========>INICIO Todos tus trámites al Alcance de tu Celular<====== -->
    <!-- <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5">
        <strong class="color-camiones  title-content-two tam">
          ¿Cómo Utilizar mi Seguro para Motos?
        </strong>
      </h2>

      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>Actualmente las aseguradoras que ofrecen los seguros para motos Italika han creado aplicaciones para
            dispositivos móviles los cuales podrás descargar de forma gratuita a través de tu tienda de apps.</p>

          <p>A través de estas herramientas podrás realizar trámites o consultar información relevante de tu póliza de
            forma digital a dónde vayan.</p>

          <p>Entre las principales funciones de estas apps se encuentran:</p>

        </div>
      </div>
    </div> -->


    <!-- ==========>INICIO  Todos tus trámites al Alcance de tu Celular<====== -->
    <div class="container-fluid mt-3 ">
      <div class="col-12 text-left text-sm-left text-md-center">

        <h2 class="mt-0 display-5">
          <strong class="color-auto  title-content-two tam">
            Todos tus trámites al Alcance de tu Celular
          </strong>
        </h2>
        <div class="row pt-5">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left mx-auto">
            <p>Actualmente las aseguradoras que ofrecen los seguros para motos Italika han creado aplicaciones para
              dispositivos móviles los cuales podrás descargar de forma gratuita a través de tu tienda de apps.</p>

            <p>A través de estas herramientas podrás realizar trámites o consultar información relevante de tu póliza de
              forma digital a dónde vayan.</p>

            <p>Entre las principales funciones de estas apps se encuentran:</p>

          </div>
          <div class="row text-center" style="display: flex;align-items: center; justify-content: center;">
            <div class="col-12 col-md-4 col-lg-4 text-center py-3 ">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '07.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Reportar un siniestro o choque inmediatamente.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '08.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Solicitar apoyo médico y vial.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4  col-lg-4 text-center py-3">
              <div class="card-color1  py-3 d-block m-auto">
                <div class="card-body pb-auto">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '09.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Ver la ruta y llegada de tu ajustador en tiempo real.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3 mx-auto">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '10.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Revisar tu póliza en digital.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '11.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Pagar el seguro.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '12.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Contratar coberturas adicionales.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '13.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Ubicar redes médicas, hospitales en convenio, etc.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '14.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Consultar todos los beneficios a los que tienes acceso</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '15.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Localizar oficinas de la aseguradora, bomberos, ministerios públicos,
                    corralones y gasolineras</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '16.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Guarda documentos importantes como tarjeta de circulación, licencia de
                    conducir, etc.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>INICIO Recomendaciones al Viajar en Moto<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5">
        <strong class="color-camiones  title-content-two tam">
          Recomendaciones al Viajar en Moto
        </strong>
      </h2>

      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>Además de contratar para tu moto Italika un seguro, es importante conocer otras medidas de seguridad para
            así evitar tener un siniestro o reducir el nivel de riesgo que pueda ocasionar el que te enfrentes ante un
            accidente.</p>
          <p>Algunas de las recomendaciones son:</p>

          <ul class="">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Uso en todo momento de casco, guantes y ropa protectora.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Respetar las señalizaciones viales.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>No circular a exceso de velocidad.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>No usar vialidades no permitidas para motocicletas o motos de baja potencia.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>No conducir bajo los efectos del alcohol o estupefacientes.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Revisar el buen estado y funcionamiento del vehículo.
            </li>
          </ul>
        </div>
      </div>
    </div>

       <!-- ==========>INICIO ¿Cuál es la Importancia de contratar Seguros para Motos?<====== -->
       <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5">
        <strong class="color-camiones  title-content-two tam">
          ¿Cuál es la Importancia de contratar Seguros para Motos?
        </strong>
      </h2>

      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>Contratar el Seguro para Motos es obligatorio para poder transitar dentro de las vialidades de todo el
            país, a partir del año 2019, es un requisito obligatorio tener contratada una póliza de Responsabilidad
            Civil.</p>

          <p>Sin importar la cilindrada de tu moto, el contar con un seguro es obligatorio para poder circular, de lo
            contrario podrías ser acreedor a una multa o incluso a que tu motocicleta caiga en el corralón, según lo
            estipula la Ley de Caminos, Puentes y Autotransporte.</p>

          <p>Las sanciones se realizarán conforme a cada estado de la república donde te encuentres, esta multa podrá ir
            de los 20 hasta los 40 días de salario mínimo, un promedio de $1400 a $1800, monto que incluso puede ser
            mayor al costo de un seguro básico estandarizado en cualquier compañía de seguros.</p>

          <p>El objetivo principal de contar con un Seguro para moto Italika es garantizar que el conductor cuenta con
            los fondos necesarios para cubrir la reparación de gastos de daños materiales o de gastos médicos para
            lesiones corporales, además de también proteger su patrimonio e integridad.</p>


        </div>
      </div>
    </div>
    <!-- ==========>INICIO ¡Obtén el Mejor Seguro para Motos con Ahorra Seguros!<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5">
        <strong class="color-camiones  title-content-two tam">
          ¡Obtén el Mejor Seguro para Motos con Ahorra Seguros!
        </strong>
      </h2>

      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>A través de Ahorraseguros.mx cotiza las mejores opciones del seguro para moto Italika, encuentra las
            mejores ofertas y coberturas en menos de un minuto. </p>

          <p>Nuestro comparador busca en tan sólo 10 segundos entre todas las aseguradoras y coberturas disponibles en
            el mercado para encontrar la más adecuada para ti y tu moto.</p>

          <p>Hacerlo es fácil, rápido y completamente seguro, así que no esperes más y comienza a cuidar de la seguridad
            de tu patrimonio y tu vida. </p>

          <p>Algunos de los Beneficios de utilizar el cotizador de Ahorraseguros.mx son:</p>

          <ul class="">
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Resultados rápidos: </strong>en tan solo minutos podrás realizar la
              comparación de seguros para motos con las aseguradoras más importantes registradas ante la Comisión
              Nacional de Seguros y Fianzas
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Comodidad:</strong> Olvídate de trasladarte hasta las oficinas de los
              seguros o de larga espera en el teléfono de atención a clientes, a través del cotizador de
              Ahorraseguros.mx podrás cotizar tu póliza en cualquier lugar del mundo al alcance de tu celular o
              computadora.
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Precios únicos: </strong>Obtén promociones y beneficios exclusivos al
              contratarlo</li>
            <li class="pt-4"><span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Comparación:</strong> Por recomendación de la CONDUSEF, debes comparar con al menos 3 aseguradoras diferentes
              antes de contratar tu seguro para moto, a través de un simulador podrás realizar dicha comparación en
              menos tiempo y de forma eficiente.
            </li>
          </ul>
        </div>    
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
  <div class="row pb-5">
    <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
      <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
        :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
        <span class="text-white ltdBoton">Cotiza gratis
          <svg class="icons">
            <use xlink:href="#proximo" />
          </svg>
        </span>
      </a>
    </div>
  </div>
  <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>
 

    <!-- ==========>INICIO Preguntas Frecuentes<====== -->
    <div classs="contiainer-fluid pt-5">
  <div class="row text-left pl-md-3 pl-3 pr-3 pt-5">
    <div class="col-12 py-3 px-md-5 pt-2">
      <h2 class="colorTittle pb-4 text-center">Preguntas Frecuentes:</h2>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="">
        <h2 class="handle faq_question">
          ¿El Seguro para Motos es Obligatorio?
         
        </h2>
        <div class="preguntas">
          <p>Sí, en la mayoría de los estados de la república tener un seguro para motos es un requisito básico para poder conducir</p>
        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
       <section class="">
        <h2 class="handle faq_question">
          ¿Qué incluye la Asistencia Vial del Seguro para Moto?
        </h2>
        <div class="preguntas faq_answer">
          <p>Envío de gasolina, cambio de neumático, cerrajero, envío de grúa</p>
        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="" :id="this.$store.state.config.id_q4">
        <h2 class="handle faq_question">
          ¿Cuál es el Seguro para Motos Italika más económico?
        </h2>
        <div class="preguntas faq_answer">
          <p>Todas las opciones del seguro básico estandarizado son consideradas como el seguro para motos más accesible</p>

        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="" :id="this.$store.state.config.id_q4">
        <h2 class="handle faq_question">
          ¿Cómo renovar mi seguro de moto?
        </h2>
        <div class="preguntas faq_answer">
          <p>Realiza tu renovación automática o de forma manual un mes antes de la fecha de vigencia</p>
        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="" :id="this.$store.state.config.id_q4">
        <h2 class="handle faq_question">
          ¿Cuál es la vigencia del seguro de Moto?
        </h2>
        <div class="preguntas faq_answer">
          <p>Un año a partir de la fecha de contratación</p>

        </div>
      </section>
    </div>

  </div>

</div>
<!-- ==========>FIN Preguntas Frecuentes<====== -->
  </div>


</template>
<script>
export default {
  beforeCreate() {
      if (typeof window !== 'undefined') {
     this.$store.state.config.btnTop =typeof window.location.href;
    }
    let cadena = this.$store.state.config.btnTop;
    let primero = cadena.search("#formcotizar")
    let separado;
    let cad2 = "";
    // se le quita el ultimo
    if (primero) {
      separado = cadena.substring(primero + 0, cadena.length).split("#formcotizar")
      separado.forEach(element => {
        cad2 += element.replaceAll("#formcotizar", "")
      });
    }
    cadena = cadena.substring(0, primero + 0) + cad2
    cadena = cadena.split(' ').join(' ').trim();
    this.$store.state.config.btnTop = cadena;
}
}
</script>
