<template>
  <div>

    <!-- ==========>¡Cotiza con Seguros Azteca tu Seguro para Moto!<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          ¡Cotiza con Seguros Azteca tu Seguro para Moto!
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <p>Con Seguros Azteca obtén la mayor protección al momento de contratar tu seguro para moto, obtén beneficios
            exclusivos para motos italika y la cobertura obligatoria para todo tipo de marcas y modelos de motocicletas.
          </p>

          <p>A través de Seguros Azteca obtén las coberturas más económicas del mercado asegurador, cotiza tu seguro a
            través de las diferentes alianzas comerciales de esta aseguradora, incluido Ahorraseguros.mx donde podrás
            contratar tu póliza en menos de un minuto y con precios competitivos.</p>

          <p>Obtén protección total y continúa viajando con la tranquilidad de que tu moto e integridad se encuentran
            respaldados por una de las mejores opciones de seguros.</p>

        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '01.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>INICIO DE TABLA¿Cuáles son las Coberturas de los Seguros para Motos Azteca?<====== -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 pt-5 mt-4 text-center px-md-5 pb-5">
          <h2>
            <strong>¿Cuáles son las Coberturas de los Seguros para Motos Azteca?</strong>
          </h2>


        </div>
         <div class="table-responsive pt-4" align="center">
            <table class=" table-striped ">
            <thead class="encabezadoT">
              <tr>
                <th style="padding-left: 0px;padding-right: 0px;" class="text-center col-2 tableBorderI text-left pt-0"
                  scope="col">Cobertura </th>
                <th style="padding-left: 0px;padding-right: 0px;" class="text-center col-2" scope="col">Paquete Amplio
                  (Motos Italika)</th>
                <th style="padding-left: 0px;padding-right: 0px;" class="text-center col-2" scope="col">Paquete Limitado
                  (Motos Italika) </th>
                <th style="padding-left: 0px;padding-right: 0px;" class="text-center col-3" scope="col">Paquete
                  Responsabilidad Civil (Motos Italika)</th>
                <th style="padding-left: 0px;padding-right: 0px;" class="tableBorderF text-center col-3" scope="col">
                  Responsabilidad Civil Daños a Terceros (Motos Italika)
                </th>
              </tr>
            </thead>
            <tbody class="tam">

              <tr class="borderTh"></tr>

              <tr class="borderTh " style="visibility: hidden;">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class=" pl-2 text-center">.</td>
                <td class=" pl-2 text-center"></td>
                <td class="tableBorderF text-center"></td>
              </tr>
              <tr class="tablaC">
                <th class="tableBorderI text-left" scope="row">Pérdida total por accidente</th>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF text-center">
                  <span>X</span>
                </td>
              </tr>
              <tr>
                <th class="tableBorderI text-left" scope="row">Robo Total</th>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF text-center">
                  <span>X</span>
                </td>
              </tr>
              <tr class="tablaC">
                <th class="tableBorderI text-left" scope="row">Responsabilidad Civil Daños a Terceros</th>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="tableBorderF text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
              </tr>
              <tr>
                <th class="tableBorderI text-left" scope="row">Gastos Legales</th>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
              </tr>
              <tr class="tablaC">
                <th class="tableBorderI text-left" scope="row">Asistencia Vial</th>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF text-center">
                  <span>X</span>
                </td>
              </tr>
              <tr>
                <th class="tableBorderI text-left" scope="row">Reembolso de Gastos Médicos</th>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF text-center">
                  <span>X</span>
                </td>

              </tr>
              <tr class="tablaC">
                <th class="tableBorderI text-left" scope="row">
                  Pérdidas Orgánicas
                </th>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF text-center">
                  <span>X</span>
                </td>

              </tr>
              <tr>
                <th class="tableBorderI text-left" scope="row">
                  Muerte
                </th>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF text-center">
                  <span>X</span>
                </td>
              </tr>
              <tr class="tablaC">
                <th class="tableBorderI text-left" scope="row">Pérdida total por accidente</th>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF text-center">
                  <span>X</span>
                </td>
              </tr>
              <tr class="tablaC">
                <th class="tableBorderI text-left" scope="row">Robo Total</th>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF text-center">
                  <span>X</span>
                </td>
              </tr>
              <tr>
                <th class="tableBorderI text-left" scope="row">
                  Accidental
                </th>
                <td class="text-center">
                  <span></span>
                </td>
                <td class="text-center">
                  <span></span>
                </td>
                <td class="text-center">
                  <span></span>
                </td>
                <td class="tableBorderF text-center">
                  <span></span>
                </td>
              </tr>
              <tr>
                <th class="tableBorderI text-left" scope="row">
                  Servicio Funerario
                </th>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="text-center">
                  <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF text-center">
                  <span>X</span>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    </div>
    <!-- ==========>OPCION VISTA MOCKUP DE LA TABLA<====== -->
    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-12 pt-5 mt-4 text-center px-md-5 pb-5">
          <h2>
            <strong>¿Cuáles son las Coberturas de los Seguros para Motos Azteca?</strong>
          </h2>


        </div>
        <table class="table-responsive table table-striped pt-5 ">
          <thead class="encabezadoT">
            <tr>
              <th style="padding-left: 0px;padding-right: 0px;" class="text-center col-2 tableBorderI text-left pt-0"
                scope="col">Cobertura </th>
              <th style="padding-left: 0px;padding-right: 0px;" class="text-center col-2" scope="col">Paquete Amplio
                (Motos Italika)</th>
              <th style="padding-left: 0px;padding-right: 0px;" class="text-center col-2" scope="col">Paquete Limitado
                (Motos Italika) </th>
              <th style="padding-left: 0px;padding-right: 0px;" class="text-center col-3" scope="col">Paquete
                Responsabilidad Civil (Motos Italika)</th>
              <th style="padding-left: 0px;padding-right: 0px;" class="tableBorderF text-center col-3" scope="col">
                Responsabilidad Civil Daños a Terceros (Motos Italika)
              </th>
            </tr>
          </thead>
          <tbody class="tam">

            <tr class="borderTh" ></tr>
         
              <tr class="borderTh " style="visibility: hidden;">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class=" pl-2 text-center">.</td>
                <td class=" pl-2 text-center"></td>
                <td class="tableBorderF text-center"></td>
              </tr>
            <tr class="tablaC">
              <th class="tableBorderI text-left" scope="row">Protección para Daños a Terceros sin Responsabilidad</th>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="tableBorderF text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
            </tr>
            <tr>
              <th class="tableBorderI text-left" scope="row">Adaptación</th>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="tableBorderF text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
            </tr>
            <tr class="tablaC">
              <th class="tableBorderI text-left" scope="row">Maniobras de Carga y Descarga</th>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="tableBorderF text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
            </tr>
            <tr>
              <th class="tableBorderI text-left" scope="row">Equipo Especial</th>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
            </tr>
            <tr class="tablaC">
              <th class="tableBorderI text-left" scope="row">Arrastre de Remolque</th>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="tableBorderF text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
            </tr>
            <tr>
              <th class="tableBorderI text-left" scope="row">Responsabilidad Civil Ocupantes</th>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="tableBorderF text-center">
                <span>OPCIONAL</span>
              </td>

            </tr>
            <tr class="tablaC">
              <th class="tableBorderI text-left" scope="row">
                Responsabilidad Cruzada
              </th>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="tableBorderF text-center">
                <span>OPCIONAL</span>
              </td>

            </tr>
            <tr>
              <th class="tableBorderI text-left" scope="row">
                Muerte del Conductor por Accidente Automovilistico
              </th>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="tableBorderF text-center">
                <span>OPCIONAL</span>
              </td>
            </tr>
            <tr class="tablaC">
              <th class="tableBorderI text-left" scope="row">Responsabilidad Civil Complementaria Personas</th>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="tableBorderF text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
            </tr>
            <tr>
              <th class="tableBorderI text-left" scope="row">
                Gastos por Pérdida de uso en Caso de Pérdida Parcial/Total
              </th>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
              <td class="tableBorderF text-center">
                <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                    height="15" /></span>
              </td>
            </tr>
            <tr>
              <th class="tableBorderI text-left" scope="row">
                Exención de Deducible por Pérdida Total de Daños Materiales y Robo Total
              </th>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="text-center">
                <span>OPCIONAL</span>
              </td>
              <td class="tableBorderF text-center">
                <span>OPCIONAL</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->


    <!-- ==========>INICIO ¿Cómo funcionan las coberturas de los Seguros para Motos?<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          ¿Cómo funcionan las coberturas de los Seguros para Motos?
        </strong>
      </h2>

      <div class="row pt-5">
        <p>Con los Seguros para Motos de Banco Azteca podrás recibir sumas aseguradas y asistencia inmediata para
          poder responder ante cualquier siniestro que suceda durante tus viajes, a través de sus coberturas podrás
          obtener:</p>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '02.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">

          <ul class="">
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Responsabilidad civil:</strong>Cobertura ante daño materiales y
              personales
              a terceros
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Gastos Médicos:</strong> cubre todos los gastos médicos
              derivados de un
              accidente de auto tanto para el conductor como para los pasajeros, tales como gastos hospitalarios,
              honorarios médicos, medicamentos, estudios, etc.
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Robo total o pérdida total:</strong>El seguro otorga una
              indemnización en
              caso de robo o daño total, este puede ser calculado con base al valor de factura
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Asistencia vial:</strong>Se otorgará apoyo en caso de de fallas
              mecánicas,
              daños en llantas, envío de gasolina, entre otros.
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Asistencia legal:</strong> En caso de enfrentar alguna situación
              frente a
              autoridades tales como el ministerio público tendrás apoyo jurídico por parte de la aseguradora.
            </li>

          </ul>
        </div>
        <ul>
          <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                width="15" height="15"></span><strong>Pérdidas orgánicas:</strong>Si el conductor de la moto sufriera
            pérdidas de
            manos, pies, sentido de la vista, entre otros, recibiría una indemnización con base a las sumas
            contratadas
          </li>
          <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                width="15" height="15"></span><strong>Muerte Accidental:</strong>Obtén un seguro de vida en caso de
            muerte, es
            decir, los familiares recibirán una indemnización por la muerte repentina del conductor
          </li>
          <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                width="15" height="15"></span><strong>Servicio Funerario:</strong>En caso de muerte, podrás tener acceso
            a
            asistencias funerarias como traslado de cuerpo, sala de velación, etc.
          </li>

        </ul>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>INICIO  ¿Ante qué me protegen los Seguros para Motos Azteca?<====== -->

    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          ¿Ante qué me protegen los Seguros para Motos Azteca?
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-6 pt-md-0 pt-lg-6 text-left">
          <p>Al contratar seguros para motos con Banco Azteca, tendrás protección total ante los siniestros más comunes
            como:</p>
          <ul>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Accidentes por choque o volcadura.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Gastos médicos por lesiones para el conductor
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Protección de responsabilidad civil por daños a terceros y acompañantes.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Indemnización por robo total de la unidad.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Indemnización por pérdida total de tu motocicleta por robo o daños materiales
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Daños materiales por vandalismo.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Daños por accidentes o desastres naturales.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Protección a mercancías y objetos personales.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Defensa y asesoría legal.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Fallas mecánicas en ciudad y autopista.
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '03.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
      </div>
    </div>


    <!-- ==========>INICIO ¿Dónde contratar Seguros para Motos Azteca?<====== -->

    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5 pb-5">
        <strong class="color-camiones title-content-two">
          ¿Dónde contratar Seguros para Motos Azteca?
        </strong>
      </h2>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>Cotiza, compara y contrata Seguros para motos Azteca a través del cotizador #1 en América Latina,
            Ahorraseguros.mx.</p>

          <p>Somos un agente autorizado que podrá ofrecerte cada una de las coberturas disponibles en esta aseguradora
            así como brindar precios y descuentos exclusivos al momento de contratarlo.</p>

          <p>¡Cotiza siguiendo los siguientes pasos!</p>
          <ul>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Ingresa a Ahorraseguros.mx
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Selecciona la sección “Seguros para Motos”
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Ingresa los datos que solicita el formulario: Marca, modelo, año y versión del vehículo, nombre del
              asegurado, edad y domicilio. Finalmente deberás compartir tus datos de contacto como correo electrónico y
              número de celular.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              En menos de un minuto, Ahorra Seguros te compartirá la información del seguro para motos de Banco Azteca
              que ofrece, como precio, coberturas, beneficios, etc.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Para brindarte mayor información un ejecutivo de Ahorra Seguros te acompañará en todo momento para
              resolver dudas
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Contrata tu seguro de manera inmediata y recibe tu póliza de seguro para motos hoy mismo en tu correo
              electrónico
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              ¡Estás listo para manejar con protección!
            </li>
          </ul>
        </div>
        <p>Cotizar tu seguro para moto con Ahorra Seguros es fácil y gratis.</p>
      </div>
    </div>

    <!-- ==========>INICIO  RCoberturas Adicionales para tu Seguro de Moto Azteca<====== -->

    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          Coberturas Adicionales para tu Seguro de Moto Azteca
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '04.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-md-0 pt-lg-6 text-left">
          <p>Obtén mayor protección, complementando tu póliza inicial con coberturas extras como:</p>
          <ul>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Muerte accidental
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Pérdidas Orgánicas
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Servicio Funerario
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Reembolso de Gastos Médicos
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- ==========>INICIO ¿Cuánto cuestan los Seguros para Motos en Banco Azteca?<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          ¿Cuánto cuestan los Seguros para Motos en Banco Azteca?
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0  text-left">
          <p>Seguros Azteca se ha distinguido por ofrecer servicios de protección a la mayoría de las personas que
            anteriormente no contaban con los medios suficientes para alcanzar este tipo de servicios.</p>
          <p>Es por ello que todas las opciones de protección que ofrecen son las más económicas en el mercado, además
            de que podrás contar con descuentos adicionales al contratar tu seguro para moto a través de
            Ahorraseguros.mx</p>
          <p>El precio de cada póliza de seguros para motos Italika es totalmente personalizada, para ello es necesario
            conocer
          </p>

          <ul>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Edad, género y código postal del asegurado
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Marca, modelo, año y versión de la motocicleta
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Tipo de seguro contratado
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Coberturas Adicionales
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Deducibles y sumas aseguradas
            </li>
          </ul>
          <p>En el caso del seguro de Responsabilidad Civil para cualquier modelo de motocicleta las tarifas son las
            siguientes:</p>

        </div>
        <div class="table-responsive pt-4" align="center">
          <table class=" table-striped " style="width: 45% !important;">
            <thead class="encabezadoT ">
              <tr>
                <th class="pt-2 pb-2 tableBorderI pl-0" scope="col">Estado</th>
                <th scope="pt-2 pb-2 pl-0 text-left">Moto Uso Personal</th>
                <th class="pt-2 pb-2 tableBorderF" scope="col"> Moto Uso Comercial</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="borderTh " style="visibility: hidden;">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class=" pl-2 text-center">.</td>
                <td class=" pl-2 text-center"></td>
                <td class="tableBorderF text-center"></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class=" pl-5 text-left"></td>
                <td class="tableBorderF text-left"></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Baja California</td>
                <td class=" pl-5 text-left">$880-$945 mxn</td>
                <td class="tableBorderF text-left">$1,180-$1,250 mxn</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Resto de la República</td>
                <td class=" pl-5 text-left">$933 mxn</td>
                <td class="tableBorderF text-left">$933-$1,250 mxn</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO Sumas Aseguradas y Deducibles de los Seguros para Motocicletas Azteca<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          Sumas Aseguradas y Deducibles de los Seguros para Motocicletas Azteca
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0  text-left">
          <p>Contrata sumas aseguradas funcionales y deducibles bajos a través del Seguro para Motos de Banco Azteca:
          </p>
        </div>
        <div class="table-responsive pt-4" align="center">
          <table class=" table-striped " style="width: 60% !important;">
            <thead class="encabezadoT ">
              <tr>
                <th class="pt-2 pb-2 tableBorderI pl-0" scope="col">Cobertura</th>
                <th scope="pt-2 pb-2 pl-0 text-left">Deducibles</th>
                <th class="pt-2 pb-2 tableBorderF" scope="col">Sumas Aseguradas</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="borderTh " style="visibility: hidden;">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class=" pl-2 text-center">.</td>
                <td class=" pl-2 text-center"></td>
                <td class="tableBorderF pl-5 text-center"></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class=" pl-5 text-left"></td>
                <td class="tableBorderF pl-5 text-left"></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Pérdida total por accidente</td>
                <td class=" pl-5 text-left">10%</td>
                <td class="tableBorderF pl-5 text-left">Valor Factura</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Robo Total</td>
                <td class=" pl-5 text-left">20%</td>
                <td class="tableBorderF pl-5 text-left">Valor Factura</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Responsabilidad Civil Daños a Terceros</td>
                <td class=" pl-5 text-left">NA</td>
                <td class="tableBorderF pl-5 text-left">$400,000-$500,000</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Gastos Legales</td>
                <td class=" pl-5 text-left">NA</td>
                <td class="tableBorderF pl-5 text-left">Amparada</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Asistencia Vial</td>
                <td class=" pl-5 text-left">NA</td>
                <td class="tableBorderF pl-5 text-left">Amparada</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Reembolso de Gastos Médicos</td>
                <td class=" pl-5 text-left">NA</td>
                <td class="tableBorderF pl-5 text-left">$20,000 mxn</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Pérdidas Orgánicas</td>
                <td class=" pl-5 text-left">NA</td>
                <td class="tableBorderF pl-5 text-left">$50,000 mxn</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Muerte Accidental</td>
                <td class=" pl-5 text-left">NA</td>
                <td class="tableBorderF pl-5 text-left">$50,000 mxn</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Servicio Funerario</td>
                <td class=" pl-5 text-left">NA</td>
                <td class="tableBorderF pl-5 text-left">Amparada</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5 pt-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>INICIO Beneficios de contratar Seguros para Motos<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          Beneficios de contratar Seguros para Motos
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12">

          <p>Con los Seguros para Motos de Azteca obtén beneficios únicos ante una emergencia:</p>
        </div>

        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <ul>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Respaldo económico y de asistencia ante siniestros viales, donde compartirán la
              responsabilidad de los gastos derivados con el seguro.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Sumas aseguradas que respalden atención médica o incluso la muerte.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Seguros que se adaptan al uso que le brindas a tu moto.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Pólizas funcionales para motos de uso personal y uso comercial
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Amplia red de ajustadores en todo México.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Protección ante robo.
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Servicio de ambulancia terrestre
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Protección en caso de daños materiales
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Atención a clientes ya sea vía telefónica, chat, etc las 24 horas del día
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>El Seguro Banco Azteca para Motos cuenta con una app para poder realizar
              diferentes operaciones desde la comodidad de tu hogar, oficina, etc.
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '05.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
      </div>
    </div>

    <!-- ==========>INICIO ¿Cómo funciona la Indemnización por Pérdida total por Daños Materiales o por Robo Total?<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          ¿Cómo funciona la Indemnización por Pérdida total por Daños Materiales o por Robo Total?
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0  text-left">
          <p>Ante la pérdida total de tu vehículo ya sea por robo o daños materiales, obtendrás una indemnización con
            base al valor factura de tu motocicleta, sin embargo, cada año este valor se deprecia, es por ello que
            dependiendo de la antigüedad de tu moto, se calculará el valor sobre el cual se determinará el pago de tu
            indemnización.</p>

        </div>
        <div class="table-responsive pt-4" align="center">
          <table class=" table-striped " style="width: 40% !important;">
            <thead class="encabezadoT ">
              <tr>
                <th class="pt-2 pb-2 tableBorderI pl-0" scope="col">Año</th>
                <th class="pt-2 pb-2 tableBorderF pl-0" scope="col">Valor Porcentual</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="borderTh " style="visibility: hidden;">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class="tableBorderF pl-5 text-center"></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row"></td>
                <td class="tableBorderF pl-5 text-left"></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">1 año</td>
                <td class="tableBorderF pl-5 text-left">100%</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">2 años</td>
                <td class="tableBorderF pl-5 text-left">75%</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">3 años</td>
                <td class="tableBorderF pl-5 text-left">50%</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">4 años</td>
                <td class="tableBorderF pl-5 text-left">45%</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">5 años o más</td>
                <td class="tableBorderF pl-5 text-left">Solo Seguro de Responsabilidad Civil</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO ¿Cuáles son los Métodos de Pago Autorizados para contratar Seguros para Motos Azteca?<====== -->
    <div class="container-fluid mt-3">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          ¿Cuáles son los Métodos de Pago Autorizados para contratar Seguros para Motos Azteca?
        </strong>
      </h2>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0 pt-lg-5 text-left">
        </div>
        <div class="col-12 col-md-6 pl-1 pr-1 text-center">
          <img :src="this.$store.state.config.imgen + '06.webp'" alt="Seguros para Uber" width="500" height="415"
            class="img-fluid">
        </div>
        <div class="col-12 col-md-6 my-auto text-left">
          <p>Comienza a conducir con la mejor protección en motos en México, contratando tu seguro a través de los
            siguientes métodos de pago:</p>
          <ul>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Tarjeta de Crédito</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Tarjeta de Débito</li>
          </ul>
          <p>Al cotizar y comparar seguros para motos con Ahorraseguros.mx obtén descuentos y precios competitivos.
            Mejoramos la cotización de tu seguro.</p>
        </div>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>Requisitos para contratar Seguros para Motos Azteca<====== -->
    <div class="container-fluid mt-3 ">
      <div class="col-12  text-left text-sm-left text-md-center">
        <h2 class="mt-0 display-5">
          <strong class="color-auto title-content-two">
            Requisitos para contratar Seguros para Motos Azteca
          </strong>
        </h2>

        <div class="row text-left">
          <p>¡Contrata con los mínimos requisitos tu seguro para moto! Olvídate de trámites extensos, con solo presentar
            la siguiente documentación podrás disfrutar de una de las mejores opciones de seguros en México:</p>


          <div class=" col-12 py-3 pl-0 pl-md-3 pt-5 pt-md-3">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6 pl-0 pr-0 pl-md-0 pr-md-5">
                <div class="card cradCont cardIcon tamcard" style="height: 84%;">
                  <div class="icon">
                    <img loading="lazy" :src="this.$store.state.config.imgen + '05.svg'" alt="moto italika" width="50"
                      height="50" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <strong>Datos Personales:</strong>
                    <!-- <h3>Perfil del Contratante</h3> -->
                    <ul class="">
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Nombre completo.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        RFC de persona física.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Identificación oficial.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Comprobante de domicilio.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Código postal.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Teléfono.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Correo electrónico.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Licencia de conducir.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Ser mayor de 18 años.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6  pl-0 pr-0 pl-md-5 pr-md-0">
                <div class="card cradCont cardIcon tamcard" style="width: 100%; height: 84%;">
                  <div class="icon">
                    <img loading="lazy" :src="this.$store.state.config.imgen + '06.svg'" alt="moto italika" width="50"
                      height="50" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <strong>Datos del Vehículo:</strong>
                    <!-- <h3>Perfil del Contratante</h3> -->
                    <ul class="">
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Marca nacional o importada por la armadora.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Modelo.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Año.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Versión.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Color.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Número de serie
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Placas
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO  ¿Qué otros Seguros puedo contratar con Seguros para Motos Azteca?<====== -->
    <div class="container-fluid mt-3 ">
      <div class="col-12 text-left text-sm-left text-md-center">

        <h2 class="mt-0 display-5">
          <strong class="color-auto title-content-two">
            ¿Qué otros Seguros puedo contratar con Seguros para Motos Azteca?
          </strong>
        </h2>
        <div class="row pt-5">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left mx-auto">
            <p>Seguros Azteca ha trabajado en crear pólizas de seguros accesibles para toda la población en México, es
              por ello que además de contar con el seguro para moto Azteca, también tendrás acceso a otras pólizas como:
            </p>
          </div>
          <div class="row text-center" style="display: flex;align-items: center; justify-content: center;">
            <div class="col-12 col-md-3 col-lg-3 text-center py-3 " >
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '13.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2"><strong>Automóviles</strong></p>

                </div>
              </div>
            </div>
            
            <div class="col-12 col-md-3 col-lg-3 text-center py-3" >
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '07.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2"><strong>Divisas</strong></p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-3  col-lg-3 text-center py-3" >
              <div class="card-color1  py-3 d-block m-auto">
                <div class="card-body pb-auto">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '09.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2"><strong>Básico Estandarizado de Auto</strong></p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 text-center py-3" >
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '08.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2"><strong>Hogar</strong></p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 text-center py-3" >
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '10.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2"><strong>Tarjetas </strong></p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 text-center py-3" >
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '11.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2"><strong>Remesas</strong></p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 text-center py-3" >
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '12.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2"><strong>Italika Agentes</strong></p>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>


    <!-- ==========>INICIO ¿Qué hacer en caso de Siniestros con Seguros Azteca?<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          ¿Qué hacer en caso de Siniestros con Seguros Azteca?
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12">
          <p>Dependiendo del tipo de cobertura contratada y del siniestro que enfrentes, deberás seguir las siguientes
            indicaciones:</p>
        </div>

        <div class="col-12 col-lg-12 pt-md-0  text-left">
          <strong>Pérdida Total por Robo</strong>
          <ul class="pt-4">
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Reportar el robo de tu vehículo ante el Ministerio Público e inmediatamente llama
              a Seguros Azteca al 800 810 8181 o 55 5636 2434
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Durante tu reporte, la cabina de siniestros de Seguros Azteca te solicitará
              información como nombre, datos de tu motocicleta, número de póliza y número de acta de robo
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Una vez recolectada la información, la aseguradora enviará un ajustador para
              poder tomar tu declaración y entregarte un check list
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Dentro del check list encontrarás toda la documentación necesaria para solicitar
              la reclamación de tu motocicleta, algunos de estos documentos son factura, acta de robo, recibo de pago de
              alta y bajas de placas, recibo de pago de tenencias, identificación oficial, comprobante de domicilio,
              CURP, póliza, llaves y número de cuenta.
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- ==========>INICIO Conoce la App Seguros Azteca<====== -->
    <div class="container-fluid mt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones title-content-two">
          Conoce la App Seguros Azteca
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">


          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
              <img :src="this.$store.state.config.imgen + '07.webp'" alt="Seguros para Uber" width="500" height="315"
                class="img-fluid">
            </div>
            <div class="col-12 col-md-6 my-5  text-left pl-0 ml-0 pr-5">
              <p>El Seguro para Motos Azteca ha desarrollado su propia aplicación móvil, la cual podrás descargar de
                forma
                gratuita, a través de esta herramienta podrás realizar algunos trámites o consultar información como:
              </p>
              <ul>
                <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                      width="15" height="15"></span> Cotizar seguros para motos Azteca
                </li>
                <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                      width="15" height="15"></span> Descarga tu póliza de seguros para consultar términos y condiciones
                </li>
                <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                      width="15" height="15"></span>Botón de Emergencia
                </li>
                <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                      width="15" height="15"></span> Consultar comprobantes de pagos de tus pólizas</li>
                <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                      width="15" height="15"></span> Dar seguimiento a estatus de siniestros</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- ==========>INICIO Conoce más sobre Seguros Azteca<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5">
        <strong class="color-camiones title-content-two">
          Conoce más sobre Seguros Azteca
        </strong>
      </h2>

      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>Seguros Azteca pertenece a Grupo Salinas, quien también opera otros comercios como Elektra, Salinas y Rocha
            así como dueños de la marca de motos Italika.</p>

          <p>Seguros Azteca nace como una opción para poder ofrecer seguros accesibles a la población con ingresos
            limitados, brindando así la oportunidad de crear pólizas funcionales y que se ajusten al presupuesto de los
            usuarios.</p>

          <p>Esta aseguradora opera desde el año 2004 y a lo largo de este tiempo ha logrado fortalecerse y ha sido
            reconocida como una de las mejores opciones para poder asegurar tu moto a un precio funcional.</p>

        </div>
      </div>
    </div>
    <!-- ==========>INICIO Preguntas Frecuentes<====== -->
    <div classs="contiainer-fluid pt-5">
      <div class="row text-left pl-md-3 pl-3 pr-3 pt-5">
        <div class="col-12 py-3 px-md-5 pt-2">
          <h2 class="colorTittle pb-4 text-center">Preguntas Frecuentes:</h2>
        </div>
        <div class="col-12 py-3 px-md-5 pt-2">
          <section class="">
            <h2 class="handle faq_question">
              ¿Dónde puedo reportar un Siniestro?

            </h2>
            <div class="preguntas">
              <p>Ante un siniestro con tu seguro para moto Azteca comunícate al 800 810 8181 o 55 5636 2434</p>
            </div>
          </section>
        </div>
        <div class="col-12 py-3 px-md-5 pt-2">
          <section class="">
            <h2 class="handle faq_question">
              Con el Seguro para Motos Azteca, ¿Puedo asegurar cualquier marca de moto?
            </h2>
            <div class="preguntas faq_answer">
              <p>Depende, para la cobertura de Responsabilidad Civil, si es posible contratarlo para cualquier marca o
                modelo, en el caso de las coberturas amplia y limitadas son exclusivas para motos italika</p>

            </div>
          </section>
        </div>
        <div class="col-12 py-3 px-md-5 pt-2">
          <section class="" :id="this.$store.state.config.id_q4">
            <h2 class="handle faq_question">
              ¿El seguro para moto es obligatorio?
            </h2>
            <div class="preguntas faq_answer">
              <p>Si, en la mayoría de los estados de la república lo es, en caso de no contar con el mismo podrás ser
                acreedor a un multa</p>


            </div>
          </section>
        </div>
        <div class="col-12 py-3 px-md-5 pt-2">
          <section class="" :id="this.$store.state.config.id_q4">
            <h2 class="handle faq_question">
              ¿Cómo renovar mi seguro de moto?
            </h2>
            <div class="preguntas faq_answer">
              <p>Solicita renovación automática o realizarlo de forma manual al menos 30 días antes de finalizar su
                vigencia</p>

            </div>
          </section>
        </div>
        <div class="col-12 py-3 px-md-5 pt-2">
          <section class="" :id="this.$store.state.config.id_q4">
            <h2 class="handle faq_question">
              ¿Cuáles son los métodos de pago autorizados para contratar mi seguro de moto Azteca?
            </h2>
            <div class="preguntas faq_answer">
              <p>Tarjeta de crédito o débito</p>


            </div>
          </section>
        </div>
        <div class="col-12 py-3 px-md-5 pt-2">
          <section class="" :id="this.$store.state.config.id_q4">
            <h2 class="handle faq_question">
              ¿Cuál es la vigencia del seguro para Moto
              Azteca?

            </h2>
            <div class="preguntas faq_answer">
              <p>Un año a partir de la fecha de contratación</p>


            </div>
          </section>
        </div>

      </div>

    </div>
    <!-- ==========>FIN Preguntas Frecuentes<====== -->
  </div>
</template>
<script>
export default {
  beforeCreate() {
      if (typeof window !== 'undefined') {
     this.$store.state.config.btnTop =typeof window.location.href;
    }
    let cadena = this.$store.state.config.btnTop;
    let primero = cadena.search("#formcotizar")
    let separado;
    let cad2 = "";
    // se le quita el ultimo
    if (primero) {
      separado = cadena.substring(primero + 0, cadena.length).split("#formcotizar")
      separado.forEach(element => {
        cad2 += element.replaceAll("#formcotizar", "")
      });
    }
    cadena = cadena.substring(0, primero + 0) + cad2
    cadena = cadena.split(' ').join(' ').trim();
    this.$store.state.config.btnTop = cadena;
}
}
</script>
