<template>
  <div>

    <!-- ==========>INICIO Cotiza Ahora Seguros para Motos Quálitas<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Cotiza Ahora Seguros para Motos Quálitas
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <p>Viaja en moto con la protección más completa a través de los Seguros para Motos Quálitas. Contrata con una
            de las aseguradoras reconocidas a nivel nacional por sus diferentes planes de cobertura disponibles así como
            por su experiencia en seguros automotrices.</p>

          <p>Con Quálitas podrás contratar un seguro personalizado que se ajuste a tus necesidades y presupuesto, con
            sus coberturas diseñadas para respaldarte ante los siniestros más comunes al manejar, podrás tener
            tranquilidad al tomar tu camino.</p>
          <p>A través de Ahorraseguros.mx podrás cotizar, comparar y contratar tu seguro de motos Quálitas en minutos,
            además de obtener descuentos y promociones exclusivas.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '01.webp'" alt="Seguro para motos Qualitas"
            class="img-fluid" width="522" height="266" />
        </div>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>INICIO Coberturas de los Seguros Quálitas para Motos<====== -->
    <div class="container-fluid mt-5 pt-0 pt-md-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Coberturas de los Seguros Quálitas para Motos
        </strong>
      </h2>

      <div class="row pt-5">
        <p>Quálitas, experto en seguros para motos, ha diseñado tres diferentes opciones de coberturas que buscan
          brindar los mejores beneficios y protegerte ante los siniestros más comunes al manejar.</p>

        <p>Cada una de estas coberturas se adaptan a las necesidades de seguridad que busca cada usuario. ¡Conócelas!
        </p>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center mobile">


          <img loading="lazy" :src="this.$store.state.config.imgen + '02.webp'" alt="Seguro para motos Qualitas"
            class="img-fluid" width="522" height="266" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <ul class="pl-0 pl-md-5">
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Paquete Básico:</strong>
              Obtén el seguro obligatorio de Responsabilidad Civil Daños a Terceros más otras coberturas como
              Responsabilidad Civil a Pasajeros, Responsabilidad Civil por Daños de la Carga y Gastos Legales.</li>
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Paquete Limitado:</strong> Además de contar con todos los
              beneficios del
              paquete básico, también tendrás la cobertura de antirrobo para motos la cual garantiza una indemnización
              sobre el valor comercial de tu moto en caso de robo total. De esta forma estarás respaldando la inversión
              que has realizado en la adquisición de tu vehículo.</li>
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Paquete Amplio:</strong> Esta opción es una de las mejores para
              proteger tu
              vehículo, pues además de incluir las asistencias del paquete básico y limitado tendrás la cobertura ante
              Daños Materiales, es decir, en caso de que tu vehículo presenta daños por choques, colisiones, vandalismo,
              intento de robo, etc., el seguro cubrirá la mayor parte de la reparación dentro de talleres
              especializados.
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center d-none mobile1">


<img loading="lazy" :src="this.$store.state.config.imgen + '02.webp'" alt="Seguro para motos Qualitas"
  class="img-fluid" width="522" height="266" />
</div>
      </div>
    </div>

    <!-- ==========>INICIO DE TABLA COBERTURAS 1<====== -->
    <div class="container-fluid pt-5">
      <div class="row">
        <div class="col-12">
          <h2 class=" text-left text-sm-left text-md-center pb-5">
            <strong class="color-camiones  title-content-two tam">
              Compara Coberturas del Seguro para Moto Quálitas
            </strong>
          </h2>

        </div>
        <div class="table-responsive pt-4" align="center">
          <table class=" table-striped " style="width: 80% !important;">
            <thead class="encabezadoT ">
              <tr>
                <th class="tableBorderI pl-0" scope="col">Cobertura</th>
                <th scope="col">Paquete Amplio</th>
                <th scope="col">Paquete Limitado</th>
                <th class="tableBorderF" scope="col">Paquete Básico</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="borderTh">
                <td class="tableBorderI" scope="row"></td>
                <td class=""></td>
                <td class="tableBorderF"></td>

              </tr>
              <tr class=" borderTh">
                <td class="tableBorderI pl-3" scope="row">Daños Materiales</td>
                <td class="pl-2 text-center text-center">
                  <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                      height="15" /></span>
                </td>
                <td class="pl-2 text-center text-center ">X</td>
                <td class="tableBorderF">X</td>

              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Robo Total </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> X</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Responsabilidad Civil de Daños a Terceros</td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'"
                      alt="check" width="15" height="15" /></span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Responsabilidad Civil a Pasajero </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'"
                      alt="check" width="15" height="15" /></span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Responsabilidad Civil por Daños Ocasionados por la Carga</td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'"
                      alt="check" width="15" height="15" /></span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Gastos Legales</td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class=" pl-2 text-center"> <span><img loading="lazy"
                      :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15" height="15" /></span>
                </td>
                <td class="tableBorderF"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'"
                      alt="check" width="15" height="15" /></span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Gastos Médicos Ocupantes</td>
                <td class=" pl-2 text-center"> <span>OPCIONAL</span>
                </td>
                <td class=" pl-2 text-center"> <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF"> <span>OPCIONAL</span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Asistencia vial</td>
                <td class=" pl-2 text-center"> <span>OPCIONAL</span>
                </td>
                <td class=" pl-2 text-center"> <span>OPCIONAL</span>
                </td>
                <td class="tableBorderF"> <span>OPCIONAL</span></td>
              </tr>

              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Equipo Especial</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class="tableBorderF text-center">Opcional</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Muerte al Conductor por Accidente Vial</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class=" pl-2 text-center">Opcional</td>
                <td class="tableBorderF text-center">Opcional</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO ¿Cómo funcionan las Coberturas de los Seguros Quálitas Moto?<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5 pb-5">
        <strong class="color-camiones  title-content-two tam">
          ¿Cómo funcionan los Seguros de Camiones?
        </strong>
      </h2>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>Cada una de las coberturas disponibles con Quálitas Seguros para Motos te ofrecen un respaldo económico y
            asistencias para hacer más sencillo cualquier siniestro. A través de cada una podrás tener beneficios como:
          </p>
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Daños Materiales:</strong> Repara cualquier daño material de tu moto a
              través de los talleres especializados en convenio con Quálitas pagando solamente un porcentaje de
              deducible.

            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Robo Total:</strong> Recibe una indemnización sobre el valor
              comercial de tu moto en caso del robo total de la misma.
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Responsabilidad Civil Daños a Terceros:</strong>Cumple con el
              seguro obligatorio solicitado por el reglamento de tránsito. A través de esta cobertura garantiza el pago
              de indemnización en caso de generar daños materiales o lesiones a terceros
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Responsabilidad Civil a Pasajero:</strong>Cubre con los gastos
              médicos necesarios para atender a tus acompañantes en caso de lesiones durante un accidente.
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Responsabilidad Civil por Daños ocasionados por la
                Carga:</strong>Esta es una cobertura funcional para aquellos que buscan un seguro de moto para Uber Eats
              o para cualquier otro tipo de aplicación de reparto, su función es cubrir los gastos de daños materiales o
              corporales de terceros ocasionados por la carga que lleva la motocicleta
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO Coberturas Adicionales de Quálitas en el Seguro para Motos<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Coberturas Adicionales de Quálitas en el Seguro para Motos
        </strong>
      </h2>

      <div class="row pt-5">
        <p>Para usuarios más exigentes o en búsqueda de una protección mayor, los seguros Quálitas de Motos en México
          ponen a tu alcance coberturas adicionales con las que podrás complementar tu póliza de seguro inicial,
          logrando así tener una protección total.</p>
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <p>Contrata estas coberturas desde el paquete básico</p>
          <ul class="pl-0 pl-md-5">
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Gastos Médicos Ocupantes:</strong>Cubre los gastos por lesiones
              ocasionados a los acompañantes del conductor de la moto, tales como gastos de hospitalización,
              medicamentos, honorarios médicos, estudios, etc.</li>
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Asistencia Vial Quálitas:</strong> Obtén apoyo en caso de que tu
              moto quede varada, algunos de estos beneficios son envío de grúa, envío de gasolina, cambio de llantas,
              etc.</li>
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Equipo Especial:</strong>Respalda ante robo o daños todo el
              equipo adicional que has invertido en tu vehículo
            </li>
            <li class="pt-3"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Muerte al conductor por Accidente Automovilístico:</strong> En
              caso de la muerte del conductor se podrá otorgar una indemnización a los beneficiarios que este señale
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '03.webp'" alt="Seguro para motos Qualitas"
            class="img-fluid" width="522" height="266" />
        </div>

      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5 pt-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario  btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>INICIO ¿Cuánto cuestan los Seguros para Motos en Quálitas México?<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Cuánto cuestan los Seguros para Motos en Quálitas México?
        </strong>
      </h2>

      <div class="row pt-5">
        <p>Quálitas no solo se distingue por sus coberturas, sino también por lo precios que ofrece, al utilizar un
          cotizador de seguros de motos Quálitas como Ahorraseguros.mx podrás obtener precios y promociones exclusivas
          al momento de cotizar y contratar tu póliza.</p>

        <div class="col-12 col-md-12 col-lg-12 pt-md-0  text-left">
          <p>Quálitas toma en cuenta diferentes variables al momento de cotizar tu seguro, como:</p>
          <ul class="pl-0 pl-md-5">
            <li class="pt-1"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Edad, género y código postal del asegurado</li>
            <li class="pt-1"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Marca, modelo, año y versión de la motocicleta</li>
            <li class="pt-1"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Tipo de seguro contratado
            </li>
            <li class="pt-1"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Coberturas Adicionales
            </li>
            <li class="pt-1"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Deducibles y sumas aseguradas
            </li>
          </ul>
          <p>¡Conoce los costos promedios de seguros para motos más adquiridas en México 2022 tomando como referencia un
            hombre de 33 años que vive en la CDMX.!</p>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive pt-4" align="center">
          <table class=" table-striped " style="width: 70% !important;">
            <thead class="encabezadoT ">
              <tr>
                <th class="tableBorderI pl-0" scope="col">Cobertura</th>
                <th scope="col">Cobertura Amplia</th>
                <th scope="col">Cobertura Limitada</th>
                <th class="tableBorderF" scope="col">Cobertura Básica</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="borderTh">
                <td class="tableBorderI" scope="row"></td>
                <td class=""></td>
                <td class="tableBorderF"></td>

              </tr>
              <tr class=" borderTh">
                <td class="tableBorderI pl-3" scope="row">Yamaha YZF</td>
                <td class="pl-2 text-center text-center">
                  <span>$17,987</span>
                </td>
                <td class="pl-2 text-center text-center ">$9,931</td>
                <td class="tableBorderF">$2,285</td>

              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Honda CBR </td>
                <td class=" pl-2 text-center"> <span>$11,206</span>
                </td>
                <td class=" pl-2 text-center"> <span>$6,170</span>
                </td>
                <td class="tableBorderF">$2,285</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Harley-Davidson Sportster</td>
                <td class=" pl-2 text-center"> <span>$10,674</span>
                </td>
                <td class=" pl-2 text-center"> <span>$5,721</span>
                </td>
                <td class="tableBorderF"> <span>$2,285</span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Susuki GSX </td>
                <td class=" pl-2 text-center"> <span>$13,681</span>
                </td>
                <td class=" pl-2 text-center"> <span>$7,442</span>
                </td>
                <td class="tableBorderF"> <span>$2,620</span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">BMW R1200</td>
                <td class=" pl-2 text-center"> <span>$10,829</span>
                </td>
                <td class=" pl-2 text-center"> <span>$4,736</span>
                </td>
                <td class="tableBorderF"> <span>$2,285</span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Kawasaki Ninja</td>
                <td class=" pl-2 text-center"> <span>$11,709</span>
                </td>
                <td class=" pl-2 text-center"> <span>$6,360</span>
                </td>
                <td class="tableBorderF"> <span>$2,285</span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Italika WS</td>
                <td class=" pl-2 text-center"> <span>$4,238</span>
                </td>
                <td class=" pl-2 text-center"> <span>$3,568</span>
                </td>
                <td class="tableBorderF"> <span>$2,285</span></td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Vento Nitrox</td>
                <td class=" pl-2 text-center"> <span>$4,471</span>
                </td>
                <td class=" pl-2 text-center"> <span>$3,625</span>
                </td>
                <td class="tableBorderF"> <span>$2,285</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO  ¿Cuáles son los Beneficios de Cotizar Seguros Quálitas para Motos?<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Cuáles son los Beneficios de Cotizar Seguros Quálitas para Motos?
        </strong>
      </h2>

      <div class="row pt-5">
        <p>Al cotizar y contratar tu seguro para moto Quálitas podrás tener acceso a los mejores y exclusivos
          beneficios que te brindarán la seguridad y confianza para enfrentar de manera eficiente cualquier
          emergencia:</p>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center mobile">
          <img loading="lazy" :src="this.$store.state.config.imgen + '04.webp'" alt="Seguro para motos Qualitas"
            class="img-fluid" width="522" height="266" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <p>Algunos de estos beneficios son:</p>
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Cumplimiento del seguro obligatorio para moto

            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Cobertura de gastos hospitalarios, medicamentos, honorarios médicos,
              servicio de enfermería, estudios, etc para el conductor, acompañantes y terceros
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Pago de fianzas para la liberación del conductor
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Pago de multas de tu vehículo generados por un accidente vial

            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Indemnización en caso de muerte del conductor
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Opción a contratar coberturas que amparen tu equipo especial instalado
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Servicio de asistencia vial las 24 horas del día
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Reporta siniestros sin importar el horario o día
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Quálitas cuenta con diferentes plataformas digitales que te permitirán
              realizar diferentes tipos de trámites en cualquier lugar o momento
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Precios más accesibles del mercado con Seguros para Motos Quálitas.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Considerada como una de las <strong>mejores opciones de seguros para motos </strong> según la
              CONDUSEF
            </li>
          </ul>
        </div>

        <p>A través de Ahorraseguros.Mx adquiere tu póliza de Seguros para Motos Quálitas con las que recibirás los
          mejores servicios del sector.</p>
          <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center d-none mobile1">
          <img loading="lazy" :src="this.$store.state.config.imgen + '04.webp'" alt="Seguro para motos Qualitas"
            class="img-fluid" width="522" height="266" />
        </div>
      </div>
    </div>

    <!-- ==========>Requisitos para contratar Seguros para Motos Qualitas<====== -->
    <div class="container-fluid mt-3 ">
      <div class="col-12  text-left text-sm-left text-md-center">
        <h2 class="mt-0 display-5">
          <strong class="color-auto  title-content-two tam">
            Requisitos para contratar Seguros para Motos Qualitas
          </strong>
        </h2>

        <div class="row text-left">
          <p>Al cotizar con Ahorra Seguros tu seguro para moto Quálitas necesitarás requisitos básicos para poder
            contratar tu seguro en minutos, algunos de ellos son:</p>

          <div class=" col-12 py-3 pl-0 pl-md-3 pt-5 pt-md-3">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6 pl-0 pr-0 pl-md-0 pr-md-5">
                <div class="card cradCont cardIcon tamcard" >
                  <div class="icon">
                    <img loading="lazy" :src="this.$store.state.config.imgen + '05.svg'" alt="moto italika" width="50"
                      height="50" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <p><strong>Datos Personales:</strong></p>

                    <!-- <h3>Perfil del Contratante</h3> -->
                    <ul class="">
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Nombre completo.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        RFC de persona física.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Identificación oficial.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Comprobante de domicilio.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Código postal.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Teléfono.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Correo electrónico.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Licencia de conducir.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Ser mayor de 18 años.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6  pl-0 pr-0 pl-md-5 pr-md-0">
                <div class="card cradCont cardIcon tamcard" style="width: 100%; height: 84%;">
                  <div class="icon">
                    <img loading="lazy" :src="this.$store.state.config.imgen + '06.svg'" alt="moto italika" width="50"
                      height="50" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <p><strong>Datos de motocicleta:</strong></p>

                    <!-- <h3>Perfil del Contratante</h3> -->
                    <ul class="">
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Marca nacional o importada por la armadora.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Modelo.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Año.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Versión.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Color.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Número de serie
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Placas
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO ¿Cuáles son los Métodos de Pago Autorizados para contratar un Seguro de Moto Quálitas?<====== -->
    <div class="container-fluid mt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Cuáles son los Métodos de Pago Autorizados para contratar un Seguro de Moto Quálitas?
        </strong>
      </h2>

      <div class="row pt-5">

        <div class="col-12 col-md-6 col-lg-6 pt-md-0 pt-lg-6 text-left ">
          <p>Realiza el pago de los seguros Quálitas Motos a través de los siguientes métodos:</p>
          <ul class="pl-0 pl-md-5">
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Tarjeta de Crédito
            </li>
            <li>
              <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>
              Tarjeta de Débito
            </li>

          </ul>
          <p>Obtén descuentos y promociones exclusivas así como meses sin intereses al cotizar tu seguro de moto
            con Ahorraseguros.mx</p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '05.webp'" alt="Seguro para motos Qualitas"
            class="img-fluid" width="522" height="366" />
        </div>


      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5 pt-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario  btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>INICIO  ¿Qué otros Seguros puedo contratar con Seguros Quálitas?<====== -->
    <div class="container-fluid mt-3 ">
      <div class="col-12 text-left text-sm-left text-md-center">

        <h2 class="mt-0 display-5">
          <strong class="color-auto  title-content-two tam">
            ¿Qué otros Seguros puedo contratar con Seguros Quálitas?
          </strong>
        </h2>
        <div class="row pt-5">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left mx-auto">
            <p>Quálitas con más de 28 años en el mercado asegurador, se ha especializado en el diseño y administración
              de pólizas automotrices, donde además de contar con el seguro para motos, encontrarás una amplia oferta
              para:</p>

          </div>
          <div class="row text-center" style="display: flex;align-items: center; justify-content: center;">
            <div class="col-12 col-md-4 col-lg-4 text-center py-3 ">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '07.svg'" alt="Seguro para motos Qualitas" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Automóviles.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '08.svg'" alt="Seguro para motos Qualitas" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Motocicletas.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4  col-lg-4 text-center py-3">
              <div class="card-color1  py-3 d-block m-auto">
                <div class="card-body pb-auto">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '09.svg'" alt="Seguro para motos Qualitas" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Pick Ups Personales.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3 mx-auto">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '10.svg'" alt="Seguro para motos Qualitas" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Pick Ups de Carga.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '11.svg'" alt="Seguro para motos Qualitas" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Camiones.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '12.svg'" alt="Seguro para motos Qualitas" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Tractocamiones.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '13.svg'" alt="Seguro para motos Qualitas" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Servicio público de pasajeros.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '15.svg'" alt="Seguro para motos Qualitas" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Fronterizos y regularizados</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '14.svg'" alt="Seguro para motos Qualitas" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Turistas</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO ¡Obtén tu Seguro para Motos Hoy Mismo!<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5 pb-5">
        <strong class="color-camiones  title-content-two tam">
          ¡Obtén tu Seguro para Motos Hoy Mismo!
        </strong>
      </h2>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>Cotiza, compara y contrata tu póliza de seguro para motos Quálitas al mejor precio a través del cotizador
            de seguros Ahorraseguros.mx. Recibe hoy mismo tu póliza siguiendo los siguientes pasos:</p>
          <ul class="pl-0 pl-md-5">
            <li> <span></span><strong>1.-</strong> Ingresa a Ahorraseguros.mx

            </li>
            <li class="pt-0"> <span></span><strong>2.-</strong> Selecciona “Seguros para Motos” y llena el
              formulario con información personal como edad, género, código postal y datos de contacto
            </li>
            <li class="pt-0"> <span></span><strong>3.-</strong>Completar los campos de los datos de tu vehículo como
              modelo,
              marca, versión y año
            </li>
            <li class="pt-0"> <span></span><strong>4.-</strong>Acepta el aviso de privacidad y da click en “Cotizar”
            </li>
            <li class="pt-0"> <span></span><strong>5.-</strong>¡Listo! Obtén los precios de las coberturas del seguro
              Quálitas
              para Moto y contrata en ese mismo instante.
            </li>
            <li class="pt-0"> <span></span><strong>6.-</strong>Recibirás tu póliza vía correo electrónico el mismo día
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!-- ==========>INICIO R¿Ante qué peligros me protege mi seguro de Moto Quálitas?<====== -->
    <div class="container-fluid mt-5">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Ante qué peligros me protege mi seguro de Moto Quálitas?
        </strong>
      </h2>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0 pt-lg-5 text-left">
          <p>Al contratar Seguros para Motos en Quálitas obtendrás asistencia ante siniestros como:</p>
        </div>

        <div class="col-12 col-md-6 my-auto text-left">
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Choques.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Robo total.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span> Inundación.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Fallas mecánicas.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Daños a Terceros</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Actos de Vandalismo.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Granizo.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Caída de objetos.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Desbielamiento de motor.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Rayo.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Incendio.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Derrumbes.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Daños por transportación.</li>
          </ul>

        </div>
        <div class="col-12 col-md-6 pl-1 pr-1 text-center">
          <img :src="this.$store.state.config.imgen + '03.webp'" alt="Seguros para Uber" width="500" height="415"
            class="img-fluid">
        </div>
      </div>
    </div>


    <!-- ==========>INICIO Reporta un Siniestro con Quálitas Seguros<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5 pb-5">
        <strong class="color-camiones  title-content-two tam">
          Reporta un Siniestro con Quálitas Seguros
        </strong>
      </h2>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>Quálitas Seguros cuenta con una propia red de ajustadores que estarán disponibles para apoyarte ante
            cualquier emergencia en el menor tiempo posible. Para solicitar apoyo deberás:</p>
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15" /></span>Mantener la calma y verificar que no haya heridos o lesiones de gravedad, de
              existir
              comunicate de inmediato a números de emergencia como el 911

            </li>
            <li class="pt-0"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15" /></span>Comunicate a los números de emergencia de Quálitas, para CDMX y Área
              Metropolitana al 55 5481 8580 y el resto de la república al: 800 800 2880
            </li>
            <li class="pt-0"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15" /></span>Comparte información como número de póliza, nombre del asegurado,
              nombre del conductor al momento del accidente, nombre de la persona que reporta, número telefónico de
              contacto, datos generales del vehículo (marca, modelo, placas, color, serie), y finalmente ubicación.
            </li>
            <li class="pt-0"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15" /></span>Espera a la llegada del ajustador de seguros Quálitas, mientras
              esperas evita asumir responsabilidades, tratar de negociar con otras personas o mover tu motocicleta
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO Conoce la App móvil y Portal Web de Quálitas Seguros<====== -->
    <div class="container-fluid mt-3">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Conoce la App móvil y Portal Web de Quálitas Seguros
        </strong>
      </h2>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0 pt-lg-5 text-left">
          <p>Realiza cualquier tipo de trámite a través de los medios digitales disponibles de Seguros Quálitas para
            Motos, procesos más sencillos y en menor tiempo.</p>
          <p>Dentro de su <strong>página web oficial o app Qmóvil </strong>podrás acceder a la sección de servicios en línea, los cuales te
            brindan la oportunidad de realizar cualquiera de los siguientes trámites:</p>
        </div>
        <div class="col-12 col-md-6 pl-1 pr-1 text-center">
          <img :src="this.$store.state.config.imgen + '07.webp'" alt="Seguros para Uber" width="500" height="415"
            class="img-fluid">
        </div>
        <div class="col-12 col-md-6 my-auto text-left">
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Contratar Seguros de Motos Quálitas</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Pago de pólizas y deducibles</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span> Consultar estatus de siniestro
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Consultar estatus de tu póliza</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Descarga de facturas de pagos</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Descarga de pólizas de responsabilidad civil obligatoria</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Descarga de pólizas de responsabilidad civil obligatoria USA</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Términos y condiciones para el uso de medios electrónicos</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Consulta de Reglamento de Tránsito</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Reportar un siniestro las 24 horas del día</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Solicitar asistencia vial para tu motocicleta</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Conocer en tiempo real la ubicación del ajustador asignado</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Localiza la última ubicación de tu moto en caso de tener contratada la asistencia satelital</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Ubica gasolineras, hospitales, taxis, restaurantes y cajeros automáticos cercanos a ti </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Consulta la ubicación de oficinas quálitas </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Descubre promociones vigentes </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Notifica a familiares en caso de siniestros </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>
              Registro de colisión con reporte automático </li>
          </ul>

        </div>

      </div>
    </div>
    <!-- ==========>INICIO ¿Cómo funcionan los Seguros para Motos Quálitas?<====== -->
    <div class="container-fluid mt-3">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Cómo funcionan los Seguros para Motos Quálitas?
        </strong>
      </h2>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0 pt-lg-5 text-left">
          <p>La intención de un seguro para moto es ser un complemento que pueda protegerte ante riesgos que puedan
            surgir al momento de manejar.</p>

          <p>A partir del año 2019, la Ley de Caminos, Puentes y Autotransporte Federal, ha declarado que todo vehículo
            que transite en vías públicas o privadas de México debe contar con un seguro de responsabilidad civil, de lo
            contrario podrá ser acreedor a una multa.</p>

          <p>Tener un seguro no solo te ayuda a cumplir con la ley,sino también tener un respaldo financiero que te
            permita cubrir la mayoría de los gastos que puede generar un accidente, además de brindar asistencias que
            harán que dicho evento pueda sobrellevarse de una manera más sencilla.</p>
        </div>
      </div>
    </div>
    <!-- ==========>INICIO ¿Por qué es importante contar con Seguros para motos Quálitas?<====== -->
    <div class="container-fluid mt-3">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Por qué es importante contar con Seguros para motos Quálitas?
        </strong>
      </h2>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0 pt-lg-5 text-left">
          <p>Hoy en día, a lo largo y ancho de la República Mexicana se estima que al menos circulan aproximadamente 1
            millón 581 de motocicletas, de las cuales un 45% no cuenta con una póliza de seguro para su moto, además que
            muchos de los usuarios desconocen cuáles son las reglas básicas de seguridad, y si nos vamos a estadísticas
            generales, podemos decir que en nuestro país se estima que en un 56% de los accidentes de tránsito se ven
            involucrados conductores de motocicleta.</p>

          <p>Estos en su mayoría, no cuentan con la documentación correcta que pueda respaldarlo, lo que tristemente se
            visualiza en un terrible el porcentaje de muertes oscile entre el 15 y 20%, pues conducir una motocicleta es
            una de las actividades más complejas dentro del sistema vial, pues requiere de mayor destreza y habilidades
            para poder tener una conducción segura.</p>

            <p>Los Seguros para Motos con Quálitas sin duda te brindarán ofrece las mejores soluciones contra cualquier
              tipo de imprevisto que se te pueda presentar, recibiendo la solvencia financiera que realmente necesitas
              para cualquier incidente que puedas sufrir, así como mantener el cuidado de tu patrimonio y la
              tranquilidad de tu familia, con innovación en todos y cada uno de sus productos, con los que buscan plena
              seguridad a sus clientes.</p>

        </div>
      </div>
    </div>
    <!-- ==========>INICIO Conoce más sobre Quálitas Seguros<====== -->
    <div class="container-fluid mt-3">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Conoce más sobre Quálitas Seguros
        </strong>
      </h2>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0 pt-lg-5 text-left">
          <p>Quálitas Seguros es una aseguradora 100% mexicana con más de 28 años operando en México, la cual se ha
            especializado en seguros automotrices, actualmente cuenta con más de 14,294 agentes certificados y más de
            4.1 millones de autos asegurados.</p>

          <p>Quálitas es una de las mejores opciones para proteger tu patrimonio e integridad de los riesgos más comunes
            al momento de manejar, ha sido reconocida por instituciones como la Comisión Nacional para la Protección y
            Defensa de Usuarios de Servicios Financieros (CONDUSEF) como una de las mejores opciones para asegurar tus
            vehículos.</p>

          <p>Contrata las coberturas más exclusivas para proteger tu motocicleta mientras recibes atención personalizada
            ante cualquier duda.</p>

          <p>¡Protege tu vehículo con la aseguradora #1 en México y América Latina!</p>

        </div>
      </div>
    </div>
    <div class="container-fluid mt-3">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Conoce más sobre Quálitas Seguros
        </strong>
      </h2>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 pt-md-0 pt-lg-5 text-left">
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Nombre Comercial:</strong>Quálitas

            </li>
            <li class="pt-0"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Razón Social:</strong> Quálitas Compañía de Seguros S.A.B de C.V.
            </li>
            <li class="pt-0"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Teléfono de Asistencia ante Siniestros:</strong> 800 800 2880/ 800
              288 6700/ 55 54818580/ 55 5258 2880
            </li>
            <li class="pt-0"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Teléfono de Asistencia Vial:</strong> 800 253 0553/ 55 3300 4534
            </li>
            <li class="pt-0"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>App Móvil</strong>Q-Móvil, disponible para descarga gratuita en
              Google Play y App Store
            </li>
            <li class="pt-0"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Cotizador Autorizado Quálitas:</strong>Ahorraseguros.mx
            </li>
            <li class="pt-0"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Agentes:</strong>18,000
            </li>
            <li class="pt-0"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span><strong>Autos asegurados:</strong>4.1 millones
            </li>
          </ul>

        </div>
      </div>
            <!-- ==========>INICIO BOTON COTIZAR<====== -->
            <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>



    <!-- ==========>INICIO Preguntas Frecuentes<====== -->
    <div classs="contiainer-fluid pt-5">
  <div class="row text-left pl-md-3 pl-3 pr-3 pt-5">
    <div class="col-12 py-3 px-md-5 pt-2">
      <h2 class="colorTittle pb-4 text-center">Preguntas Frecuentes:</h2>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="">
        <h2 class="handle faq_question">
          ¿Dónde puedo reportar un Siniestro
         
        </h2>
        <div class="preguntas">
          <p>En caso de enfrentar algún siniestro con tu moto deberás comunicarte a los siguientes números: Interior de la República: 800 800 2880/ 800 288 6700 y CDMX 55 54818580/ 55 5258 2880</p>

        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
       <section class="">
        <h2 class="handle faq_question">
          ¿Cómo solicitar Asistencia Vial en mi Seguro para Motos Quálitas?
        </h2>
        <div class="preguntas faq_answer">
          <p>Interior de la República 800 253 0553 y CDMX 55 3300 4534</p>

        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="" :id="this.$store.state.config.id_q4">
        <h2 class="handle faq_question">
          ¿Cómo renovar mi seguro de moto?
        </h2>
        <div class="preguntas faq_answer">
          <p>Tendrás la opción de solicitar la renovación automática o realizarlo de forma manual un mes antes de la fecha de vigencia</p>

        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="" :id="this.$store.state.config.id_q4">
        <h2 class="handle faq_question">
          ¿Cuáles son los métodos de pago autorizados para contratar mi seguro de moto Quálitas?
        </h2>
        <div class="preguntas faq_answer">
          <p>Tarjeta de crédito o débito</p>
        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="" :id="this.$store.state.config.id_q4">
        <h2 class="handle faq_question">
          ¿Cuál es la vigencia del seguro para Moto 
Quálitas?

        </h2>
        <div class="preguntas faq_answer">
          <p>Un año a partir de la fecha de contratación</p>

        </div>
      </section>
    </div>

  </div>

</div>
<!-- ==========>FIN Preguntas Frecuentes<====== -->
  </div>

</template>
<script>
export default {
  beforeCreate() {
      if (typeof window !== 'undefined') {
     this.$store.state.config.btnTop =typeof window.location.href;
    }
    let cadena = this.$store.state.config.btnTop;
    let primero = cadena.search("#formcotizar")
    let separado;
    let cad2 = "";
    // se le quita el ultimo
    if (primero) {
      separado = cadena.substring(primero + 0, cadena.length).split("#formcotizar")
      separado.forEach(element => {
        cad2 += element.replaceAll("#formcotizar", "")
      });
    }
    cadena = cadena.substring(0, primero + 0) + cad2
    cadena = cadena.split(' ').join(' ').trim();
    this.$store.state.config.btnTop = cadena;
}
}
</script>
