<template>
  <div>

    <!-- ==========>INICIO   Cotiza Seguros para Motos GNP ¡Protección Total al Mejor Precio!<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center">
        <strong class="color-camiones  title-content-two tam">
          Cotiza Seguros para Motos GNP ¡Protección Total al Mejor Precio!
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <p>Al contratar con GNP Seguros para Motos podrás obtener coberturas funcionales para poder enfrentar
            cualquier siniestro que pueda llegar a ocurrir mientras manejas tu motocicleta.</p>

          <p>Con GNP obtén la protección que necesitas, recibe atención médica, asistencia vial, reparación de daños,
            entre otros beneficios que te permitirán tratar de manera eficiente cualquier eventualidad.</p>

          <p>GNP cuenta con más de 115 años en el sector asegurador, destacando por su oferta de pólizas automotrices,
            donde se incluye el seguro para moto.</p>

          <p>Actualmente cuenta con más de 4 millones de asegurados los cuales respaldan la funcionalidad y atención que
            brinda esta aseguradora. Conduce seguro contratando Seguros GNP Motos.</p>

        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '1.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>INICIO  Coberturas de GNP en Seguros para Motos<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center">
        <strong class="color-camiones  title-content-two tam">
          Coberturas de GNP en Seguros para Motos
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center"> <img loading="lazy"
            :src="this.$store.state.config.imgen + '2.webp'" alt="seguro de auto aig" class="img-fluid" width="522"
            height="266" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <p>A través de GNP ¡Personaliza tu Seguro para Moto!, esta compañía reconoce que cada usuario y motocicleta
            cuenta con características específicas, es por ello que podrás armar tu propia póliza con base a tus
            necesidades y presupuesto.</p>

          <p>Algunas de las coberturas que podrás elegir para asegurar tu motocicleta son:</p>
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Daños Materiales</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>>Robo Tota</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Responsabilidad Civil por Daños a Terceros
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Gastos Médicos
            </li>
          </ul>
        </div>


      </div>
    </div>


    <!-- ==========>INICIO   ¿Cómo funcionan cada una de las Coberturas del Seguro GNP para Moto?<====== -->

    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5 pb-5">
        <strong class="color-camiones  title-content-two tam">
          ¿Cómo funcionan cada una de las Coberturas del Seguro GNP para Moto?
        </strong>
      </h2>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>A través de cada una de las coberturas disponibles en el Seguro para Motos GNP podrás obtener asistencias
            para poder enfrentar de manera óptima cualquier tipo de eventualidad que pueda presentarse al momento de
            viajar con tu motocicleta. ¡Conoce de qué manera te respalda GNP!.</p>
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Daños Materiales:</strong>El seguro cubrirá la reparación de los daños
              materiales y/o estructurales que tu motocicleta pueda obtener a consecuencia de choques, intento de robo,
              desastres naturales, etc.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Robo total:</strong>Recibe una indemnización con base al valor comercial de
              tu moto</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Responsabilidad Civil por Daños a Terceros:</strong>
              Garantiza la indemnización de daños a terceros en caso de daños a bienes materiales públicos o privados
              así como lesiones corporales
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Gastos Médicos:</strong>En caso de que como conductor sufras lesiones
              durante un accidente, tendrás acceso a gastos de hospitalización, traslado de ambulancia, honorarios
              médicos, medicamentos, estudios, etc.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO  Coberturas Adicionales que ofrece GNP Seguros para Motos<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Coberturas Adicionales que ofrece GNP Seguros para Motos
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <p>Aumenta la protección de tu póliza de seguros GNP Motos, a través de las coberturas adicionales podrás
            cubrir necesidades específicas y exclusivas, algunas de ellas son:</p>

          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Adaptaciones, conversiones y equipo especial:</strong>
              Cubre el robo o daños de estos accesorios adicionales que
              instales a tu motocicleta
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Responsabilidad Civil por Fallecimiento:</strong>
              En caso de causar la muerte accidental de un tercero estarás
              protegido legalmente y financieramente
            </li>
          </ul>

        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '3.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
      </div>
    </div>

    <!-- ==========>¿Cuánto cuestan los Seguros de Autos Migo?<====== -->
    <div class="container-fluid mt-3 ">
      <div class="col-12  text-left text-sm-left text-md-center">
        <h2 class="mt-0 display-5">
          <strong class="color-auto  title-content-two tam">
            ¿Cuánto cuesta el Seguro de Motocicletas GNP?
          </strong>
        </h2>

        <div class="row text-left">
          <div class=" col-12 py-3 pl-0 pl-md-3 pt-5 pt-md-3">
            <p>¡Con GNP obtén la mejor protección al mejor precio!</p>

            <p>A través del cotizador de Ahorraseguros.mx consigue precios competitivos, con facilidades de pagos a
              meses sin intereses.</p>

            <p>Al cotizar un seguro para motos GNP, tendrás resultados personalizados, pues este costo se define con
              base en criterios personales, características de tu póliza y finalmente de características de tu vehículo.
              Tales como:</p>

            <div class="row justify-content-center">
              <div class="col-12 col-md-9">
                <div class="card cradCont cardIcon tamcard">
                  <div class="icon">
                    <img loading="lazy" :src="this.$store.state.config.imgen + '06.svg'" alt="Seguros para uber"
                      width="50" height="50" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <!-- <h3>Perfil del Contratante</h3> -->
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-5 ">
                        <ul class="pl-0 pl-md-auto">
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Edad del asegurado
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Género del asegurado
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Código Postal del asegurador
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Marca de la moto
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Modelo de la moto
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Año de la moto
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Versión del vehículo
                          </li>
                        </ul>
                      </div>
                      <div class="col-12 col-md-6 col-lg-7 m-auto">
                        <ul class="pl-0">
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Tipo de cobertura contratada
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Coberturas adicionales
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Sumas aseguradas
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Deducibles
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Uso de la moto(Comercial o Particular), en el caso de GNP, los seguros para motos son
                            exclusivos
                            para uso persona
                          </li>
                          <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                                width="15" height="15"></span>
                            Método de pago
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="pt-5">Conoce cuánto cuesta en promedio un seguro de moto GNP considerando una persona masculina
              que vive en la CDMX:</p>
          </div>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO DE TABLA COBERTURAS 1<====== -->
    <div class="container-fluid">
      <div class="row">
        <div class="table-responsive pt-4" align="center">
          <table class=" table-striped " style="width: 80% !important;">
            <thead class="encabezadoT ">
              <tr>
                <th class="tableBorderI pl-0" scope="col">Marca/Modelo Motocicleta</th>
                <th scope="col">Cobertura Amplia</th>
                <th scope="col">Cobertura Limitada</th>
                <th class="tableBorderF" scope="col">Cobertura Básica</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="borderTh">
                <td class="tableBorderI" scope="row"></td>
                <td class=""></td>
                <td class="tableBorderF"></td>

              </tr>
              <tr class=" borderTh">
                <td class="tableBorderI pl-3" scope="row">Yamaha YZF</td>
                <td class="pl-2">$17,987</td>
                <td class="pl-2">$9,931</td>
                <td class="tableBorderF">$2,285</td>

              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Honda CBR </td>
                <td class=" pl-2">$11,206</td>
                <td class=" pl-2">$6,170</td>
                <td class="tableBorderF">$2,285</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Harley-Davidson Sportster </td>
                <td class=" pl-2">$10,674</td>
                <td class=" pl-2">$5,721</td>
                <td class="tableBorderF">$2,285</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Susuki GSX</td>
                <td class=" pl-2">$13,681</td>
                <td class=" pl-2">$7,442</td>
                <td class="tableBorderF">$2,620</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">BMW R1200</td>
                <td class=" pl-2">$10,829</td>
                <td class=" pl-2">$4,736</td>
                <td class="tableBorderF">$2,285</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Kawasaki Ninja</td>
                <td class=" pl-2">$11,709</td>
                <td class=" pl-2">$6,360</td>
                <td class="tableBorderF">$2,285</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Italika WS</td>
                <td class=" pl-2">$4,238</td>
                <td class=" pl-2">$3,568</td>
                <td class="tableBorderF">$2,285</td>
              </tr>
              <tr class="borderTh">
                <td class="tableBorderI pl-3" scope="row">Vento Nitrox</td>
                <td class=" pl-2">$4,471</td>
                <td class=" pl-2">$3,625</td>
                <td class="tableBorderF">$2,285</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO Métodos de Pago para contratar Seguros GNP para Motos<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          Métodos de Pago para contratar Seguros GNP para Motos
        </strong>
      </h2>

      <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '4.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-md-4  text-left">
          <p>Adquiere tu seguro desde la comodidad de tu hogar u oficina a través del comparador de seguros de motos
            Ahorraseguros.mx, a través del mismo podrás utilizar los métodos de pago más comunes como:</p>


          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Tarjeta de Crédito
            </li>
            <li class="pt-4"> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                  width="15" height="15"></span>Tarjeta de Débito
            </li>
          </ul>
          <p>¡Mejoramos el precio de tu seguro para moto!, además de contar con promociones como meses sin intereses.
          </p>

        </div>

      </div>
      <!-- ==========>INICIO BOTON COTIZAR<====== -->
      <div class="row pt-5 pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

    <!-- ==========>Requisitos para contratar Seguros para Motos con GNP<====== -->
    <div class="container-fluid mt-3 ">
      <div class="col-12  text-left text-sm-left text-md-center">
        <h2 class="mt-0 display-5">
          <strong class="color-auto  title-content-two tam">
            Requisitos para contratar Seguros para Motos con GNP
          </strong>
        </h2>

        <div class="row text-left">
          <p>Contratar tu póliza de seguros para motos de uso personal con GNP ¡es muy fácil!, a través del cotizador
            de Ahorraseguros.mx podrás obtener protección total al presentar la siguiente documentación:</p>
          <div class=" col-12 py-3 pl-0 pl-md-3 pt-5 pt-md-3">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6 pl-0 pr-0 pl-md-0 pr-md-5">
                <div class="card cradCont cardIcon tamcard" style="height: 84%;">
                  <div class="icon">
                    <img loading="lazy" :src="this.$store.state.config.imgen + '06.svg'" alt="Seguros para uber"
                      width="50" height="50" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <!-- <h3>Perfil del Contratante</h3> -->
                    <ul class="">
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Nombre completo.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        RFC de persona física.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Identificación oficial.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Comprobante de domicilio.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Código postal.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Teléfono.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Correo electrónico.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Licencia de conducir.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Ser mayor de 18 años.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6  pl-0 pr-0 pl-md-5 pr-md-0">
                <div class="card cradCont cardIcon tamcard" style="width: 100%; height: 84%;">
                  <div class="icon">
                    <img loading="lazy" :src="this.$store.state.config.imgen + '07.svg'" alt="Seguros para uber"
                      width="50" height="50" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <!-- <h3>Perfil del Contratante</h3> -->
                    <ul class="">
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Marca nacional o importada por la armadora.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Modelo.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Año.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Versión.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Color.
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Número de serie
                      </li>
                      <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check"
                            width="15" height="15"></span>
                        Placas
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="pt-5">Conoce cuánto cuesta en promedio un seguro de moto GNP considerando una persona masculina
              que vive en la CDMX:</p>
          </div>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO  ¿Cuáles son los Beneficios de contratar un Seguro para Moto?<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Cuáles son los Beneficios de contratar un Seguro para Moto?
        </strong>
      </h2>

      <div class="row pt-5">
        <p>Al contratar un seguro para motos adquieres un respaldo económico ante situaciones de emergencia, además de
          otros beneficios como asistencias médicas o reparación de daños los cuales se pagan de manera compartida con
          GNP</p>

        <p>Además del respaldo económico que ofrecen los seguros para motos GNP, existen otros beneficios exclusivos a
          los cuales podrás acceder:</p>

        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Póliza disponible para más de 50 marcas de motocicletas y modelos del 2005 en
              adelante
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Contrata tu seguro a meses sin intereses
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Asistencia de emergencias las 24 horas del día los 365 días del año.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Red de ajustadores para atender tu llamado en caso de accidente o robo
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Indemnizaciones en caso de muerte de terceros
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Cobertura a nivel nacional
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Asistencia a través de sucursales, teléfono atención a clientes y aplicaciones
              disponibles 24/7
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Red de talleres mecánicos y alianzas con agencias para la reparación de tu vehículo
              en caso de daños
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Sumas aseguradas que cubren gastos médicos tales como gastos de hospitalización,
              estudios de laboratorio, tratamiento, medicamentos, entre otros.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Asistencia vial en carretera como envío de gasolina, cambio de llanta, etc.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Asistencia legal en caso de que derivado del accidente debas presentarte ante
              autoridades como ministerio público
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '5.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
      </div>
    </div>

    <!-- ==========>INICIO  ¿Cómo cotizar con GNP, Seguros para Motos?<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿Cómo cotizar con GNP, Seguros para Motos?
        </strong>
      </h2>

      <div class="row pt-5">
        <p>¡Cotiza de forma práctica y rápida! En menos de un minuto obtén información sobre precios, coberturas y
          beneficios del seguro para moto GNP. Utiliza el cotizador más importante de America Latina, Ahorraseguros.mx,
          y consigue hoy mismo tu seguro.</p>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '6.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong> 1.-</strong>Ingresa a Ahorraseguros.mx
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong> 2.-</strong>Selecciona la opción de “Seguros para Motos”, llena el
              formulario con
              información personal como edad, género, código postal y datos de contacto
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong> 3.-</strong>Completar los campos de los datos de tu motocicleta como
              modelo, marca, versión
              y año
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong> 4.-</strong>Acepta el aviso de privacidad y cotiza
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong> 5.-</strong>¡Listo! Obtén los precios de las coberturas del seguro
            </li>
          </ul>
          <p>
            GNP Motos y contrata en
            ese mismo instante. Recibirás tu póliza vía correo electrónico el mismo día
          </p>
          <p>Ahorraseguros.mx, el cotizador online #1 en México, es un agente autorizado de GNP Seguros, a través del
            cual
            podrás cotizar tu seguro para motocicleta de forma rápida y segura mientras obtienes precios competitivos.
          </p>
        </div>

      </div>
    </div>


    <!-- ==========>INICIO  ¿De qué me protegen los Seguros para Motos?<====== -->
    <div class="container-fluid mt-5 pt-5 ">
      <h2 class=" text-left text-sm-left text-md-center ">
        <strong class="color-camiones  title-content-two tam">
          ¿De qué me protegen los Seguros para Motos?
        </strong>
      </h2>

      <div class="row pt-5">
        <p>Manejar una motocicleta puede hacerte vulnerable a accidentes y daños, por lo que al contratar seguros para
          motocicletas GNP tendrás respaldo ante:</p>


        <div class="col-12 col-md-6 col-lg-6 pt-md-0  text-left">
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Choques o volcaduras
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Daños materiales
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Vandalismo
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Robo total tu moto
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Daños por desastres naturales
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Daños por inundación
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Defensa y asesoría legal
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Emergencias y gastos médicos.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Protección de responsabilidad civil por daños a terceros y acompañantes.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Daños materiales por vandalismo.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Defensa y asesoría legal.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Fallas mecánicas en ciudad y autopista.
            </li>
          </ul>

        </div>
        <div class="col-12 col-md-6 col-lg-6 m-auto pl-1 pr-1 text-center">
          <img loading="lazy" :src="this.$store.state.config.imgen + '7.webp'" alt="seguro de auto aig"
            class="img-fluid" width="522" height="266" />
        </div>

      </div>
    </div>

    <!-- ==========>INICIO  Conoce el Portafolio de Seguros disponibles en GNP<====== -->
    <div class="container-fluid mt-3 ">
      <div class="col-12 text-left text-sm-left text-md-center">

        <h2 class="mt-0 display-5">
          <strong class="color-auto  title-content-two tam">
            Conoce el Portafolio de Seguros disponibles en GNP
          </strong>
        </h2>
        <div class="row pt-5">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left mx-auto">
            <p>Con más de 114 años de operación en México, GNP Seguros tiene una amplia oferta de pólizas para proteger
              tu patrimonio e integridad. Además de los seguros para motos, podrás encontrar opciones para:</p>
          </div>
          <div class="row  mx-auto pb-0 text-center pl-4 pr-4">
            <div class="col-12 col-md-4 col-lg-3 text-center py-3 mx-auto">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '08.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Seguros para Autos</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '09.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Seguros de Gastos Médicos Mayores</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4  col-lg-3 text-center py-3">
              <div class="card-color1  py-3 d-block m-auto">
                <div class="card-body pb-auto">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '10.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Seguros de Vida</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 text-center py-3 mx-auto">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '11.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Seguros de Educación</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '12.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Seguros de Retiro</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '13.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Seguros de Ahorro</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '14.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Seguros de Hogar</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 text-center py-3">
              <div class="card-color1 py-3 d-block m-auto">
                <div class="card-body">
                  <img loading="lazy" :src="this.$store.state.config.imgen + '15.svg'" alt="Seguro de uber" width="64"
                    height="64" class="img-fluid">
                  <p class="fw-bold m-0 pt-2">Seguros de Mascotas</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- ==========>INICIO   ¿Cómo reportar un Siniestro con GNP?<====== -->

    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5 pb-5">
        <strong class="color-camiones  title-content-two tam">
          ¿Cómo reportar un Siniestro con GNP?
        </strong>
      </h2>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>A través de la “Línea GNP” podrás reportar cualquier siniestro o solicitar asistencia vial las 24 horas del
            día los 365 días del año, este canal está especialmente diseñado para brindarte apoyo lo antes posible. </p>

          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Frente a un siniestro te recomendamos mantener la calma y verificar que no haya
              heridos o lesiones de gravedad, de existir comunicate de inmediato a números de emergencia como el 911
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Communicate la Línea GNP: 55 5227 9000 para CDMX, Área Metropolitana y el resto de
              la república.</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Comparte información como número de póliza, nombre del asegurado, nombre del
              conductor al momento del accidente, nombre de la persona que reporta, número telefónico de contacto, datos
              generales del vehículo (marca, modelo, placas, color, serie), y finalmente ubicación.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Una vez generado el reporte, GNP Seguros enviará un ajustador para poder apoyarte
              en la resolución del incidente.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO   Conoce la app “Soy Cliente GNP”<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5 pb-5">
        <strong class="color-camiones  title-content-two tam">
          Conoce la app “Soy Cliente GNP”
        </strong>
      </h2>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>¡Realiza pagos, consulta tu póliza y más operaciones desde tu celular!</p>

          <p>Algunas de las operaciones que podrás realizar a través de la app de GNP son:</p>

          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Consultar información general de tu póliza de seguros GNP motos
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Reportar un accidente</li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Solicitar asistencia vial como cambio de llanta, envío de gasolina, paso de
              corriente, solicitar grúa, servicio de cerrajero
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Pide una ambulancia a través del botón de emergencia
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Dar seguimiento a la ubicación de tu ajustador
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Evaluar la atención brindada por el ajustador asignado
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Seleccionar un contacto de emergencia para que este pueda enterarse de cualquier
              siniestro
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Pagar pólizas
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Ubicar redes médicas, hospitales en convenio, etc.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Consultar todos los beneficios a los que tienes acceso
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Localizar oficinas GNP, bomberos, ministerios públicos, corralones y gasolineras
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span>Guarda documentos importantes como tarjeta de circulación, licencia de conducir,
              etc.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO   Conoce más sobre GNP Seguros<====== -->
    <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5 pb-5">
        <strong class="color-camiones  title-content-two tam">
          Conoce más sobre GNP Seguros
        </strong>
      </h2>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <p>GNP es una aseguradora multirramo con más de 115 años en el sector asegurador, donde destacan
            principalmente los seguros vehiculares como lo es el seguro para moto GNP.</p>

          <p>Actualmente forma parte del grupo Bal, el cual administra otras compañías como Grupo Peñoles, Palacio de
            Hierro, Profuturo, Médica Móvil, Valores Mexicanos, Casa de Bolsa, Arrendadora Valmex, entre otros.</p>

          <p>A través de cada una de sus pólizas, GNP busca ofrecer productos que cubran las necesidades de protección
            de sus usuarios, disminuyendo pérdidas económicas ante siniestros.</p>

        </div>
      </div>
            <!-- ==========>INICIO BOTON COTIZAR<====== -->
            <div class="row pb-5">
        <div class="col-12 col-md-6 mt-5 mb-3 d-grid mx-auto">
          <a class="btnFormulario btn-block btn btn-md mb-0 mr-2"
            :href="this.$store.state.config.btnTop+ '#formcotizar'" style="text-decoration: none">
            <span class="text-white ltdBoton">Cotiza gratis
              <svg class="icons">
                <use xlink:href="#proximo" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <!-- ==========>FIN BOTON COTIZAR<====== -->
    </div>

   <!-- ==========>INICIO   Información sobre GNP Seguros<====== -->
   <div class="container-fluid mt-3 ">
      <h2 class=" text-left text-sm-left text-md-center  pt-5 pb-5">
        <strong class="color-camiones  title-content-two tam">
          Información sobre GNP Seguros
        </strong>
      </h2>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
          <ul class="pl-0 pl-md-5">
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Nombre Comercial:</strong> GNP Seguros
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Razón Social:</strong>Grupo Nacional Provincial S.A.B. (GNP) - BNamericas.
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Teléfono de Asistencia ante Siniestros:</strong> 55 5227 9000
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Teléfono de Asistencia Vial:</strong>55 5227 9000 
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>App Móvil:</strong>Soy Cliente GNP disponible para descarga gratuita en Google Play y App Store
            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Oficinas:</strong> Disponibles en 19 estados de la república

            </li>
            <li> <span><img loading="lazy" :src="this.$store.state.config.imgen + 'check.svg'" alt="check" width="15"
                  height="15"></span><strong>Cotizador Autorizado GNP:</strong>https://ahorraseguros.mx/
            </li>         
          </ul>
        </div>
      </div>
    </div>

    <!-- ==========>INICIO Preguntas Frecuentes<====== -->
    <div classs="contiainer-fluid pt-5">
  <div class="row text-left pl-md-3 pl-3 pr-3 pt-5">
    <div class="col-12 py-3 px-md-5 pt-2">
      <h2 class="colorTittle pb-4 text-center">Preguntas Frecuentes:</h2>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="">
        <h2 class="handle faq_question">
          ¿Cómo reportar un siniestro?
         
        </h2>
        <div class="preguntas">
          <p>Comunícate de forma inmediata a través de la Línea GNP al 55 5227 9000</p>
        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
       <section class="">
        <h2 class="handle faq_question">
          ¿Qué incluye la Asistencia Vial del Seguro para Moto GNP?
        </h2>
        <div class="preguntas faq_answer">
          <p> Envío de gasolina, cambio de neumático, cerrajero, envío de grúa</p>
        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="" :id="this.$store.state.config.id_q3">
        <h2 class="handle faq_question">
          <label :for="this.$store.state.config.id_q3">¿Cómo renovar mi seguro de moto?</label>
        </h2>
        <div class="preguntas faq_answer">
          <p>Puedes solicitar la renovación automática o realizarlo de forma manual un mes antes de la fecha de vigencia</p>
        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="" :id="this.$store.state.config.id_q4">
        <h2 class="handle faq_question">
          ¿Cuáles son los métodos de pago autorizados para contratar mi seguro de moto GNP?
        </h2>
        <div class="preguntas faq_answer">
          <p>Tarjeta de crédito o débito</p>
        </div>
      </section>
    </div>
    <div class="col-12 py-3 px-md-5 pt-2">
      <section class="" :id="this.$store.state.config.id_q4">
        <h2 class="handle faq_question">
          ¿Cuál es la vigencia del seguro de Moto GNP?
        </h2>
        <div class="preguntas faq_answer">
          <p>Un año a partir de la fecha de contratación</p>
        </div>
      </section>
    </div>

  </div>

</div>
<!-- ==========>FIN Preguntas Frecuentes<====== -->
  </div>
</template>
<script>
export default {
  beforeCreate() {
      if (typeof window !== 'undefined') {
     this.$store.state.config.btnTop =typeof window.location.href;
    }
    let cadena = this.$store.state.config.btnTop;
    let primero = cadena.search("#formcotizar")
    let separado;
    let cad2 = "";
    // se le quita el ultimo
    if (primero) {
      separado = cadena.substring(primero + 0, cadena.length).split("#formcotizar")
      separado.forEach(element => {
        cad2 += element.replaceAll("#formcotizar", "")
      });
    }
    cadena = cadena.substring(0, primero + 0) + cad2
    cadena = cadena.split(' ').join(' ').trim();
    this.$store.state.config.btnTop = cadena;
}
}
</script>

