<template>
<div class="row px-lg-5">
	<div class="col-12 mb-4 px-5 d-none d-lg-block d-md-block">
	    <img loading="lazy" src="img/ekomi.png" alt="ekomi" width="55%" height="53" class="img-fluid" style="padding-left: 57px;">
	</div>	
	<div class="col-12 col-md-4 col-lg-4 text-center pb-3" >
				<div class="card card-color py-3 d-block m-auto">
					<div class="card-body">
						<img src="img/02.svg" alt="Meses sin intereses" width="64" height="64" class="img-fluid">
						<p class="fw-bold m-0 pt-2">Obtén {{this.$store.state.config.desc }}</p>
						<p class="fw-bold">{{ this.$store.state.config.msi }} {{ this.$store.state.config.extraMsg }} </p>
                        
					</div>
				</div>
			</div>
    		<div class="col-12 col-md-4 col-lg-4 text-center pb-3" >
    			<div class="card card-color py-3 d-block m-auto">
    				<div class="card-body">
    					<img src="img/03.svg" alt="Obtén tu póliza" width="64" height="64" class="img-fluid">
    					<p class="fw-bold m-0 pt-2 ">Obtén  tu póliza</p>
    					<p class="fw-bold">hoy mismo</p>
    				</div>
    			</div>
			</div>
			<div class="col-12 col-md-4 col-lg-4 text-center pb-3" >
				<div class="card card-color py-3 d-block m-auto">
					<div class="card-body">
						<img src="img/04.svg" alt="Mejor precio" width="64" height="64" class="img-fluid">
						<p class="fw-bold m-0 pt-2">Mejor precio</p>
						<p class="fw-bold">Garantizado</p>
					</div>
				</div>
			</div>
</div>
</template>