<template>
    <ul class="ul-li-footer colorGray font-weigh-bold ps-0 ms-0">
      <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/blog/">Blog</a></li>
      <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/notas-de-prensa/">Notas de prensa</a></li>
      <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/blog/el-buen-fin-esta-en-ahorra-seguros/">Buen Fin 2020</a></li>
      <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/mapa-de-sitio/">Mapa de Sitio</a></li>
      <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.pe/">Ahorraseguros.pe</a></li>
      <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.com/">Ahorraseguros.com</a></li>
  </ul>
</template>