<template>
  <div class="container-fluid mt-0 mt-md-4">
    <div class="row text-center">
      <div class="col-12 d-none d-sm-none d-md-block">
          <img loading="lazy" alt="Ahorra Seguro banner" class="img-fluid" src='https://fra1.digitaloceanspaces.com/spaces-landings/assets/comparador-motos-ahorraseguros.png' width="568" heigth="433"/>
      </div>
    </div>
  </div>
</template>
