<template>

</template>
<script>
  export default {
    created: function () {

  },

  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
        let cadena = window.location.href;
        let primero = cadena.search("#formcotizar")
        let separado;
        let cad2 = "";
        // se le quita el ultimo
        if (primero) {
          separado = cadena.substring(primero + 0, cadena.length).split("#formcotizar")
          separado.forEach(element => {
            cad2 += element.replaceAll("#formcotizar", "")
          });
        }
        cadena = cadena.substring(0, primero + 0) + cad2
        cadena = cadena.split(' ').join(' ').trim();
        this.$store.state.config.btnTop = cadena;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>  
<style scoped>
#return-to-top {position: fixed;bottom: 18px;right:18px;background-color: #ffffff;width: 150px;height: 50px;text-decoration: none;-webkit-border-radius: 35px;-moz-border-radius: 35px;border-radius: 35px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;padding: 10px 5px;text-align: center;padding: 10px 0;border: 2px solid;z-index:1;}
a:hover {color:#0065c5;text-decoration: underline;}
.btn-top{color:#0065c5;}
</style>
