<template>
  <div class="container-fluid px-0" id="gnp">
    <div class="border-0">
      <div class="card-body">
        <div class="row justify-content-center bg-white">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center border rounded pt-2 shadow-cards"
            v-if="Object.keys(this.$store.state.cotizacion).length > 0">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 my-auto">
                <img class="img-fluid" style="width:190px;display:block;margin:0 auto;"
                  src="/seguros-para-motos/img/logos/gnp.svg" alt="Aseguradora GNP" />
              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 d-none d-sm-none d-md-block my-auto">

              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 px-md-0 text-center my-auto">
                <div class="display-6 font-weight-bold">
                  <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:16px">
                    <!--   {{this.$store.state.cotizacion.Paquete}} -->
                  </span>
                  <span style="font-size:30px;font-weight:bold;text-center;color:green" v-if="this.$store.state.cotizacion.cotizacion.primaTotal !==
                    0 &&
                    this.$store.state.cotizacion.cotizacion.primaTotal !==
                    null
                    ">
                    {{
                      this.$store.state.cotizacion.cotizacion.primaTotal
                      | currency
                    }}

                  </span>
                  <span style="font-size:16px;font-weight:bold;text-center;color:green" v-if="this.$store.state.cotizacion.cotizacion.primaTotal ===
                      0 ||
                      this.$store.state.cotizacion.cotizacion.primaTotal ===
                      null
                      ">
                    Precio disponible sólo por télefono
                  </span>
                  <i class="astesrik p-landing-gnp">*</i>
                  <br />
                  <!-- <p style="font-size:12px; font-weight:bold;">+12 Meses sin Intereses</p> -->
                  <span class="text-secondary lead float-none w-100" style="font-weight: bold; font-size: 14px;">+12 Meses
                    sin Intereses</span>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-auto">
                <div class="text-center">
                  <a id="btnTrackingEcommerce" class="btn btn-bla py-2 ms-4" :data-tooltip="'Obtén ' +
                    this.$store.state.config.desc +
                    ' ' +
                    this.$store.state.config.msi
                    " tabindex="0" target="_blank" rel="nofollow" role="button" @click="conectarEmision()"
                    v-bind:class="{
                      disabled: this.$store.state.config.btnEmisionDisabled,
                    }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">
                    <!-- <span class="text-white p-1 txt-linea">
            <svg class="icons"><use xlink:href="#carrito-compra"></use></svg>
            COMPRAR EN LÍNEA
            <svg class="icons"><use xlink:href="#proximo"></use></svg>
          </span> -->
                    <img src="img/btn_ecommerce.svg" alt="btn" class="btn-ecomerce img-fluid" width="260" height="60">
                  </a>

                </div>
                <div class="text-center">
                  <div id="tooltip" class="">
                    <span class="mb-0 text-white">Un ejecutivo se pondrá en contacto contigo.</span>
                  </div>
                  <a id="idTelDID" class="btn btn-bla py-2 ms-4 " v-bind:class="{
                    disabled: this.$store.state.config.btnEmisionDisabled,
                  }" :disabled="this.$store.state.config.btnEmisionDisabled"
                    v-if="$store.state.config.emision === true"
                    rel="nofollow" role="button">
                    <span class="text-center mr-4 text-white">

                      <span class=" p-0">
                        <img src="/seguros-para-motos/img/btn_interaccion.svg" alt="btn" class="btn-interaccion img-fluid"
                          width="260" height="60" @click="saveInteraccion()" />
                      </span>

                    </span>
                  </a>
                </div>
                <a @click="collapseFunction()" class="detalles pt-2 pb-3">
                  <u>Detalle de coberturas</u>
                </a>
              </div>

            </div>
            <div v-if="this.$store.state.config.detallesGNP" id="collapseId" class="col-12 d-block">
              <!-- TABLA -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-if="this.$store.state.cargandocotizacion">
                <div class="table-responsive">
                  <table class="table table-hover table-sm style_table">
                    <thead>
                      <tr>
                        <th>Coberturas</th>
                        <th>Precio</th>
                        <th>Deducible</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in this.$store.state.cotizacion
                        .coberturas" :key="index">
                        <!-- <tr v-for="(item, index) in this.$store.state.cotizacion.Coberturas[0]" :key="index" v-if="item != '-'"> -->
                        <th>{{ item | showName }}</th>
                        <td>{{ item | showSuma }}</td>
                        <td>{{ item | showDeducible }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div v-else id="collapseId" class="col-12 d-none">
              <!-- TABLA -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-if="this.$store.state.cargandocotizacion">
                <div class="table-responsive">
                  <table class="table table-hover table-sm style_table">
                    <thead>
                      <tr>
                        <th>Coberturas</th>
                        <th>Precio</th>
                        <th>Deducible</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in this.$store.state.cotizacion
                        .coberturas" :key="index">
                        <!-- <tr v-for="(item, index) in this.$store.state.cotizacion.Coberturas[0]" :key="index" v-if="item != '-'"> -->
                        <th>{{ item | showName }}</th>
                        <td>{{ item | showSuma }}</td>
                        <td>{{ item | showDeducible }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--alert success-->
            <div class=" col-12 alert alert-success m-0 p-0" role="alert" v-if="$store.state.formData.marca != 'ITALIKA'">
              <i class="fa fa-tag fa-lg font-weight-bold f10 ml-1 p-2" style="color:green;font-size:15px;"></i>¡El mejor
              precio de tu seguro!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import wsNuevoLeadInteraccion from "~/plugins/wsNuevoLeadInteraccion";
import wsNuevoLeadEmision from "~/plugins/wsNuevoLeadEmision";
const sitio = process.env.sitio
const motorGNP = process.env.motorGNP
const motorQualitas = process.env.motorQualitas

export default {
  data() {
    return { collapse: false };
  },
  methods: {
    collapseFunction() {
      const collapse = this.collapse;
      if (collapse) {
        document.getElementById("collapseId").className = "d-none";
        this.collapse = false;
      } else {
        document.getElementById("collapseId").className = "d-block";
        this.collapse = true;
      }
    },
    conectarEmision() {

      if (this.$store.state.config.habilitarBtnEmision) {
        this.$store.state.config.btnEmisionDisabled = true;
        var jsonEcomerseEmision = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid:
            this.$store.state.formData.telefonoValid === "FIJO" ||
              this.$store.state.formData.telefonoValid === "MOVIL"
              ? true
              : false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idEcommerce,
          idEstadoCotizacion: 6, //segun Fredo
          idTipoContacto: 6, //segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        wsNuevoLeadEmision
          .newLeadEm(
            JSON.stringify(jsonEcomerseEmision),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            if (resp.data.data !== undefined) {
              resp = resp.data.data;
            } else {
              resp = resp.data;
            }
            //Conexion a motor de pago online
            if (
              resp.idSolicitudes != 0 &&
              resp.idCotizacionesAli != 0 &&
              resp.idCotizaciones != 0 &&
              resp.idProductoSolicitud != 0 &&
              resp.idProspecto != 0 &&
              this.$store.state.formData.precio > 1000
            ) {
            let peticion =
              resp.idSolicitudes +
              "|" +
              resp.idCotizacionesAli +
              "|" +
              resp.idCotizaciones +
              "|" +
              resp.idProductoSolicitud +
              "|" +
              resp.idProspecto +
              "|" +
              sitio + this.$store.state.config.urlRuta
              let x = Buffer.from(JSON.stringify(peticion)).toString("base64");
              //let x=base64.encode(JSON.stringify(peticion))
              x = x.replace('"', "");
              //---------LOCAL
              //window.open("http://localhost:3201?id="+x, "_blank");

              //------------PRODUCCION
              // window.open("https://gnp-comprasegura.com/?id=" + x, "_self");
              if (this.$store.state.config.aseguradora == "QUALITAS") {
                window.open(motorQualitas + "/?id=" + x, "_blank");
              } else {
                window.open(motorGNP + "/?id=" + x, "_blank");
              }
              // window.open("https://atlas-comprasegura.com/?id=" + x, "_blank");
            }
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    this.$store.state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    this.$store.state.config.accessToken =
                      resp.data.accessToken;
                  }
                  this.conectarEmision();
                })
                .catch((error) => {
                  this.$store.state.idEndPoint = 49;
                  this.catchStatusAndMessage(error, {
                    tokenData: dbService.tokenData,
                  });

                });
            } else {
              this.$store.state.idEndPoint = 440;
              this.catchStatusAndMessage(error, jsonEcomerseEmision);

            }
          });
      }
    },
    saveInteraccion() {
      // debugger
      if (!this.$store.state.config.habilitarBtnInteraccion) {
        document.getElementById("tooltip").className = "d-block mx-auto text-center";
        this.$store.state.config.btnEmisionDisabled = true;
        var jsonEcomerse = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid:
            this.$store.state.formData.telefonoValid === "FIJO" ||
              this.$store.state.formData.telefonoValid === "MOVIL"
              ? true
              : false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionInteraccion,
          idEstadoCotizacion: 7, //por defectro segun Fredo
          idTipoContacto: 1, //por defectro segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        wsNuevoLeadInteraccion
          .newLeadEm(
            JSON.stringify(jsonEcomerse),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            //Conexion a motor de pago online
            console.log("INTERACCION OK....");
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    this.$store.state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    this.$store.state.config.accessToken =
                      resp.data.accessToken;
                  }
                  this.saveInteraccion();
                })
                .catch((error) => {
                  this.$store.state.idEndPoint = 49;
                  this.catchStatusAndMessage(error, {
                    tokenData: dbService.tokenData,
                  });

                });
            } else {
              this.$store.state.idEndPoint = 442;
              this.catchStatusAndMessage(error, jsonEcomerse);

            }
          });
      }
    },
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },
  },
  components: {
  },
  filters: {
    showName: function (value) {
      return value.nombre;
    },
    showSuma: function (value) {
      var sumaAseg = value.sumaAsegurada;
      var regExp = /[123456789]/;
      var result = regExp.exec(sumaAseg);
      if (sumaAseg == 0 || sumaAseg == "") {
        sumaAseg = "No aplica";
      } else if (sumaAseg == 1) {
        sumaAseg = "AMPARADA";
      } else if (result != null) {
        //tiene numeros 1-9
        var regExp2 = /[a-zA-Z]/g;
        var result2 = regExp2.exec(sumaAseg);
        if (sumaAseg.includes("$") == false) {
          if (result2 != null) {
            //V. COMERCIAL50000
            sumaAseg =
              sumaAseg.substring(0, result.index) +
              " $ " +
              sumaAseg.substring(result.index, sumaAseg.length);
          } else {
            sumaAseg = "$ " + sumaAseg;
          }
        }
        if (sumaAseg.includes(".0") == true) {
          if (sumaAseg.includes(".00") == false) {
            sumaAseg = sumaAseg + "0";
          }
        } else {
          sumaAseg = sumaAseg + ".00";
        }
      }
      return sumaAseg;
    },
    showDeducible: function (value) {
      var deducible = value.deducible;
      var regExp = /[123456789]/;
      var result = regExp.exec(deducible);
      if (deducible == 0 || deducible == "" || deducible == "0%") {
        deducible = "No aplica";
      } else if (deducible.includes("$") == true) {
        if (deducible.includes(".0") == true) {
          if (deducible.includes(".00") == false) {
            deducible = deducible + "0";
          }
        } else {
          deducible = deducible + ".00";
        }
      } else if (result != null) {
        //tiene numeros 1-9
        if (deducible.includes("%") == false) {
          deducible = deducible + " %";
        }
      }
      return deducible;
    }
  }
};
</script>
<style>
#tooltip {
  max-width: 275px;
  display: none;
  background: #463C3C;
  border: 3px solid #463C3C;
  padding: 10px;
  position: relative;
  top: -15px;
  margin-top: -60px;
  /* left: 35%; */
  word-wrap: break-word;
  border-radius: 5px;
  margin-top: -73px;
  z-index: 2;
  color: white !important;
}

#tooltip:after {
  content: '';
  position: absolute;
  display: block;
  top: 103%;
  left: 45%;
  margin: 0auto;
  width: 0;
  height: 0;
  border-color: #463C3C transparent transparent transparent;
  border-style: solid;
  border-width: 15px;
}
</style>
