<template>
  <div class="container-fluid" style="background-color: #030a2a;">
      <div class="col-12 col-sm-12 col-md-12 col-lg-10">
        <div class="row">  
            <div class="col-12 d-block d-md-none text-center mt-2 "> <img loading="lazy" src='img/googleN.webp' alt="google" width="170" height="48"></div>
            <div class="col-4 col-md-2 col-lg-2 mt-2  text-center" >
              <img loading="lazy" src="img/EKOMII.png" alt="ekomi" class="img-fluid " width="55" height="58">            
            </div>
            <div class="col-8 col-md-4 col-lg-4 mt-2 text-center" style="line-height: 68px;">
              <img loading="lazy" src='img/ANVO.webp' alt="digicert" class="img-fluid" width="130" height="152" >
            </div>
        
            <div class="col-5 col-md-1 col-lg-4 d-none d-md-block d-lg-block"></div>
            
            <div class="col-12 col-md-1 col-lg-1 me-sm-0 ml-md-3 d-none d-md-block pt-3">
                <img loading="lazy" src="img/googleN.webp" alt="google"  width="170" height="48">
            </div>
          </div>
      </div>
  </div>
</template>
<script>
  // import valoraciones from '~/components/common/valoraciones.vue';
  export default{
    components: {

    },
  }
</script>
