<template>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-6 col-sm-5 col-md-4 col-lg-4 text-center">
          <span class="best-price m-auto grayscale d-inline-block"></span>
        </div>
        <div class="col-3 col-sm-2 col-md-2 col-lg-3 ml-sm-0 ml-md-3 mt-2 offset-2 offset-sm-0">
          <div class="google circle-f mb-1" itemprop="organization" itemscope itemtype="http://schema.org/organization">
            <meta itemprop="name" content="Ahorra Seguros México">
            <meta itemprop="brand" content="AhorraSeguros" />
            <meta itemprop="description" content="Seguro de autos, motos y app al mejor precio" />
            <meta itemprop="image" content="https://ahorraseguros.mx/wp-content/uploads/src/leoescool.png"/>
            <meta itemprop="url" content="https://ahorraseguros.mx/">
            <meta itemprop="address" content="Francisco Tamagno 223, Vallejo, Gustavo A. Madero, 07870 Ciudad de México, CDMX" />
            <meta itemprop="telephone" content="+525547440410" />
            <meta itemprop="sameAs" content="https://www.facebook.com/AhorraSeguros/"/>
            <meta itemprop="sameAs" content="https://twitter.com/AhorraSeguros/"/>
            <meta itemprop="sameAs" content="https://www.instagram.com/ahorraseguros/"/>
            <meta itemprop="sameAs" content="https://www.youtube.com/ahorraseguros/"/>
          </div>

           <div class="google circle-f mb-1" itemprop="product" itemscope itemtype="http://schema.org/Product">
              <meta itemprop="name" content="Ahorra Seguros México">
              <meta itemprop="url" content="https://ahorraseguros.mx/">              
            <meta itemprop="brand" content="AhorraSeguros" />
            <meta itemprop="description" content="Seguro de autos, motos y app al mejor precio" />
            <meta itemprop="image" content="https://ahorraseguros.mx/wp-content/uploads/src/leoescool.png"/>
            <meta itemprop="sameAs" content="https://www.facebook.com/AhorraSeguros/"/>
            <meta itemprop="sameAs" content="https://twitter.com/AhorraSeguros/"/>
            <meta itemprop="sameAs" content="https://www.instagram.com/ahorraseguros/"/>
            <meta itemprop="sameAs" content="https://www.youtube.com/ahorraseguros/"/>
            <meta itemprop="sku" content="-">
              <span itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <link itemprop="url" href="https://ahorraseguros.mx/" />
                <meta itemprop="itemCondition" content="https://schema.org/NewCondition" />
                <meta itemprop="availability" content="https://schema.org/InStock" />
                <meta itemprop="price" content="40%" />
                <meta itemprop="priceCurrency" content="MXN" />
              </span>  
              <a href="/opiniones-ahorraseguros/" itemprop="aggregateRating" itemscope itemtype="http://schema.org/aggregateRating">
              <div class="google-opinionsLeo grayscale pt-3">
                    <meta itemprop="ratingValue" content="4.8">
                    <meta itemprop="bestRating" content="5">
                    <meta itemprop="reviewCount" content="589">
                    <span class="numerito pt-1 pl-3">4.8</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
          <span class="ekomi m-auto grayscale d-inline-block"></span> 
          <!-- <span class="cert m-auto d-inline-block ml-lg-5"> </span>         -->
        </div>
      </div>
    </div>
  </div>
</div>
</template>