<template>
     <ul class="ul-li-footer colorGray font-weigh-bold ps-0 ms-0">
       <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/comparador-de-seguros/">Comparador de Seguros</a></li>
       <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguros-de-autos/cotizar-seguro-de-auto/">Cotizar Seguro de auto</a></li>
       <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguros-de-autos/comparar-seguros-de-autos/">Comparador de Seguros de auto</a></li>
       <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguros-de-autos/guias/">Guías Seguro de auto</a></li>
       <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguros-para-motos/guias/">Guías seguro de moto</a></li>
       <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguro-de-casa/guias/">Guías seguro de hogar</a></li>
       <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguros-de-gastos-medicos/guias/">Guías gastos Médicos</a></li>
    </ul>
</template>