<template>
<div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="FAQ_title">Preguntas Frecuentes</h2>
    </div>
    <div class="col-12">
      <section class="accordion">
        <input type="checkbox" name="faqCollapse" :id="'this.$store.state.config.id_q1'">
        <h2 class="handle faq_question">
          <label :for="'this.$store.state.config.id_q1'">{{$store.state.config.question1}}</label>
        </h2>
        <div class="content faq_answer">
          <p> {{$store.state.config.answer1}}</p>
        </div>
      </section>
    </div>
    <div class="col-12">
       <section class="accordion">
        <input type="checkbox" name="faqCollapse" :id="'this.$store.state.config.id_q2'">
        <h2 class="handle faq_question">
          <label :for="'this.$store.state.config.id_q2'">{{$store.state.config.question2}}</label>
        </h2>
        <div class="content faq_answer">
          <p> {{$store.state.config.answer2}}</p>
        </div>
      </section>
    </div>
    <div class="col-12">
      <section class="accordion">
        <input type="checkbox" name="faqCollapse" :id="'this.$store.state.config.id_q3'">
        <h2 class="handle faq_question">
          <label :for="'this.$store.state.config.id_q3'">{{$store.state.config.question3}}</label>
        </h2>
        <div class="content faq_answer">
          <p> {{$store.state.config.answer3}}</p>
        </div>
      </section>
    </div>
    <div class="col-12">
      <section class="accordion">
        <input type="checkbox" name="faqCollapse" :id="'this.$store.state.config.id_q4'">
        <h2 class="handle faq_question">
          <label :for="'this.$store.state.config.id_q4'">{{$store.state.config.question4}}</label>
        </h2>
        <div class="content faq_answer">
          <p> {{$store.state.config.answer4}}</p>
        </div>
      </section>
    </div>
    <div class="col-12">
      <section class="accordion">
        <input type="checkbox" name="faqCollapse" :id="'this.$store.state.config.id_q5'">
        <h2 class="handle faq_question">
          <label :for="'this.$store.state.config.id_q5'">{{$store.state.config.question5}}</label>
        </h2>
        <div class="content faq_answer">
          <p> {{$store.state.config.answer5}}</p>
        </div>
      </section>
    </div>
  </div>
  </div>
</div>
</template>
   
<script>
   export default{
     data() {
       return {
        frequentQuestions: {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
      {
        "@type": "Question",
        "name":this.$store.state.config.question1,
        "acceptedAnswer": {
          "@type": "Answer",
          "text": this.$store.state.config.answer1,
        }
      },
      {
      "@type": "Question",
        "name": this.$store.state.config.question2,
        "acceptedAnswer": {
          "@type": "Answer",
          "text":this.$store.state.config.answer2
        }
      },
      {
      "@type": "Question",
        "name": this.$store.state.config.question3,
        "acceptedAnswer": {
          "@type": "Answer",
          "text": this.$store.state.config.answer3
        }
      },
      {
      "@type": "Question",
        "name": this.$store.state.config.question4,
        "acceptedAnswer": {
          "@type": "Answer",
          "text": this.$store.state.config.answer4
        }
      },
      {
      "@type": "Question",
        "name": this.$store.state.config.question5,
        "acceptedAnswer": {
          "@type": "Answer",
          "text": this.$store.state.config.answer5
        }
      }
      ]
    }
  }
},

 head () { 
    return { 
      __dangerouslyDisableSanitizers: ['script'], 
      script: [{innerHTML:JSON.stringify(this.frequentQuestions), type: 'application/ld+json'}]
     } 
  }, 
  async asyncData (context) { 
  
  } 
}


</script>  
<style scoped="">
.accordion > input[name="faqCollapse"]{display:none;}
.accordion label,.accordion .content{margin:0 auto;}
.accordion .content {background:#fff;overflow: hidden;height:0;transition:0.5s;box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);}
.accordion > input[name="faqCollapse"]:checked ~ .content {height: 380px;transition: height 0.5s;}
.accordion label{display: block;}
/* For Desktop */
@media only screen and (min-width: 620px){
.accordion > input[name="faqCollapse"]:checked ~ .content {height:auto;padding-bottom:0.5rem;}
}
.accordion {margin-bottom: 1em;}
.accordion > input[name="faqCollapse"]:checked ~ .content {border-top: 0;transition: 0.3s;}
.accordion .handle {margin: 0;font-size: 16px;}
.accordion label{color: inherit;cursor: pointer;font-weight: normal;padding: 10px;background: transparent;user-select: none;}
.accordion label:hover,.accordion label:focus{background:#efefef;}
.accordion .handle label:before {content: "+";display: inline-block;margin-right: 10px;font-size: 1em;line-height: 1.556em;vertical-align: middle;transition: 0.4s;}
.accordion > input[name="faqCollapse"]:checked ~ .handle label:before {transform: rotate(180deg);transform-origin: center;transition: 0.4s;}

</style>


    
