<template>

            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-2 text-center pb-3 m-auto">
                        <div class="card card-aseg2 card-color  d-block m-auto">
                            <div class="card-body mt-2"><img src="img/MAPFRE.svg" class="img-fluid" width="125" ></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-2 text-center pb-3 m-auto">
                        <div class="card card-aseg2 card-color  d-block m-auto">
                            <div class="card-body mt-2"><img src="img/Qualitas.svg" class="img-fluid" width="150" ></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-2 text-center pb-3 m-auto">
                        <div class="card card-aseg2 card-color  d-block m-auto">
                            <div class="card-body"><img src="img/banorte.svg"
                                    class="img-fluid mt-2" width="125" ></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-2 text-center pb-3 m-auto">
                        <div class="card card-aseg2 card-color  d-block m-auto">
                            <div class="card-body mt-2"><img src="img/logos/MIGO.svg" class="img-fluid" width="85" ></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-2 text-center pb-3 m-auto">
                        <div class="card card-aseg2 card-color  d-block m-auto">
                            <div class="card-body mt-2"><img src="img/GNP.svg" class="img-fluid" width="130" ></div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-12 col-md-12 col-lg-2 text-center pb-3 m-auto">
                        <div class="card card-aseg2 card-color  d-block m-auto">
                            <div class="card-body">
                                <img src="img/axa.svg" class="img-fluid " width="65"  >
                                </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-2 text-center pb-3 m-auto">
                        <div class="card card-aseg2 card-color  d-block m-auto">
                            <div class="card-body mt-2"><img src="img/Atlas.svg" class="img-fluid" width="125" ></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-2 text-center pb-3 m-auto">
                        <div class="card card-aseg2 card-color  d-block m-auto">
                            <div class="card-body mt-2"><img src="img/hdi.svg" class="img-fluid" width="85" ></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-2 text-center pb-3 m-auto">
                        <div class="card card-aseg2 card-color  d-block m-auto">
                            <div class="card-body mt-4"><img src="img/aba.svg" class="img-fluid" width="130" ></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-2 text-center pb-3 m-auto">
                        <div class="card card-aseg2 card-color  d-block m-auto">
                            <div class="card-body mt-2"><img src="img/ana.svg" class="img-fluid" width="85" ></div>
                        </div>
                    </div>
                </div> -->

            </div>

</template>