<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block  ">
                           <p class="mt-3 colorCards "> CDMX</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            <p class="mt-3 colorCards ">EDOMEX</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            <p class="mt-3 colorCards ">Guadalajara</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            <p class="mt-3 colorCards ">Monterrey</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            
                            <p class="mt-3 colorCards ">Puebla</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            
                            <p class="mt-3 colorCards ">Querétaro</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            
                            <p class="mt-3 colorCards ">Tijuana</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            <p class="mt-3 colorCards ">Merida</p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            
                            <p class="mt-3 colorCards ">León</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            
                            <p class="mt-3 colorCards ">Chihuahua</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            <p class="mt-3 colorCards ">Michoacán</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 text-center pb-2 m-auto">
                        <div class="card card-aseg3  d-block m-auto">
                            
                            <p class="mt-3 colorCards ">Culiacán</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>