<template>
  <div class="container-fluid">
    <div class="row cardColor">

<!--       <div class="col-12 mt-5 mb-3 ">
        <h2 class="colorTittle">
          Temas Relacionados
        </h2>
        <div class="row">
        <div class="col-12 col-md-3 col-lg-6" style="color= black;">

          <ul>
            <li>
              <a href="https://ahorraseguros.mx/seguros-para-motos/guias/tipos-de-motos/"> ¿Qué tipos de motos
                existen?</a>
            </li>

            <li><a href="https://ahorraseguros.mx/seguros-para-motos/guias/cuanto-cuesta-un-seguro-para-moto/"> ¿Cuánto
                cuesta un Seguro para Motos? </a></li>
            <li><a href="https://ahorraseguros.mx/seguros-para-motos/guias/seguro-para-moto-de-danos-a-terceros/">
                Seguro para moto de daños a terceros </a></li>
            <li><a href="https://ahorraseguros.mx/seguros-para-motos/guias/cual-es-el-mejor-seguro-para-motos/"> ¿Cuál
                es el mejor seguro para motos? </a></li>
          </ul>

        </div>
        <div class="col-12 col-md-3 col-lg-6" style="color= black;">
          <ul>
            <li>
              <a href="https://ahorraseguros.mx/seguros-para-motos/guias/seguros-para-motos-italika/">
                Cotiza seguro para motos Italika
              </a>
            </li>
            <li>
              <a href="https://ahorraseguros.mx/seguros-para-motos/guias/seguros-para-motos-elektra/">
                Seguros para motos Elektra
              </a>
            </li>
            <li>
              <a href="https://ahorraseguros.mx/seguros-de-autos/transito/licencia-para-moto/">
                Conoce la nueva licencia para moto CDMX
              </a>
            </li>
            <li>
              <a href="https://ahorraseguros.mx/seguros-para-motos/guias/seguros-yamaha-motos/">
                Seguros para Motos Yamaha
              </a>
            </li>
          </ul>
        </div>
</div>


      </div> -->

    </div>
    <!--------------------------- Principales Aseguradoras ---------------------------------->
    <div class="row">
      <div class="col-11 col-sm-12 col-md-12  mt-3">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-3 d-block d-md-none ">
            <section class="accordion">
              <input type="checkbox" name="footerCollapse" id="principales">
              <div class="handlen">
                <label for="principales">
                  <span class="h5">
                    <a class="nolink-title  font-weight-bold" href="https://ahorraseguros.mx/aseguradoras/">
                      Principales Aseguradoras
                    </a>
                  </span>
                </label>
              </div>
              <div class="content">
                <ul class="ul-li-footer  font-weigh-bold pl-0 ml-0">
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/GNP/">GNP Seguros</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/Qualitas/">Quálitas Compañía de Seguros</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/el-aguila/">El Águila Compañía de Seguros</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/mapfre/">Mapfre Seguros</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/aba/">ABA Seguros</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/banorte/">Seguros Banorte</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/inbursa/">Inbursa</a></li>
                </ul>
              </div>
            </section>
          </div>
          <div class="col-12 col-sm-6 col-md-3  font-weigh-bold d-none d-md-block ">
            <span class="h5">
              <a class="nolink-title  font-weight-bold"
                href="https://ahorraseguros.mx/aseguradoras/">Principales Aseguradoras</a>
            </span>
            <principales-component />
          </div>
          <!------------------------------ Tipos de Seguros ------------------------------------------>
          <div class="col-12 col-md-3 col-lg-3 d-block d-md-none ">
            <section class="accordion">
              <input type="checkbox" name="footerCollapse" id="tipos">
              <div class="handlen">
                <label for="tipos">
                  <span class="h5">
                    <a class="nolink-title  font-weight-bold"
                      href="https://ahorraseguros.mx/tipos-de-seguros/">
                      Tipos de Seguros
                    </a>
                  </span>
                </label>
              </div>
              <div class="content">
                <ul class="ul-li-footer  font-weigh-bold pl-0 ml-0">
                  <li class="py-2"><a class="nolink-p   font-weigh-bold"
                      href="https://ahorraseguros.mx/seguros-de-autos/">Seguros para Autos</a></li>
                  <li class="py-2"><a class="nolink-p   font-weigh-bold"
                      href="https://ahorraseguros.mx/seguros-para-motos/">Seguro para Motos</a></li>
                  <li class="py-2"><a class="nolink-p   font-weigh-bold"
                      href="https://ahorraseguros.mx/uber/">Seguro para Uber</a></li>
                  <li class="py-2"><a class="nolink-p   font-weigh-bold"
                      href="https://ahorraseguros.mx/seguros-para-taxis/">Seguros para Taxi</a></li>
                  <li class="py-2"><a class="nolink-p   font-weigh-bold"
                      href="https://ahorraseguros.mx/seguros-de-hogar/">Seguros de hogar</a></li>
                  <li class="py-2"><a class="nolink-p   font-weigh-bold"
                      href="https://ahorraseguros.mx/seguros-de-gastos-medicos/">Seguros de Gastos Médicos</a></li>
                  <li class="py-2"><a class="nolink-p   font-weigh-bold"
                      href="https://ahorraseguros.mx/seguro-de-vida/">Seguros de Vida</a></li>
                </ul>
              </div>
            </section>
          </div>
          <div class="col-12 col-sm-6 col-md-3  font-weigh-bold d-none d-md-block ">
            <span class="h5">
              <a class="nolink-title  font-weight-bold" href="https://ahorraseguros.mx/tipos-de-seguros/">Tipos
                de Seguros</a></span>
            <tipos-component />
          </div>

          <!-------------- Enlaces de Interés ------------------------------>
          <div class="col-12 col-md-3 col-lg-3 d-block d-md-none ">
            <section class="accordion">
              <input type="checkbox" name="footerCollapse" id="enlaces">
              <div class="handlen">
                <label for="tipos">
                  <span class="h5">
                    <a class="nolink-title  font-weight-bold" href="https://ahorraseguros.mx/">
                      Enlaces de Interés
                    </a>
                  </span>
                </label>
              </div>
              <div class="content">
                <ul class="ul-li-footer  font-weigh-bold pl-0 ml-0">
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/blog/">Blog</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/notas-de-prensa/">Notas de prensa</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/blog/el-buen-fin-esta-en-ahorra-seguros/">Buen Fin 2020</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/mapa-de-sitio/">Mapa de Sitio</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.pe/">Ahorraseguros.pe</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.com/">Ahorraseguros.com</a></li>
                </ul>
              </div>
            </section>
          </div>
          <div class="col-12 col-sm-6 col-md-3  font-weigh-bold d-none d-md-block ">
            <span class="h5"><a class="nolink-title  font-weight-bold" href="https://ahorraseguros.mx/">Enlaces
                de Interés</a></span>
            <enlaces-component />
          </div>
          <!--Acerca de ahorra -->
          <div class="col-12 col-md-3 col-lg-3 d-block d-md-none ">
            <section class="accordion">
              <input type="checkbox" name="footerCollapse" id="acerca">
              <div class="handlen">
                <label for="acerca">
                  <span class="h5">
                    <a class="nolink-title  font-weight-bold"
                      href="https://ahorraseguros.mx/acerca-de-ahorra-seguros/">
                      Acerca de Ahorra
                    </a>
                  </span>
                </label>
              </div>
              <div class="content">
                <ul class="ul-li-footer  font-weigh-bold pl-0 ml-0">
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/blog/">Blog</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/notas-de-prensa/">Notas de prensa</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/blog/el-buen-fin-esta-en-ahorra-seguros/">Buen Fin 2020</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.mx/mapa-de-sitio/">Mapa de Sitio</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.pe/">Ahorraseguros.pe</a></li>
                  <li class="py-2"><a class="nolink-p  font-weigh-bold"
                      href="https://ahorraseguros.com/">Ahorraseguros.com</a></li>
                </ul>
              </div>
            </section>
          </div>
          <div class="col-12 col-sm-6 col-md-3  d-none d-md-block ">
            <span class="h5">
              <a class="nolink-title  font-weight-bold"
                href="https://ahorraseguros.mx/acerca-de-ahorra-seguros/">Acerca de Ahorra</a></span>
            <acerca-component />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <div class="col-12">© 2020 AhorraSeguros. Todos los derechos reservados. El uso de este sitio implica que
          aceptas nuestros <a href="https://ahorraseguros.mx/terminos-y-condiciones/" class="color-ref">Términos y
            condiciones</a>, así como el <a href="https://ahorraseguros.mx/aviso-de-privacidad/" class="color-ref">Aviso
            de privacidad</a>.</div>
      </div>
    </div>
    <div class="white-space"></div>
    <div hidden>
      <svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="proximo" viewBox="0 0 477.175 477.175">
          <title>proximo</title>
          <path fill="#fff"
            d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5 c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z " />
        </symbol>
        <symbol id="proximo-questions" viewBox="0 0 477.175 477.175">
          <title>proximo-questions</title>
          <path fill="#494c4a"
            d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5 c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z " />
        </symbol>
        <symbol id="proximo-btnTop" viewBox="0 0 477.175 477.175">
          <title>proximo-btnTop</title>
          <path fill="color:#0065c5;"
            d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5 c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z " />
        </symbol>
        <symbol id="llamada" viewBox="0 0 473.806 473.806">
          <title>llamada</title>
          <path fill="#fff"
            d="M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4 c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8 c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6 c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5 c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26 c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9 c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806 C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20 c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6 c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1 c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3 c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5 c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8 c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9 l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1 C420.456,377.706,420.456,388.206,410.256,398.806z" />
          <path fill="#fff"
            d="M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2 c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11 S248.656,111.506,256.056,112.706z" />
          <path fill="#fff"
            d="M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11 c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2 c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z" />
        </symbol>
        <symbol id="error" viewBox="0 0 475.2 475.2">
          <title>error</title>
          <path
            d="M405.6,69.6C360.7,24.7,301.1,0,237.6,0s-123.1,24.7-168,69.6S0,174.1,0,237.6s24.7,123.1,69.6,168s104.5,69.6,168,69.6 s123.1-24.7,168-69.6s69.6-104.5,69.6-168S450.5,114.5,405.6,69.6z M386.5,386.5c-39.8,39.8-92.7,61.7-148.9,61.7 s-109.1-21.9-148.9-61.7c-82.1-82.1-82.1-215.7,0-297.8C128.5,48.9,181.4,27,237.6,27s109.1,21.9,148.9,61.7 C468.6,170.8,468.6,304.4,386.5,386.5z" />
          <path
            d="M342.3,132.9c-5.3-5.3-13.8-5.3-19.1,0l-85.6,85.6L152,132.9c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1 l85.6,85.6l-85.6,85.6c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l85.6-85.6l85.6,85.6c2.6,2.6,6.1,4,9.5,4 c3.5,0,6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1l-85.4-85.6l85.6-85.6C347.6,146.7,347.6,138.2,342.3,132.9z" />
        </symbol>
        <symbol id="check-aba" viewBox="0 0 490.4 490.4">
          <title>check-aba</title>
          <path fill="#0096ac"
            d="M309.4,185.5l-94,93.5l-34.3-34.5c-4.8-4.8-12.5-4.8-17.3-0.1c-4.8,4.7-4.8,12.5-0.1,17.3l42.9,43.2 c2.4,2.4,5.5,3.6,8.7,3.6c3.1,0,6.2-1.2,8.6-3.6l102.7-102.1c4.8-4.8,4.8-12.5,0.1-17.3C321.9,180.7,314.2,180.7,309.4,185.5z" />
        </symbol>
        <symbol id="carrito-compra" viewBox="0 0 512.001 512.001">
          <title>carrito-compra</title>
          <g>
            <g>
              <path fill="#fff"
                d="M503.142,79.784c-7.303-8.857-18.128-13.933-29.696-13.933H176.37c-6.085,0-11.023,4.938-11.023,11.023 c0,6.085,4.938,11.023,11.023,11.023h297.07c5.032,0,9.541,2.1,12.688,5.914c3.197,3.88,4.475,8.995,3.511,13.972l-44.054,220.282 c-1.709,7.871-8.383,13.366-16.232,13.366H184.323L83.158,36.854C77.69,21.234,62.886,10.74,45.932,10.74 c-0.005,0-0.011,0-0.017,0c-14.38,0.496-28.963,0.491-32.535,0.248c-3.555-0.772-7.397,0.22-10.152,2.976 c-4.305,4.305-4.305,11.282,0,15.587c3.412,3.412,4.564,4.564,43.068,3.23c7.22,0,13.674,4.564,15.995,11.188l103.618,311.962 c1.499,4.503,5.71,7.545,10.461,7.545h252.982c18.31,0,33.841-12.638,37.815-30.909l44.109-220.525 C513.503,100.513,510.544,88.757,503.142,79.784z" />
            </g>
          </g>
          <g>
            <g>
              <path fill="#fff"
                d="M424.392,424.11H223.77c-6.785,0-13.162-4.674-15.46-11.233l-21.495-63.935c-1.94-5.771-8.207-8.885-13.961-6.934 c-5.771,1.935-8.874,8.19-6.934,13.961l21.539,64.061c5.473,15.625,20.062,26.119,36.31,26.119h200.622 c6.085,0,11.023-4.933,11.023-11.018S430.477,424.11,424.392,424.11z" />
            </g>
          </g>
          <g>
            <g>
              <path fill="#fff"
                d="M231.486,424.104c-21.275,0-38.581,17.312-38.581,38.581s17.306,38.581,38.581,38.581s38.581-17.312,38.581-38.581 S252.761,424.104,231.486,424.104z M231.486,479.22c-9.116,0-16.535-7.419-16.535-16.535c0-9.116,7.419-16.535,16.535-16.535 c9.116,0,16.535,7.419,16.535,16.535C248.021,471.802,240.602,479.22,231.486,479.22z" />
            </g>
          </g>
          <g>
            <g>
              <path fill="#fff"
                d="M424.392,424.104c-21.269,0-38.581,17.312-38.581,38.581s17.312,38.581,38.581,38.581 c21.269,0,38.581-17.312,38.581-38.581S445.661,424.104,424.392,424.104z M424.392,479.22c-9.116,0-16.535-7.419-16.535-16.535 c0-9.116,7.419-16.535,16.535-16.535c9.116,0,16.535,7.419,16.535,16.535C440.927,471.802,433.508,479.22,424.392,479.22z" />
            </g>
          </g>x
        </symbol>
        <symbol id="candado" viewBox="0 0 482.8 482.8">
          <title>candado</title>
          <path
            d="M395.95,210.4h-7.1v-62.9c0-81.3-66.1-147.5-147.5-147.5c-81.3,0-147.5,66.1-147.5,147.5c0,7.5,6,13.5,13.5,13.5 s13.5-6,13.5-13.5c0-66.4,54-120.5,120.5-120.5c66.4,0,120.5,54,120.5,120.5v62.9h-275c-14.4,0-26.1,11.7-26.1,26.1v168.1 c0,43.1,35.1,78.2,78.2,78.2h204.9c43.1,0,78.2-35.1,78.2-78.2V236.5C422.05,222.1,410.35,210.4,395.95,210.4z M395.05,404.6 c0,28.2-22.9,51.2-51.2,51.2h-204.8c-28.2,0-51.2-22.9-51.2-51.2V237.4h307.2L395.05,404.6L395.05,404.6z" />
          <path
            d="M241.45,399.1c27.9,0,50.5-22.7,50.5-50.5c0-27.9-22.7-50.5-50.5-50.5c-27.9,0-50.5,22.7-50.5,50.5 S213.55,399.1,241.45,399.1z M241.45,325c13,0,23.5,10.6,23.5,23.5s-10.5,23.6-23.5,23.6s-23.5-10.6-23.5-23.5 S228.45,325,241.45,325z" />
        </symbol>
        <symbol id="facebook" viewBox="0 0 24 24">
          <title>facebook</title>
          <path fill="#494c4a"
            d="m21 0h-18c-1.655 0-3 1.345-3 3v18c0 1.654 1.345 3 3 3h18c1.654 0 3-1.346 3-3v-18c0-1.655-1.346-3-3-3z" />
          <path
            d="m16.5 12v-3c0-.828.672-.75 1.5-.75h1.5v-3.75h-3c-2.486 0-4.5 2.014-4.5 4.5v3h-3v3.75h3v8.25h4.5v-8.25h2.25l1.5-3.75z"
            fill="#fff" />
        </symbol>
        <symbol id="youtube" viewBox="0 0 512 512">
          <title>youtube</title>
          <path fill="#494c4a"
            d="M490.24,113.92c-13.888-24.704-28.96-29.248-59.648-30.976C399.936,80.864,322.848,80,256.064,80 c-66.912,0-144.032,0.864-174.656,2.912c-30.624,1.76-45.728,6.272-59.744,31.008C7.36,138.592,0,181.088,0,255.904 C0,255.968,0,256,0,256c0,0.064,0,0.096,0,0.096v0.064c0,74.496,7.36,117.312,21.664,141.728 c14.016,24.704,29.088,29.184,59.712,31.264C112.032,430.944,189.152,432,256.064,432c66.784,0,143.872-1.056,174.56-2.816 c30.688-2.08,45.76-6.56,59.648-31.264C504.704,373.504,512,330.688,512,256.192c0,0,0-0.096,0-0.16c0,0,0-0.064,0-0.096 C512,181.088,504.704,138.592,490.24,113.92z" />
          <polygon style="fill:#FAFAFA;" points="192,352 192,160 352,256 " />
        </symbol>
        <symbol id="gorjeo" viewBox="0 0 24 24">
          <title>gorjeo</title>
          <path fill="#494c4a"
            d="m21.552 7.749c0-.217-.008-.428-.018-.636.976-.693 1.797-1.558 2.466-2.554v-.001c-.893.391-1.843.651-2.835.777 1.02-.609 1.799-1.566 2.165-2.719-.951.567-2.001.967-3.12 1.191-.903-.962-2.19-1.557-3.594-1.557-2.724 0-4.917 2.211-4.917 4.921 0 .39.033.765.114 1.122-4.09-.2-7.71-2.16-10.142-5.147-.424.737-.674 1.58-.674 2.487 0 1.704.877 3.214 2.186 4.089-.791-.015-1.566-.245-2.223-.606v.054c0 2.391 1.705 4.377 3.942 4.835-.752.206-1.678.198-2.221.078.637 1.948 2.447 3.381 4.597 3.428-1.674 1.309-3.8 2.098-6.101 2.098-.403 0-.79-.018-1.177-.067 2.18 1.405 4.762 2.208 7.548 2.208 9.054 0 14.004-7.5 14.004-14.001z" />
        </symbol>
        <symbol id="linkedin" viewBox="0 0 24 24">
          <title>linkedin</title>
          <path fill="#494c4a"
            d="m23.994 24v-.001h.006v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07v-2.185h-4.773v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243v7.801z" />
          <path fill="#494c4a" d="m.396 7.977h4.976v16.023h-4.976z" />
          <path fill="#494c4a   "
            d="m2.882 0c-1.591 0-2.882 1.291-2.882 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909c-.001-1.591-1.292-2.882-2.882-2.882z" />
        </symbol>
        <symbol id="instagram" viewBox="0 0 511 511.9">
          <title>instagram</title>
          <path fill="#494c4a"
            d="m510.949219 150.5c-1.199219-27.199219-5.597657-45.898438-11.898438-62.101562-6.5-17.199219-16.5-32.597657-29.601562-45.398438-12.800781-13-28.300781-23.101562-45.300781-29.5-16.296876-6.300781-34.898438-10.699219-62.097657-11.898438-27.402343-1.300781-36.101562-1.601562-105.601562-1.601562s-78.199219.300781-105.5 1.5c-27.199219 1.199219-45.898438 5.601562-62.097657 11.898438-17.203124 6.5-32.601562 16.5-45.402343 29.601562-13 12.800781-23.097657 28.300781-29.5 45.300781-6.300781 16.300781-10.699219 34.898438-11.898438 62.097657-1.300781 27.402343-1.601562 36.101562-1.601562 105.601562s.300781 78.199219 1.5 105.5c1.199219 27.199219 5.601562 45.898438 11.902343 62.101562 6.5 17.199219 16.597657 32.597657 29.597657 45.398438 12.800781 13 28.300781 23.101562 45.300781 29.5 16.300781 6.300781 34.898438 10.699219 62.101562 11.898438 27.296876 1.203124 36 1.5 105.5 1.5s78.199219-.296876 105.5-1.5c27.199219-1.199219 45.898438-5.597657 62.097657-11.898438 34.402343-13.300781 61.601562-40.5 74.902343-74.898438 6.296876-16.300781 10.699219-34.902343 11.898438-62.101562 1.199219-27.300781 1.5-36 1.5-105.5s-.101562-78.199219-1.300781-105.5zm-46.097657 209c-1.101562 25-5.300781 38.5-8.800781 47.5-8.601562 22.300781-26.300781 40-48.601562 48.601562-9 3.5-22.597657 7.699219-47.5 8.796876-27 1.203124-35.097657 1.5-103.398438 1.5s-76.5-.296876-103.402343-1.5c-25-1.097657-38.5-5.296876-47.5-8.796876-11.097657-4.101562-21.199219-10.601562-29.398438-19.101562-8.5-8.300781-15-18.300781-19.101562-29.398438-3.5-9-7.699219-22.601562-8.796876-47.5-1.203124-27-1.5-35.101562-1.5-103.402343s.296876-76.5 1.5-103.398438c1.097657-25 5.296876-38.5 8.796876-47.5 4.101562-11.101562 10.601562-21.199219 19.203124-29.402343 8.296876-8.5 18.296876-15 29.398438-19.097657 9-3.5 22.601562-7.699219 47.5-8.800781 27-1.199219 35.101562-1.5 103.398438-1.5 68.402343 0 76.5.300781 103.402343 1.5 25 1.101562 38.5 5.300781 47.5 8.800781 11.097657 4.097657 21.199219 10.597657 29.398438 19.097657 8.5 8.300781 15 18.300781 19.101562 29.402343 3.5 9 7.699219 22.597657 8.800781 47.5 1.199219 27 1.5 35.097657 1.5 103.398438s-.300781 76.300781-1.5 103.300781zm0 0" />
          <path fill="#494c4a"
            d="m256.449219 124.5c-72.597657 0-131.5 58.898438-131.5 131.5s58.902343 131.5 131.5 131.5c72.601562 0 131.5-58.898438 131.5-131.5s-58.898438-131.5-131.5-131.5zm0 216.800781c-47.097657 0-85.300781-38.199219-85.300781-85.300781s38.203124-85.300781 85.300781-85.300781c47.101562 0 85.300781 38.199219 85.300781 85.300781s-38.199219 85.300781-85.300781 85.300781zm0 0" />
          <path fill="#494c4a"
            d="m423.851562 119.300781c0 16.953125-13.746093 30.699219-30.703124 30.699219-16.953126 0-30.699219-13.746094-30.699219-30.699219 0-16.957031 13.746093-30.699219 30.699219-30.699219 16.957031 0 30.703124 13.742188 30.703124 30.699219zm0 0" />
        </symbol>
        <symbol id="llamadaheader" viewBox="0 0 512 512">
          <title>llamadaheader</title>
          <path
            d="m439.277344 72.722656c-46.898438-46.898437-109.238282-72.722656-175.566406-72.722656-.003907 0-.019532 0-.023438 0-32.804688.00390625-64.773438 6.355469-95.011719 18.882812-30.242187 12.527344-57.335937 30.640626-80.535156 53.839844-46.894531 46.894532-72.71875 109.246094-72.71875 175.566406 0 39.550782 9.542969 78.855469 27.625 113.875l-41.734375 119.226563c-2.941406 8.410156-.859375 17.550781 5.445312 23.851563 4.410157 4.414062 10.214844 6.757812 16.183594 6.757812 2.558594 0 5.144532-.429688 7.667969-1.3125l119.226563-41.730469c35.019531 18.082031 74.324218 27.625 113.875 27.625 66.320312 0 128.667968-25.828125 175.566406-72.722656 46.894531-46.894531 72.722656-109.246094 72.722656-175.566406 0-66.324219-25.824219-128.675781-72.722656-175.570313zm-21.234375 329.902344c-41.222657 41.226562-96.035157 63.925781-154.332031 63.925781-35.664063 0-71.09375-8.820312-102.460938-25.515625-5.6875-3.023437-12.410156-3.542968-18.445312-1.429687l-108.320313 37.910156 37.914063-108.320313c2.113281-6.042968 1.589843-12.765624-1.433594-18.449218-16.691406-31.359375-25.515625-66.789063-25.515625-102.457032 0-58.296874 22.703125-113.109374 63.925781-154.332031 41.21875-41.21875 96.023438-63.921875 154.316406-63.929687h.019532c58.300781 0 113.109374 22.703125 154.332031 63.929687 41.226562 41.222657 63.929687 96.03125 63.929687 154.332031 0 58.300782-22.703125 113.113282-63.929687 154.335938zm0 0" />
          <path
            d="m355.984375 270.46875c-11.421875-11.421875-30.007813-11.421875-41.429687 0l-12.492188 12.492188c-31.019531-16.902344-56.121094-42.003907-73.027344-73.023438l12.492188-12.492188c11.425781-11.421874 11.425781-30.007812 0-41.429687l-33.664063-33.664063c-11.421875-11.421874-30.007812-11.421874-41.429687 0l-26.929688 26.929688c-15.425781 15.425781-16.195312 41.945312-2.167968 74.675781 12.179687 28.417969 34.46875 59.652344 62.761718 87.945313 28.292969 28.292968 59.527344 50.582031 87.945313 62.761718 15.550781 6.664063 29.695312 9.988282 41.917969 9.988282 13.503906 0 24.660156-4.058594 32.757812-12.15625l26.929688-26.933594v.003906c5.535156-5.535156 8.582031-12.890625 8.582031-20.714844 0-7.828124-3.046875-15.183593-8.582031-20.714843zm-14.5 80.792969c-4.402344 4.402343-17.941406 5.945312-41.609375-4.195313-24.992188-10.710937-52.886719-30.742187-78.542969-56.398437s-45.683593-53.546875-56.394531-78.539063c-10.144531-23.667968-8.601562-37.210937-4.199219-41.613281l26.414063-26.414063 32.625 32.628907-15.636719 15.640625c-7.070313 7.070312-8.777344 17.792968-4.242187 26.683594 20.558593 40.3125 52.734374 72.488281 93.046874 93.046874 8.894532 4.535157 19.617188 2.832032 26.6875-4.242187l15.636719-15.636719 32.628907 32.628906zm0 0" />
        </symbol>
      </svg>
    </div>
  </div>
</template>
<script>
import principalesComponent from '~/components/common/principales.vue'
import tiposComponent from '~/components/common/tipos.vue'
import enlacesComponent from '~/components/common/enlaces.vue'
import acercaComponent from '~/components/common/acerca.vue'
export default {
  components: {
    principalesComponent,
    tiposComponent,
    enlacesComponent,
    acercaComponent
  }
}
</script>
<style>
.white-space {
  height: 50px;
  width: 100%;
}

.color-ref {
  color: #0055b1;
}

.accordion>input[name="footerCollapse"] {
  display: none;
}

.accordion label,
.accordion .content {
  margin: 0 auto;
}

.accordion .content {
  background: #fff;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.accordion>input[name="footerCollapse"]:checked~.content {
  height: 380px;
  transition: height 0.5s;
}

.accordion label {
  display: block;
}

/* For Desktop */
@media only screen and (min-width: 620px) {
  .accordion>input[name="footerCollapse"]:checked~.content {
    height: auto;
    padding-bottom: 0.5rem;
  }
}

.accordion {
  margin-bottom: 1em;
}

.accordion>input[name="footerCollapse"]:checked~.content {
  border-top: 0;
  transition: 0.3s;
}

.accordion .handle {
  margin: 0;
  font-size: 16px;
}

.accordion label {
  color: inherit;
  cursor: pointer;
  font-weight: normal;
  padding: 10px;
  background: transparent;
  user-select: none;
}

.accordion label:hover,
.accordion label:focus {
  background: #efefef;
}

.accordion .handle label:before {
  content: "+";
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  line-height: 1.556em;
  vertical-align: middle;
  transition: 0.4s;
}

.accordion>input[name="footerCollapse"]:checked~.handle label:before {
  transform: rotate(180deg);
  transform-origin: center;
  transition: 0.4s;
}
</style>