<template>
  <div class="container-fluid">
    <div class="row">  
       <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 btn-info-header d-sm-block d-md-block">
         <a class="float-left" :href="this.$store.state.config.urlRuta">
           <span class="logo-ahorra-azul float-left "></span>
          </a>
          <span class=" float-right float-inline-block">
            <span class=" float-right">
              <a  id="idTelDID" class=" d-block no-text-decoration colorAhorra" :href="'tel:55' + $store.state.config.telefonoAS"  rel="nofollow" role="button">
                 <span class="font-weight-bold text-center horarios">
                  <span class="d-inline-block horarios font-weight-bold mb-2 colorAhorra"> (55) {{$store.state.config.telefonoAS}}</span>
                 </span>
                </a>
              </span>  
           </span>     
        </div>
    </div>
 </div>
</template> 

