<template>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mt-2">
         <img src= "/seguros-para-motos/img/loading.gif" alt="Espera un momento" style="width:60px"><br>
         <span class="font-weight-bold color-Gray" style="font-size:20px">Obteniendo el mejor precio para tu seguro.</span>
       </div>
     </div>
    </div>
   
</template>
