<template>
  <a>
    <!-- Contenedor del boton y texto que se muestra en el formulario -->
    <span class=" " style="cursor:pointer; text-decoration: underline; color: blue;" @click="abrirModal">
      Más información.
    </span>
    <!-- Contenedor principal del modal (fondo negro y dentro el cuadrado del modal) -->
    <div
      class="main-container-modal"
      :class="{ active: this.switchModalclass === true }"
      v-if="this.switchModal"
    >
      <section class="modal-contenido">
        <!-- CONTENEDOR DEL MODAL BLANCO (contenedor que tiene al de contenido) -->
        <div class="cabecera">
          <span class="cerrarModalX" @click="abrirModal">X</span>
        </div>
        <div style="height: 100%; overflow-y: auto; padding: 20px 0;">
          <h3 class="my-4 avisotitle text-center">AVISO DE PRIVACIDAD</h3>
          <article>
              <p class="avisop">
                TRIGARANTE AGENTE DE SEGUROS Y DE FIANZAS, S.A. DE C.V., mejor
                conocido como Trigarante agente de seguros y de fianzas, S.A. de
                C.V., con domicilio en Calzada México-Tacuba, número 815,
                Colonia Tacuba, Alcaldía Miguel Hidalgo, Ciudad De México., C.P.
                11410 País México, es el responsable del uso y protección de sus
                datos personales, y al respecto le informamos lo siguiente:
              </p>
              <h3>¿Para qué fines utilizaremos sus datos personales?</h3>
              <p>
                Los datos personales que recabamos de usted, los utilizaremos
                para las siguientes finalidades que son necesidades primarias
                para el servicio que solicita:
              </p>
              <ul>
                <li>-Contacto</li>
                <li>
                  -Con fines de identificación y de verificación de clientes
                </li>
                <li>
                  -Cobranza en cualquiera de sus fases, de productos contratados
                </li>
                <li>-Encuestas a cerca del servicio contratados</li>
                <li>
                  -Podrá tratar su información para fines publicitarios,
                  promocionales y de investigaciones de mercado.
                </li>
                <li>
                  -Documentar la relación con los Clientes a través de la
                  celebración de contratos y/o convenios correspondientes.
                </li>
                <li>-Inclusión en el catálogo de clientes.</li>
                <li>-Intermediación de seguros.</li>
                <li>
                  -Cumplimiento de las obligaciones contenidas en nuestro
                  contrato, convenio o de cualquier relación jurídica que
                  establezcamos conforme a la Legislación aplicable vigente.
                </li>
                <li>-Encuestas,</li>
              </ul>
              <h3>Finalidades Secundarias</h3>
              <ul>
                <li>
                  -Promoción de productos financieros, esta información puede
                  ser transferida a instituciones de crédito o instituciones
                  financieras.
                </li>
                <li>
                  -Ofrecer y prestar servicios de telemercadeo y servicios
                  relacionados al producto contratado.
                </li>
                <li>
                  -Promocionar y comercializar todo tipo de bienes y servicios.
                </li>
                <li>-Mercadotecnia o publicitaria.</li>
                <li>-Prospección comercial.</li>
              </ul>
              <h3>¿Qué datos personales utilizaremos para estos fines?</h3>
              <ul>
                <li>-Nombre</li>
                <li>-Estado Civil</li>
                <li>-Registro Federal de Contribuyentes(RFC)</li>
                <li>-Clave única de Registro de Población (CURP)</li>
                <li>-Lugar de nacimiento</li>
                <li>-Fecha de nacimiento</li>
                <li>-Nacionalidad</li>
                <li>-Domicilio</li>
                <li>-Teléfono particular</li>
                <li>-Teléfono celular</li>
                <li>-Correo electrónico</li>
                <li>-Firma autógrafa</li>
                <li>-Edad</li>
                <li>-Domicilio de trabajo</li>
                <li>-Cuentas bancarias</li>
                <li>-Número de tarjetas de crédito</li>
                <li>-Seguros</li>
              </ul>
              <h3>
                ¿Cómo puede acceder, rectificar o cancelar sus datos personales,
                u oponerse a su uso?
              </h3>
              <p>
                Usted tiene derecho a conocer qué datos personales tenemos, para
                qué los utilizamos y las condiciones del uso que les damos
                (Acceso). Asimismo, es su derecho solicitar la corrección de su
                información personal en caso de que esté desactualizada, sea
                inexacta o incompleta (Rectificación); que la eliminemos de
                nuestros registros o bases de datos cuando considere que la
                misma no está siendo utilizada adecuadamente (Cancelación); así
                como oponerse al uso de sus datos personales para fines
                específicos (Oposición). Estos derechos se conocen como derechos
                ARCO.
              </p>
              <p>
                Para el ejercicio de cualquiera de los derechos ARCO, usted
                deberá presentar la solicitud respectiva a través del siguiente
                medio:
              </p>
              <ul>
                <li>
                  -Acceso: Conocer qué datos personales obtenemos y para qué los
                  utilizamos.
                </li>
                <li>
                  -Rectificación: Solicitar corrección de información o por
                  estar desactualizada.
                </li>
                <li>
                  -Cancelación: Consiste en la eliminación de datos de nuestra
                  base de datos, por uso inadecuado.
                </li>
                <li>
                  -Oposición: Oponerse al uso de sus datos para fines
                  específicos.
                </li>
                <li>-Estos derechos se conocen como derechos ARCO.</li>
              </ul>
              <p>
                Para conocer el procedimiento y requisitos para el ejercicio de
                los derechos ARCO, ponemos a su disposición el siguiente medio:
              </p>
              <p>
                <a href="mailto:derechosarco@trigarante.com" target="_blank"
                  >derechosarco@trigarante.com</a
                >
              </p>
              <p>
                Los datos de contacto de la persona o departamento de datos
                personales, que está a cargo de dar trámite a las solicitudes de
                derechos ARCO, son los siguientes:
              </p>
              <ul>
                <li>
                  a)Nombre de la persona o departamento de datos personales:
                  Área de Marketing
                </li>
                <li>
                  b) Domicilio: Calzada México-Tacuba, número 815, Colonia
                  Tacuba, Alcaldía Miguel Hidalgo, Ciudad De México., C.P. 11410
                  País México
                </li>
                <li>
                  c) Correo electrónico:
                  <a href="mailto:derechosarco@trigarante.com">derechosarco@trigarante.com</a>
                </li>
                <li>d) Número telefónico: (55) 52-81-08-70 ext.</li>
              </ul>
              <p>
                Requisitos para la presentación de una solicitud de ejercicio de
                derechos ARCO.
              </p>

              <p>
                1.Presentar la solicitud ante el responsable (entendiéndose en
                este caso
                <a href="mailto:derechosarco@trigarante.com">derechosarco@trigarante.com</a>)
                que posee los datos personales, a través de los medios y
                mecanismos señalados en el aviso de privacidad, con la siguiente
                información:
              </p>
              <p>
                Información general. Toda solicitud de ejercicio de derechos
                ARCO deberá contener la siguiente información:
              </p>
              <ul>
                <li>-Nombre del titular de los datos personales.</li>
                <li>-Documentos que acrediten la identidad del titular.</li>
                <li>
                  -En su caso, nombre del representante legal del titular y
                  documentos para acreditar su identidad y personalidad.
                </li>
                <li>-Especificar el medio para recibir notificaciones.</li>
                <li>
                  -Descripción clara y precisa de los datos personales que se
                  quieran rectificar, cancelar u oponerse a su tratamiento.
                </li>
                <li>
                  -Descripción del derecho que se quiere ejercer o de lo que
                  solicita el titular.
                </li>
                <li>
                  -En su caso, documentos o información que faciliten la
                  localización de los datos personales, entre ella, la unidad
                  administrativa responsable del tratamiento.
                </li>
              </ul>
              <p>
                Información específica. Además de la información general antes
                señalada, dependiendo del derecho que desee ejercer, deberá
                incluir la siguiente información en la solicitud:
              </p>
              <ul>
                <li>
                  -Derecho de ACCESO: la modalidad en la que prefiere que se
                  reproduzcan los datos personales solicitados.
                </li>
                <li>
                  -Derecho de RECTIFICACIÓN: las modificaciones que solicita que
                  se realicen a los datos personales, así como aportar los
                  documentos que sustenten la solicitud.
                </li>
                <li>
                  -Derecho de CANCELACIÓN: las causas que motivan la petición de
                  que se eliminen los datos de los archivos, registros o bases
                  de datos del responsable del tratamiento.
                </li>
                <li>
                  -Derecho de OPOSICIÓN: las causas o la situación que lo llevan
                  a solicitar que finalice el tratamiento de sus datos
                  personales, así como el daño o perjuicio que le causaría que
                  dicho tratamiento continúe; o bien, deberá indicar las
                  finalidades específicas respecto de las cuales desea ejercer
                  este derecho.
                </li>
              </ul>
              <p>
                Es importante que tome en cuenta que, si la solicitud no cuenta
                con la información antes descrita, TRIGARANTE AGENTE DE SEGUROS
                Y DE FIANZAS. podrá solicitar la información faltante por medio
                de un REQUERIMIENTO, el cual se deberá emitir en un plazo máximo
                de 7 días hábiles contados a partir del día siguiente de la
                presentación de la solicitud, y usted tendrá 10 días hábiles,
                después de recibir la prevención, para proporcionar la
                información requerida, pues de lo contrario se tendrá como no
                presentada su solicitud.
              </p>
              <p>
                Cuando presente su solicitud, el responsable le deberá entregar
                un ACUSE en el que conste la fecha de recepción de la misma.
              </p>

              <p>
                2. Acreditar la identidad del titular y, en su caso, la de su
                representante legal, así como la personalidad de este último.
              </p>
              <p>
                La solicitud se deberá acompañar de copia simple de una
                identificación oficial de usted como titular de los datos
                personales, así como de su representante legal, en caso de que
                éste sea quien presente la solicitud.
              </p>
              <p>
                Entre las identificaciones oficiales válidas se encuentran:
                credencial para votar, pasaporte, cartilla militar, cédula
                profesional, licencia para conducir y documento migratorio.
              </p>
              <p>
                La personalidad de su representante legal, en su caso, se podrá
                acreditar, cuando se trate de persona física, se podrá elegir
                cualquiera de las siguientes tres opciones:
              </p>
              <p>
                1) La presentación de una carta poder simple suscrita ante dos
                testigos, anexando copia simple de sus identificaciones
                oficiales;
              </p>
              <p>
                La personalidad de su representante legal, en su caso, se podrá
                acreditar, cuando se trate de persona física, se podrá elegir
                cualquiera de las siguientes tres opciones:
              </p>
              <p>
                2) Mediante instrumento público (documento suscrito por un
                Notario Público);
              </p>
              <p>
                3) Acudiendo usted y su representante a declarar en
                comparecencia ante el responsable. Es importante tener en cuenta
                que la identidad del titular y su representante legal, así como
                la personalidad de este último, deberán quedar debidamente
                acreditadas previo al ejercicio del derecho de que se trate, en
                caso de que resulte procedente, mediante la presentación de los
                documentos originales antes señalados o copia certificada de los
                mismos, para su cotejo.
              </p>
              <p>
                3. Tomar en cuenta las siguientes reglas de representación en
                caso de solicitudes relacionadas con datos personales de menores
                de edad, personas en estado de interdicción o incapacidad
                declarada por ley.
              </p>
              <p>
                Para el ejercicio de derechos ARCO de este grupo de titulares,
                además de la presentación de la solicitud con la información
                descrita en el requisito 1, se deberán aportar los siguientes
                documentos, según sea el caso:
              </p>
              <p>
                Para solicitudes de ejercicio de derechos ARCO de datos
                personales de menores de edad:
              </p>
              <p>
                Si los padres ejercen la patria potestad y son los que presenten
                la solicitud:
              </p>
              <ul>
                <li>-Documento que acredite la identidad de menor.</li>
                <li>-Acta de nacimiento del menor.</li>
                <li>
                  -Identificación oficial del padre o de la madre, que pretenda
                  ejercer el derecho.
                </li>
                <li>
                  -Carta en la que se manifieste, bajo protesta de decir verdad,
                  que el padre o la madre es quien ejerce la patria potestad del
                  menor, y que no se encuentra dentro de alguno de los supuestos
                  legales de suspensión o limitación de la patria potestad.
                </li>
              </ul>
              <p>
                Si una persona distinta a los padres es quien ejerce la patria
                potestad, y es quien presenta la solicitud:
              </p>
              <ul>
                <li>-Documento que acredite la identidad de menor.</li>
                <li>-Acta de nacimiento del menor.</li>
                <li>
                  -Documento legal que acredite la posesión de la patria
                  potestad.
                </li>
                <li>
                  -Identificación oficial de quien presenta la solicitud y posee
                  la patria potestad.
                </li>
                <li>
                  -Carta en la que se manifieste, bajo protesta de decir verdad,
                  que ejerce la patria potestad del menor, y que no se encuentra
                  dentro de alguno de los supuestos legales de suspensión o
                  limitación de la patria potestad.
                </li>
              </ul>
              <p>Cuando un tutor es quien ejerce la patria potestad:</p>
              <ul>
                <li>-Documento que acredite la identidad de menor.</li>
                <li>-Acta de nacimiento del menor.</li>
                <li>-Documento legal que acredite la tutela.</li>
                <li>-Identificación oficial del tutor.</li>
                <li>
                  -Carta en la que se manifieste, bajo protesta de decir verdad,
                  que ejerce la tutela del menor, y que no se encuentra dentro
                  de alguno de los supuestos legales de suspensión o limitación
                  de la tutela.
                </li>
              </ul>
              <p>
                Para solicitudes de derechos ARCO de datos personales de
                personas en estado de interdicción o incapacidad legal:
              </p>
              <ul>
                <li>
                  -Documento que acredite la identidad del titular de los datos
                  personales.
                </li>
                <li>-Instrumento legal de designación del tutor.</li>
                <li>-Identificación oficial del tutor.</li>
                <li>
                  -Carta en la que se manifieste, bajo protesta de decir verdad,
                  que ejerce la tutela, y que no se encuentra dentro de alguno
                  de los supuestos legales de suspensión o limitación de la
                  misma.
                </li>
              </ul>
              <p>
                B: Plazos y procedimiento para la atención de las solicitudes de
                ejercicio de derechos ARCO
              </p>
              <p>
                Una vez que se presentó la solicitud y que ésta cumplió con los
                requisitos antes descritos, el responsable ante el cual se
                presentó deberá realizar lo siguiente:
              </p>
              <ul>
                <li>
                  -En un plazo de 20 días hábiles, contados a partir del día
                  siguiente a la recepción de la solicitud, deberá informarle si
                  procede o no el ejercicio del derecho solicitado.
                </li>
                <li>
                  -En caso de que haya procedido el ejercicio del derecho,
                  deberá llevar a cabo las acciones necesarias para hacerlo
                  efectivo, en un plazo de 15 días hábiles, contados a partir
                  del día siguiente en el que le haya notificado la respuesta
                  anterior.
                </li>
              </ul>
              <p>
                Los plazos antes señalados se pueden ampliar por un periodo
                igual, cuando esté justificado y se le informe de ello.
              </p>
              <p>
                El ejercicio de los derechos ARCO será sencillo y gratuito, sólo
                podrán realizarse cobros para recuperar los costos de
                reproducción, certificación de documentos o envío de
                información.
              </p>
              <p>
                No obstante, si la misma persona reitera su solicitud de acceso
                en un periodo menor a 12 meses, los costos no serán mayores a
                tres días de Salario Mínimo General Vigente en la Ciudad de
                México, a menos que existan modificaciones sustanciales al aviso
                de privacidad que motiven nuevas consultas.
              </p>
              <p>
                Por último, cuando las disposiciones aplicables a determinadas
                bases de datos o tratamientos establezcan un procedimiento
                específico para solicitar el ejercicio de los derechos ARCO, se
                estará a lo dispuesto en aquéllas que ofrezcan mayores garantías
                al titular, y no contravengan las disposiciones previstas en la
                Ley.
              </p>
              <p>
                Se le informa que no se realizarán transferencias de información
                sin consentimiento expreso.
              </p>
              <h4>
                Usted puede revocar su consentimiento para el uso de sus datos
                personales
              </h4>
              <p>
                Usted puede revocar el consentimiento que, en su caso, nos haya
                otorgado para el tratamiento de sus datos personales. Sin
                embargo, es importante que tenga en cuenta que no en todos los
                casos podremos atender su solicitud o concluir el uso de forma
                inmediata, ya que es posible que por alguna obligación legal
                requiramos seguir tratando sus datos personales. Asimismo, usted
                deberá considerar que para ciertos fines, la revocación de su
                consentimiento implicará que no le podamos seguir prestando el
                servicio que nos solicitó, o la conclusión de su relación con
                nosotros.
              </p>
              <p>
                Para revocar su consentimiento deberá presentar su solicitud a
                través del siguiente medio:
              </p>
              <p>
                <a href="mailto:derechosarco@trigarante.com">derechosarco@trigarante.com</a>
              </p>
              <p>
                Si tiene dudas del procedimiento requisitos para la revocación
                del consentimiento, ponemos a su disposición el siguiente medio:
              </p>
              <p>
                <a href="mailto:derechosarco@trigarante.com">derechosarco@trigarante.com</a>
              </p>
              <h4>¿Cómo deshabilitar las cookies?</h4>
              <ol>
                <li>Haz clic en Inicio > Panel de control. ...</li>
                <li>Haz doble clic en el icono Opciones de Internet.</li>
                <li>Selecciona la pestaña Privacidad.</li>
                <li>Haz clic en Avanzada.</li>
                <li>
                  En la ventana “Configuración avanzada de privacidad”,
                  selecciona las opciones para deshabilitar las cookies.
                </li>
              </ol>
              <h4>
                ¿Cómo puede limitar el uso o divulgación de su información
                personal?
              </h4>
              <p>
                Con objeto de que usted pueda limitar el uso y divulgación de su
                información personal, le ofrecemos los siguientes medios:
              </p>
              <p>
                En los casos de rectificación o cancelación o se trate de
                solicitudes de oposición al tratamiento, te informaremos la
                resolución correspondiente debidamente fundada de conformidad
                con lo establecido por la Ley Federal de Protección de Datos en
                Posesión de los Particulares. Sin embargo, es importante que
                tengas en cuenta que no en todos los casos podremos atender su
                solicitud o concluir el uso de forma inmediata, ya que es
                posible que por alguna obligación legal necesitemos seguir
                tratando sus datos personales. Si desea usar el formulario de
                solicitud que ponemos a su disposición para facilitar el
                ejercicio de derechos ARCO, puede solicitarlo a través de la
                siguiente dirección electrónica:
                <a href="mailto:derechosarco@trigarante.com">derechosarco@trigarante.com</a>
              </p>
              <p>
                Asimismo, usted se podrá inscribir a los siguientes registros,
                en caso de que no desee obtener publicidad de nuestra parte:
              </p>
              <p>
                Registro Público de Usuarios, para mayor información consulte el
                portal de internet de la CONDUSEF
              </p>
              <h4>
                El uso de tecnologías de rastreo en nuestro portal de internet
              </h4>
              <p>
                Le informamos que en nuestra página de internet utilizamos
                cookies, web beacons u otras tecnologías, a través de las cuales
                es posible monitorear su comportamiento como usuario de
                internet, así como brindarle un mejor servicio y experiencia al
                navegar en nuestra página. Los datos personales que recabamos a
                través de estas tecnologías, los utilizaremos para los fines
                señalados en el presente Aviso de Privacidad.
              </p>
              <p>
                Los datos personales que obtenemos de estas tecnologías de
                rastreo son los siguientes:
              </p>
              <ul>
                <li>-Región en la que se encuentra el usuario</li>
                <li>-Tipo de navegador del usuario</li>
                <li>-Tipo de sistema operativo del usuario</li>
                <li>
                  -Fecha y hora del inicio y final de una sesión de un usuario
                </li>
                <li>-Páginas web visitadas por un usuario</li>
                <li>-Búsquedas realizadas por un usuario</li>
                <li>-Publicidad revisada por un usuario</li>
                <li>-Listas y hábitos de consumo en páginas de compras</li>
              </ul>
              <p>
                Para conocer la forma en que se pueden deshabilitar estas
                tecnologías, contacte al medio:
              </p>
              <p>
                <a href="mailto:derechosarco@trigarante.com">derechosarco@trigarante.com</a>
              </p>

              <h4>Sitio seguro</h4>
              <p>
                Ahorraseguros.mx se toma muy en serio la seguridad.
                Ahorraseguros.mx utiliza el protocolo SSL, tecnología de
                encriptación de datos para asegurar que toda la información del
                usuario, tanto los datos personales como los datos de
                transacción, es encriptada antes de ser transmitida.
              </p>

              <h4>
                ¿Cómo puede conocer los cambios en este aviso de privacidad?
              </h4>
              <p>
                El presente aviso de privacidad puede sufrir modificaciones,
                cambios o actualizaciones derivadas de nuevos requerimientos
                legales; de nuestras propias necesidades por los productos o
                servicios que ofrecemos; de nuestras prácticas de privacidad; de
                cambios en nuestro modelo de negocio, o por otras causas.
              </p>
              <p>
                Nos comprometemos a mantenerlo informado sobre los cambios que
                pueda sufrir el presente aviso de privacidad, a través de: El
                presente aviso de privacidad puede ser susceptible de
                modificaciones, cambios o actualizaciones derivadas de la
                legislación aplicable. Los cambios o actualizaciones a este
                Aviso de privacidad podrán ser consultados, en el sitio de
                internet
                <a href="https://ahorraseguros.mx" target="_blank"
                  >https://ahorraseguros.mx</a
                >
                en el vínculo de aviso de privacidad.
              </p>
              <h4>
                Su consentimiento para el tratamiento de sus datos personales
              </h4>
              <p>
                Consiento que mis datos personales sean tratados de conformidad
                con los términos y condiciones informados en el presente aviso
                de privacidad.[ ]
              </p>
              <p>
                <strong>
                  Independiente de lo anterior mencionado se hace del
                  conocimiento al titular de los datos aquí recabados que en
                  cualquier momento tiene el inalienable derecho de acudir al
                  INAI en caso de considerar que ha sido vulnerado su derecho a
                  la protección de datos personales.
                </strong>
              </p>
            <br />
            <br />
            <br />
            <br />
          </article>
        </div>
        <div class="footer p-2">
          <button class="btn btn-outline-primary" @click="abrirModal">Aceptar</button>
        </div>
      </section>
    </div>
  </a>  
</template>
<script>
export default {
  data(){
    return{
      switchButton: true,
      switchModal:false,
      switchModalclass:false
    }
  },
  methods:{
    switchToggle(){
      this.switchButton = !this.switchButton      
      },
    abrirModal(){
      this.switchModal = !this.switchModal;
      setTimeout(() => {
        this.switchModalclass = !this.switchModalclass
      }, 10);
      }
  }
}
</script>
<style scoped>

.cerrarModalX{
  font-size:1.5rem;margin-right:55px;cursor:pointer; margin-top:10px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width:15px;
    margin-left: 100px;
}

::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    margin-left:10px;
}
.main-container-modal{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  background-color: rgba(0,0,0,.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in;
}
.active{
    visibility: visible;
    opacity: 1;
}
.modal-contenido{
  width:80%;
  background:white;
  height: 80vh;  
  border-radius:0;  
  position:relative;
  padding:5px 30px;
}

.cabecera{      
  display: flex;
  justify-content: flex-end;
  top: 0;
    left: 0px;
    border-radius: 0;
    /* box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 10%); */
    background: white;
    width: 100%;
    position: absolute;
}

.footer{    
  /* height: 15%; */
  display: flex;
  justify-content: flex-end;
  bottom: 0;
    left: 0px;
    border-radius: 0;
  box-shadow: -2px 0px 20px 2px rgb(0 0 0 / 10%);
    background: white;
    width: 100%;
    position: absolute;
}
.boton-footer{  
  height: max-content;
  padding:10px;
  cursor:pointer;
  color: #ffff;
  background: #06a69e;
  outline: 1px solid #06a69e;
  margin: 10px 50px;
  border-radius: 5px;

}
.boton-footer:hover{ 
  color:white;
  background:#06a69e ;
}
.switch {
  width: 30px;
  height: 15px!important;
  background: #b1b1b1;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;  
  transition: right 3s linear;
}

.switch.active {
  background: #06a69e;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

li{
  text-align: left;
}

  @media (max-width: 720px) {
    .modal-contenido{
      padding:10px 4px 10px 20px!important;
    }
    /* .footer{
      height: 12%;
    } */
    .cabecera{
      height: 7%;
    }
  }
</style>