<template>
  <div class="col-12 col-lg-10 offset-lg-1">
    <div v-if="this.$store.state.formData.marca == 'ITALIKA'">
      <azteca v-if="!this.$store.state.config.combinado"></azteca>
      <aztecaNew v-else/>
    </div>
    <cotizando-component v-if="this.$store.state.formData.precio != null &&
      this.$store.state.formData.precio > 0 &&
      this.$store.state.formData.precio != ''" />
    <div class="container-fluid px-0 mb-2" id="gnp" v-if="$store.state.config.msjEje == true">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row justify-content-center bg-white">
            <div
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center border rounded pt-3 shadow-cards">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 my-auto">
                  <img class="img-fluid" style="width:150px;display:block;margin:0 auto;"
                    src="/seguros-para-motos/img/logos/gnp.svg" alt="Aseguradora Banorte" />
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-none d-sm-none d-md-block">
                  <ul style="list-style:none;padding-left:0;font-size:20px;" class="">
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Robo Total
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Daños a terceros
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Gastos médicos
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 text-center text-md-left">
                  <div class=" font-weight-bold">
                    <span class="text-secondary lead float-none w-100"></span>
                    <br />
                    <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:14px">COBERTURA
                      AMPLIA</span><br />
                    <span class="text-secondary lead float-none w-100 text-center" style="font-size:10px">Precio no
                      disponible</span>
                    <br />
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                  <div class="text-center">
                    <a id="idTelDID" class="btn btn-bla py-2 ms-4 " v-bind:class="{
                      disabled: true,
                    }" :disabled="true"  rel="nofollow"
                      role="button">
                      <span class="text-center mr-4 text-white">
                        <span class=" p-1">
                          <img src="img/btn_ecommerce.svg" alt="btn" class="btn-ecomerce img-fluid" width="260"
                            height="60">
                        </span>
                      </span>
                    </a>
                  </div>
                  <div class="text-center">
                    <a id="idTelDID" class="btn btn-bla py-2 ms-4 " v-bind:class="{
                      disabled: true,
                    }" :disabled="true" rel="nofollow"
                      role="button">
                      <span class="text-center mr-4 text-white">

                        <span class=" p-1">
                          <img src="/seguros-para-motos/img/btn_interaccion.svg" alt="btn"
                            class="btn-interaccion img-fluid" width="260" height="60" @click="saveInteraccion()" />
                        </span>

                      </span>
                    </a>
                  </div>


                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="amplia-inbursa">
            <div class="card card-body p-0 border-0">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                      <table class="table table-sm table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Cobertura</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Deducible</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">DAÑOS MATERIALES</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">5%</th>
                          </tr>
                          <tr>
                            <th scope="row">ROBO TOTAL</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">10%</th>
                          </tr>
                          <tr>
                            <th scope="row">RESPONSABILIDAD CIVIL</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">RC EN EL EXTRANJERO</th>
                            <th scope="row">$ 1,200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">ASISTENCIA VIAL</th>
                            <th scope="row">$ 8,560</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS LEGALES</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS MÉDICOS</th>
                            <th scope="row">$ 200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">
                              MUERTE DEL CONDUCTOR POR ACCIDENTE AUTOMOVILISTICO
                            </th>
                            <th scope="row">$ 50,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 v-show="this.$store.state.config.cards" class="text-center">Elije otras opciones disponibles</h1>
    <!--QUALITAS-->
    <div v-show="this.$store.state.config.cards" class="container-fluid px-0 mb-2" id="qualitas">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row justify-content-center bg-white">
            
            <div
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center border rounded pt-3 shadow-cards">
              <div class="row">
                <div :class="this.$store.state.config.telphone ? 'col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 my-auto' : 'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 my-auto'">

                  <img class="img-fluid" style="width:150px;display:block;margin:0 auto;"
                    src="/seguros-para-motos/img/logos/qualitas.png" alt="Aseguradora" />
                </div>
                <div :class="this.$store.state.config.telphone ? 'col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-none d-sm-none d-md-block' : 'col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-none d-sm-none d-md-block'">
                  <ul style="list-style:none;padding-left:0;font-size:20px;" class="">
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Robo Total
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Daños a terceros
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Gastos médicos
                    </li>
                  </ul>
                </div>
                <div :class="this.$store.state.config.telphone ? 'col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 text-center text-md-left' : 'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center text-md-left'">
                  <div class=" font-weight-bold">
                    <span class="text-secondary lead float-none w-100"></span>
                    <br />
                    <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:14px">COBERTURA
                      AMPLIA</span><br />
                    <span style="font-size:30px;font-weight:bold;text-center;color:green">{{
                      this.$store.state.config.cotizaQualitas
                      | currency }}</span>
                    <br />
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" v-show="this.$store.state.config.telphone">
                  <button id="Qualitas" class="btn btn-block btn-outline-primary mx-auto d-block my-3"
                    @click="click('Qualitas')">Compra por teléfono <br>(55) {{
                      this.$store.state.config.telefonoQualitas }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--MIGO -->
    <div v-show="this.$store.state.config.cards" class="container-fluid px-0 mb-2" id="migo">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row justify-content-center bg-white">
            <div
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center border rounded pt-3 shadow-cards">
              <div class="row">
                <div :class="this.$store.state.config.telphone ? 'col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 my-auto' : 'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 my-auto'">
                  <img class="img-fluid" style="width:120px;display:block;margin:0 auto;"
                    src="/seguros-para-motos/img/logos/MIGO.svg" alt="Migo Seguros" />
                </div>
                <div :class="this.$store.state.config.telphone ? 'col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-none d-sm-none d-md-block' : 'col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-none d-sm-none d-md-block'">
                  <ul style="list-style:none;padding-left:0;font-size:20px;" class="">
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Robo Total
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Daños a terceros
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Gastos médicos
                    </li>
                  </ul>
                </div>
                <div :class="this.$store.state.config.telphone ? 'col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 text-center text-md-left' : 'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center text-md-left'">
                  <div class=" font-weight-bold">
                    <span class="text-secondary lead float-none w-100"></span>
                    <br />
                    <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:14px">COBERTURA
                      AMPLIA</span><br />
                    <span style="font-size:30px;font-weight:bold;text-center;color:green">{{
                      this.$store.state.config.cotizaMigo
                      | currency }}</span>
                    <br />
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" v-show="this.$store.state.config.telphone">
                  <button id="Migo" class="btn btn-block btn-outline-primary mx-auto d-block my-3"
                    @click="click('Migo')">Compra por teléfono <br>(55) {{
                      this.$store.state.config.telefonoMigo }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--MAPFRE-->
    <div v-show="this.$store.state.config.cards" class="container-fluid px-0 mb-2" id="mapfre">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row justify-content-center bg-white">
            <div
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center border rounded pt-3 shadow-cards">
              <div class="row">
                <div :class="this.$store.state.config.telphone ? 'col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 my-auto' : 'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 my-auto'">
                  <img class="img-fluid" style="width:150px;display:block;margin:0 auto;"
                    src="/seguros-para-motos/img/logos/mapfre.svg" alt="MAPFRE" />
                </div>
                <div :class="this.$store.state.config.telphone ? 'col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-none d-sm-none d-md-block' : 'col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-none d-sm-none d-md-block'">
                  <ul style="list-style:none;padding-left:0;font-size:20px;" class="">
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Robo Total
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Daños a terceros
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Gastos médicos
                    </li>
                  </ul>
                </div>
                <div :class="this.$store.state.config.telphone ? 'col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 text-center text-md-left' : 'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center text-md-left'">
                  <div class=" font-weight-bold">
                    <span class="text-secondary lead float-none w-100"></span>
                    <br />
                    <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:14px">COBERTURA
                      AMPLIA</span><br />
                    <span style="font-size:30px;font-weight:bold;text-center;color:green">{{
                      this.$store.state.config.cotizaMapfre
                      | currency }}</span>
                    <br />
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" v-show="this.$store.state.config.telphone">
                  <button id="Mapfre" class="btn btn-block btn-outline-primary mx-auto d-block my-3"
                    @click="click('Mapfre')">Compra por teléfono <br>(55) {{
                      this.$store.state.config.telefonoMapfre }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--BANORTE-->
    <div v-show="this.$store.state.config.cards" class="container-fluid px-0 mb-2" id="banorte">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row justify-content-center bg-white">
            <div
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center border rounded pt-3 shadow-cards">
              <div class="row">
                <div :class="this.$store.state.config.telphone ? 'col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 my-auto' : 'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 my-auto'">
                  <img class="img-fluid" style="width:150px;display:block;margin:0 auto;"
                    src="/seguros-para-motos/img/logos/BANORTE.svg" alt="Axa Seguros" />
                </div>
                <div :class="this.$store.state.config.telphone ? 'col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-none d-sm-none d-md-block' : 'col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-none d-sm-none d-md-block'">
                  <ul style="list-style:none;padding-left:0;font-size:20px;" class="">
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Robo Total
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Daños a terceros
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Gastos médicos
                    </li>
                  </ul>
                </div>
                <div :class="this.$store.state.config.telphone ? 'col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 text-center text-md-left' : 'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center text-md-left'">

                  <div class=" font-weight-bold">
                    <span class="text-secondary lead float-none w-100"></span>
                    <br />
                    <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:14px">COBERTURA
                      AMPLIA</span><br />
                    <span style="font-size:30px;font-weight:bold;text-center;color:green">{{
                      this.$store.state.config.cotizaBanorte
                      | currency }}</span>
                    <br />
                  </div>
                </div>
            
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4"  v-show="this.$store.state.config.telphone">
                  <button id="Banorte" class="btn btn-block btn-outline-primary mx-auto d-block my-3"
                    @click="click('Banorte')">Compra por teléfono <br>(55) {{
                      this.$store.state.config.telefonoBanorte }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import azteca from "~/components/common/precios-azteca.vue";
import aztecaNew from "~/components/common/precios-aztecaNew.vue";
import cotizandoComponent from "~/components/common/cotizando.vue";
export default {
  data() {
    return { redirect: true };
  },
  components: {
    azteca,
    aztecaNew,
    cotizandoComponent,
  },
  methods: {
    click(aseg) {
      // debugger
      switch (aseg) {
        case 'Qualitas':
          this.$store.state.config.telefono = this.$store.state.config.telefonoQualitas;   
          break;
        case 'Migo':
          this.$store.state.config.telefono = this.$store.state.config.telefonoMigo;
          break;
        case 'Banorte':
          this.$store.state.config.telefono = this.$store.state.config.telefonoBanorte;
          break;
        case 'Mapfre':
          this.$store.state.config.telefono = this.$store.state.config.telefonoMapfre;
          break;
      }


      const numero = 'tel:55' + this.$store.state.config.telefono;
        window.open(numero, "_blank");
         document.getElementById(aseg).className = "btn btn-block btn-outline-primary mx-auto d-block my-3 disabled";

    },
  },
  created() {

    // if(this.$store.state.cotizacion.cotizacion.primaTotal !== 0 || this.$store.state.cotizacion.cotizacion.primaTotal !==null){
    //   this.$store.state.config.cotizaQualitas='Precio Disponible sólo por teléfono';
    //   this.$store.state.config.cotizaMigo='Precio Disponible sólo por teléfono';
    //   this.$store.state.config.cotizaMapfre='Precio Disponible sólo por teléfono';
    //   this.$store.state.config.cotizaBanorte='Precio Disponible sólo por teléfono';
    // }
    // else{
      // this.$store.state.cotizacion.cotizacion.primaTotal="8729.65";
    this.$store.state.config.cotizaQualitas = parseFloat(this.$store.state.cotizacion.cotizacion.primaTotal) *  (1 - 10 / 100);
    this.$store.state.config.cotizaMigo = parseFloat(this.$store.state.cotizacion.cotizacion.primaTotal) *  (1 - 10 / 100);
    this.$store.state.config.cotizaMapfre = parseFloat(this.$store.state.cotizacion.cotizacion.primaTotal) * 1.35;
    this.$store.state.config.cotizaBanorte = parseFloat(this.$store.state.cotizacion.cotizacion.primaTotal) * (1- 5/ 100);
    // }
  }

}
</script>