<template>
  <div class="container-fluid px-0" id="azteca">
    <div class="card border-0">
      <div class="card-body py-2">
        <div class="row justify-content-center bg-white">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center border rounded pt-3 shadow-cards">
            <div v-if="this.$store.state.config.detalles" class="row">
              <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-5 my-auto">
                <img class="img-fluid" style="width:150px;display:block;margin:0 auto;"
                  src="/seguros-para-motos/img/logos/banco-azteca.svg" alt="aZTECA SEGUROS" />

                <!--<p class="mb-0 text-center extra">Desde $783 Contrata</p>
                    <p class="mb-0 text-center extra">Responsabilidad Civil</p>-->

              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-2 d-none d-sm-none d-md-none">
                <ul style="list-style:none;padding-left:0;font-size:18px;" class="">

                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-3 px-md-0 text-center my-auto mx-auto">
                <div class="display-6 font-weight-bold">
                  <!-- <span
                        class="text-secondary lead float-none w-100"
                        style="font-weight:bold;font-size:13px">
                          COBERTURA AMPLIA
                      </span> -->
                  <span style="font-size:28px;font-weight:bold;text-center;color:green">
                    <span style="font-size:12px; color:gray;">DESDE:</span>
                    $2,815.54
                  </span>
                  <br />
                  <span class="text-secondary lead float-none w-100" style="font-weight: bold; font-size: 14px;">+ Meses
                    sin Intereses</span>


                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 my-auto">
                <div  v-show="this.$store.state.config.telphone">
                  <button class="btn btn-block btn-outline-primary mx-auto d-block my-3" 
                    :class="redirect ? '' : 'disabled'" @click="click()">Compra por teléfono <br>(55) {{
                      this.$store.state.config.telefonoAzteca }}</button>

                </div>
                <a @click="collapseFunction()" class="detalles pt-2 pb-3">
                  <u>Detalle de coberturas</u> 
                </a>
              </div>
              <div  id="collapseAzteca" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-block" v-if="this.$store.state.cargandocotizacion">
                <div class="table-responsive">
                  <table class="table table-hover table-sm  style_table">
                    <thead>
                      <tr>
                        <th>Coberturas</th>
                        <th>Precio</th>
                        <th>Deducible</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>RESPONSABILIDAD CIVIL POR DAÑOS A TERCEROS</th>
                        <!-- <td>AMPARADA</td>  -->
                        <td>$ 1,000,000.00</td>
                        <td>No aplica</td>
                      </tr>
                      <tr>
                        <th>PROTECCION LEGAL</th>
                        <td>AMPARADA</td>
                        <td>No aplica</td>
                      </tr>

                      <tr>
                        <th>SERVICIOS FUNERALES</th>
                        <td>AMPARADA</td>
                        <td>No aplica</td>
                      </tr>
                      <tr>
                        <th>PÉRDIDAS ORGÁNICAS</th>
                        <td>AMPARADA</td>
                        <td>No aplica</td>
                      </tr>
                      <tr>
                        <th>ASISTENCIA VIAL PARA MOTOCICLETAS</th>
                        <td>AMPARADA</td>
                        <td>No aplica</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div v-else class="row">
              <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-5 my-auto">
                <img class="img-fluid" style="width:150px;display:block;margin:0 auto;"
                  src="/seguros-para-motos/img/logos/banco-azteca.svg" alt="aZTECA SEGUROS" />

                <!--<p class="mb-0 text-center extra">Desde $783 Contrata</p>
                    <p class="mb-0 text-center extra">Responsabilidad Civil</p>-->

              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-2 d-none d-sm-none d-md-none">
                <ul style="list-style:none;padding-left:0;font-size:18px;" class="">

                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-3 px-md-0 text-center my-auto mx-auto">
                <div class="display-6 font-weight-bold">
                  <!-- <span
                        class="text-secondary lead float-none w-100"
                        style="font-weight:bold;font-size:13px">
                          COBERTURA AMPLIA
                      </span> -->
                  <span style="font-size:28px;font-weight:bold;text-center;color:green">
                    <span style="font-size:12px; color:gray;">DESDE:</span>
                    $2,815.54
                  </span>
                  <br />
                  <span class="text-secondary lead float-none w-100" style="font-weight: bold; font-size: 14px;">+ Meses
                    sin Intereses</span>


                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 my-auto">
                <div  v-show="this.$store.state.config.telphone">
                  <button class="btn btn-block btn-outline-primary mx-auto d-block my-3" 
                    :class="redirect ? '' : 'disabled'" @click="click()">Compra por teléfono <br>(55) {{
                      this.$store.state.config.telefonoAzteca }}</button>

                </div>
                <a @click="collapseFunction()" class="detalles pt-2 pb-3">
                  <u>Detalle de coberturas</u> 
                </a>
              </div>
              <div  id="collapseAzteca" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-none" v-if="this.$store.state.cargandocotizacion">
                <div class="table-responsive">
                  <table class="table table-hover table-sm  style_table">
                    <thead>
                      <tr>
                        <th>Coberturas</th>
                        <th>Precio</th>
                        <th>Deducible</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>RESPONSABILIDAD CIVIL POR DAÑOS A TERCEROS</th>
                        <!-- <td>AMPARADA</td>  -->
                        <td>$ 1,000,000.00</td>
                        <td>No aplica</td>
                      </tr>
                      <tr>
                        <th>PROTECCION LEGAL</th>
                        <td>AMPARADA</td>
                        <td>No aplica</td>
                      </tr>

                      <tr>
                        <th>SERVICIOS FUNERALES</th>
                        <td>AMPARADA</td>
                        <td>No aplica</td>
                      </tr>
                      <tr>
                        <th>PÉRDIDAS ORGÁNICAS</th>
                        <td>AMPARADA</td>
                        <td>No aplica</td>
                      </tr>
                      <tr>
                        <th>ASISTENCIA VIAL PARA MOTOCICLETAS</th>
                        <td>AMPARADA</td>
                        <td>No aplica</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return { redirect: true, collapse: false, collapseInvert: true  };
  },
  methods: {

    click() {
      const numero = 'tel:55' + this.$store.state.config.telefonoAzteca;
      const redirect = this.redirect;
      if (redirect) {
        window.open(numero, "_blank");
        this.redirect = false;
      }
    },
    collapseFunction() {
      const collapse = this.collapse;
       const collapseInvert = this.collapseInvert;

       if (collapse || collapseInvert) {
        document.getElementById("collapseAzteca").className = "d-none";
        this.collapse = false;
        this.collapseInvert = false;
      }else {
        document.getElementById("collapseAzteca").className = "d-block";
        this.collapse = true;
        this.collapseInvert = true;
      }
    }
  }
}
</script>
