<template>
     <ul class="ul-li-footer colorGray font-weigh-bold ps-0 ms-0">
          <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/GNP/">GNP Seguros</a></li>
          <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/Qualitas/">Quálitas Compañía de Seguros</a></li>
          <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/el-aguila/">El Águila Compañía de Seguros</a></li>
          <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/mapfre/">Mapfre Seguros</a></li>
          <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/aba/">ABA Seguros</a></li>
          <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/banorte/">Seguros Banorte</a></li>
          <li class=""><a class="nolink-p colorGray font-weigh-bold" href="https://ahorraseguros.mx/inbursa/">Inbursa</a></li>
    </ul>         
</template> 