<template>
    <div class="contenedorPromociones pb-3">
      <div class="row " style="margin-left: 2%; margin-right: .5%;">
        <!-- PROMO AZTECA -->
        <div v-if="this.$store.state.config.interior=='azteca'" class=" container-fluid p-0 m-0 adornosPromo" 
            :style=" this.$store.state.config.promoSpecial
                  ? 'border: 5px dotted #E30613'
                  : 'border: 5px dotted #006240'   
          ">
          <div class="row mx-0 pt-3 pb-1 mx-auto">
            <div class="col-4 m-auto text-center ">
              <img
                loading="lazy"
                :src="'/seguros-para-motos/img/logos/'+ this.$store.state.config.interior+'.svg'"
                alt="Logo Aseguradora"
                width="130"
                height="76"
                class="img-fluid m-auto "
              />
            </div>
            <div
              v-if="this.$store.state.config.promoSpecial"
              class="col-2 px-1 m-auto text-center"
            >
              <img
                :src="this.$store.state.config.promoImg"
                alt="logo promocion"
                class="m-auto img-fluid"
                width="65"
                height="65"
              />
            </div>
            <div
              :class="
                this.$store.state.config.promoSpecial
                  ? 'col-6 col-md-6 promo m-auto'
                  : 'col-8 col-md-8 promo m-auto'
              "
            >
              <small class="labelPromo">{{
                this.$store.state.config.promoLabel
              }}</small>
              <p class="descuentosPromo1" :style=" this.$store.state.config.promoSpecial
                  ? 'background: #e30613'
                  : 'background: #006240'   
          ">{{ this.$store.state.config.desc }}</p>
              <div v-if="this.$store.state.config.msi !== ''">
                <small class="msiPromo">{{ this.$store.state.config.msi }}</small>
                <section
                  v-if="
                    !this.$store.state.config.msi.toLowerCase().includes('meses')
                  "
                >
                 
                </section>
              </div>
              <div class="text-center">
                <small>{{ this.$store.state.config.extraMsg }} </small>
              </div>
            </div>
          </div>
        </div>
        <!-- PROMO GNP -->
 <div v-if="this.$store.state.config.interior=='gnp'" class=" container-fluid p-0 m-0 adornosPromo" 
            :style=" this.$store.state.config.promoSpecial
                  ? 'border: 5px dotted #E30613'
                  : 'border: 5px dotted #ff5c28'   
          ">
          <div class="row mx-0 pt-3 pb-1 mx-auto">
            <div class="col-4 m-auto text-center ">
              <img
                loading="lazy"
                :src="'/seguros-para-motos/img/gnp/'+ this.$store.state.config.interior+'.svg'"
                alt="Logo Aseguradora"
                width="130"
                height="76"
                class="img-fluid m-auto "
              />
            </div>
            <div
              v-if="this.$store.state.config.promoSpecial"
              class="col-2 px-1 m-auto text-center"
            >
              <img
                :src="this.$store.state.config.promoImg"
                alt="logo promocion"
                class="m-auto img-fluid"
                width="65"
                height="65"
              />
            </div>
            <div
              :class="
                this.$store.state.config.promoSpecial
                  ? 'col-6 col-md-6 promo m-auto'
                  : 'col-8 col-md-8 promo m-auto'
              "
            >
              <small class="labelPromo">{{
                this.$store.state.config.promoLabel
              }}</small>
              <p class="descuentosPromo1" :style=" this.$store.state.config.promoSpecial
                  ? 'background: #e30613'
                  : 'background: #ff5c28'   
          ">{{ this.$store.state.config.desc }}</p>
              <div v-if="this.$store.state.config.msi !== ''">
                <small class="msiPromo">{{ this.$store.state.config.msi }}</small>
                <section
                  v-if="
                    !this.$store.state.config.msi.toLowerCase().includes('meses')
                  "
                >
                 
                </section>
              </div>
              <div class="text-center">
                <small>{{ this.$store.state.config.extraMsg }} </small>
              </div>
            </div>
          </div>
        </div>
        <!-- PROMO ITALIKA -->
 <div v-if="this.$store.state.config.interior=='italika'" class=" container-fluid p-0 m-0 adornosPromo" 
            :style=" this.$store.state.config.promoSpecial
                  ? 'border: 5px dotted #E30613'
                  : 'border: 5px dotted #001959'   
          ">
          <div class="row mx-0 pt-3 pb-1 mx-auto">
            <div class="col-4 m-auto text-center ">
              <img
                loading="lazy"
                :src="'/seguros-para-motos/img/logos/azteca.svg'"
                alt="Logo Aseguradora"
                width="130"
                height="76"
                class="img-fluid m-auto "
              />
            </div>
            <div
              v-if="this.$store.state.config.promoSpecial"
              class="col-2 px-1 m-auto text-center"
            >
              <img
                :src="this.$store.state.config.promoImg"
                alt="logo promocion"
                class="m-auto img-fluid"
                width="65"
                height="65"
              />
            </div>
            <div
              :class="
                this.$store.state.config.promoSpecial
                  ? 'col-6 col-md-6 promo m-auto'
                  : 'col-8 col-md-8 promo m-auto'
              "
            >
              <small class="labelPromo">{{
                this.$store.state.config.promoLabel
              }}</small>
              <p class="descuentosPromo1" :style=" this.$store.state.config.promoSpecial
                  ? 'background: #e30613'
                  : 'background: #001959'   
          ">{{ this.$store.state.config.desc }}</p>
              <div v-if="this.$store.state.config.msi !== ''">
                <small class="msiPromo">{{ this.$store.state.config.msi }}</small>
                <section
                  v-if="
                    !this.$store.state.config.msi.toLowerCase().includes('meses')
                  "
                >
                 
                </section>
              </div>
              <div class="text-center">
                <small>{{ this.$store.state.config.extraMsg }} </small>
              </div>
            </div>
          </div>
        </div>
        <!-- PROMO QUALITAS -->
 <div v-if="this.$store.state.config.interior=='qualitas'" class=" container-fluid p-0 m-0 adornosPromo" 
            :style=" this.$store.state.config.promoSpecial
                  ? 'border: 5px dotted #E30613'
                  : 'border: 5px dotted #941b80'   
          ">
          <div class="row mx-0 pt-3 pb-1 mx-auto">
            <div class="col-4 m-auto text-center " style="
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
">
              <img
                loading="lazy"
               :src="'/seguros-para-motos/img/logos/logotipo-agente.svg'"
                alt="Logo Aseguradora"
                width="150"
                height="76"
                class="img-fluid m-auto " 
              />
            </div>
            <div
              v-if="this.$store.state.config.promoSpecial"
              class="col-2 px-1 m-auto text-center"
            >
              <img
                :src="this.$store.state.config.promoImg"
                alt="logo promocion"
                class="m-auto img-fluid"
                width="65"
                height="65"
              />
            </div>
            <div
              :class="
                this.$store.state.config.promoSpecial
                  ? 'col-6 col-md-6 promo m-auto'
                  : 'col-8 col-md-8 promo m-auto'
              "
            >
              <small class="labelPromo">{{
                this.$store.state.config.promoLabel
              }}</small>
              <p class="descuentosPromo1" :style=" this.$store.state.config.promoSpecial
                  ? 'background: #e30613'
                  : 'background: #941b80'   
          ">{{ this.$store.state.config.desc }}</p>
              <div v-if="this.$store.state.config.msi !== ''">
                <small class="msiPromo">{{ this.$store.state.config.msi }}</small>
                <section
                  v-if="
                    !this.$store.state.config.msi.toLowerCase().includes('meses')
                  "
                >
                 
                </section>
              </div>
              <div class="text-center">
                <small>{{ this.$store.state.config.extraMsg }} </small>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
  </template>
  <style>
  .contenedorPromociones{
    max-width: 100%;
    width: 100%;
    /* margin: auto!IMPORTANT; */
    display: block;
  }
  .contenedorPromo {
    min-height: 80px;
    height: auto;
    
  }
  .contenedorPromo {
    padding: 8px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #bababa;
    max-width: 760px;
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
  }
 
  .promo {
    position: relative;
  }
  .adornosPromo {
    border-radius: 6px;
    background: #fff;
  }
  .labelPromo {
    position: absolute;
    top: -12px;
    left: -15px;
    background: gray;
    color: #fff;
    border-radius: 10px;
    padding: 0px 12px;
    margin-bottom: -33px;
  }
  .descuentosPromo1 {
    
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
    padding: 8px;
    padding: 0.8rem 0rem;
    border-radius: 5px;
    line-height: 1;
  }
  .msiPromo {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    line-height: 1;
  }
  .labelendPromo {
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
  }
  /* .mobile {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  } */

  @media (min-width: 767px) and (max-width: 930px) {
  
    .descuentosPromo1 {
      font-size: 0.55rem;
    }
    .labelendPromo {
      font-size: 0.5rem;
    }
    .msiPromo {
      font-size: 1.5rem !important;
    }
  }
  @media (min-width: 420px) and (max-width: 767px) {
    .mobile{
        display: none;
    }
      .mobile1{
        display: block !important;
    }
    .descuentosPromo1 {
      font-size: 0.8rem;
    }
    .labelendPromo {
      font-size: 0.55rem;
    }
    .msiPromo {
      font-size: 1.2rem !important;
    }
  }
  @media (max-width: 419px) {
    .mobile{
        display: none;
    }
      .mobile1{
        display: block !important;
    }
    .descuentosPromo1 {
      font-size: 0.6rem;
    }
    .labelendPromo {
      font-size: 0.5rem;
    }
    .msiPromo {
      font-size: 0.75rem !important;
    }
  }
  </style>
  