<template>
	<div class="row">
		<div class="col-12 col-md-6 m-auto d-block">
		  <h2 class="h4 text-center">Seguros para Motos más importantes en México</h2>
		</div>
		<div class="col-12">
		    <div class="slider">
		        <div class="slide-track">
		            <div class="slide">
		                <!-- <a aria-label="aseguradora" href="/gnp/" class="" alt="logotipo de aseguradora"> -->
		                        <!-- <img src="/seguros-para-motos/img/logos/gnp.svg" alt="seguros" width="160" height="57" class="img-fluid mt-2 px-3"> -->
		                    <!-- </a> -->
		            </div>
		            <div class="slide">
		                <!-- <a aria-label="aseguradora" href="/gnp/" class="" alt="logotipo de aseguradora"> -->
		                        <img src="/seguros-para-motos/img/logos/gnp.svg" alt="seguros" width="160" height="57" class="img-fluid mt-2 px-3">
		                    <!-- </a> -->
		            </div>
		            <div class="slide">
		                <!-- <a aria-label="aseguradora" href="/seguros-para-motos/azteca/" class="" alt="logotipo de aseguradora"> -->
		                    <img src="/seguros-para-motos/img/logos/banco-azteca.svg" alt="seguros" width="160" height="57" class="img-fluid mt-2 px-3">
		                <!-- </a> -->
		            </div>
		            <div class="slide">
		                 <!-- <a aria-label="aseguradora" href="/banorte/" class="" alt="logotipo de aseguradora"> -->
		                        <img src="/seguros-para-motos/img/logos/BANORTE.svg" alt="seguros" width="160" height="57" class="img-fluid mt-2 px-3">
		                    <!-- </a> -->
		            </div>
		            <div class="slide">
		                <!-- <a aria-label="aseguradora" href="/migo/" class="" alt="logotipo de aseguradora"> -->
		                        <img src="/seguros-para-motos/img/logos/MIGO.svg" alt="seguros" width="160" height="57" class="img-fluid mt-2 px-3">
		                    <!-- </a> -->
		            </div>
		            <div class="slide">
		                <!-- <a aria-label="aseguradora" href="/inbursa/" class="" alt="logotipo de aseguradora"> -->
		                        <img src="/seguros-para-motos/img/logos/INBURSA.svg" alt="seguros" width="160" height="57" class="img-fluid mt-2 px-3">
		                    <!-- </a> -->
		            </div>
		            <div class="slide">
		                <!-- <a aria-label="aseguradora" href="/ana/" class="" alt="logotipo de aseguradora"> -->
		                        <img src="/seguros-para-motos/img/logos/ANA.svg" alt="seguros" width="160" height="57" class="img-fluid mt-2 px-3">
		                    <!-- </a> -->
		            </div>
		            <div class="slide">
		                <!-- <a aria-label="aseguradora" href="/la-latino-seguros/" class="" alt="logotipo de aseguradora"> -->
		                        <img src="/seguros-para-motos/img/logos/LALATINO.svg" alt="seguros" width="160" height="57" class="img-fluid mt-2 px-3">
		                    <!-- </a> -->
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</template>
<style scoped>
  /*leo*/
  /*.sprite-qualitas{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:0 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-gnp{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1008px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-axa{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1280px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-banorte{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-550px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-zurich{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1099px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-inbursa{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-458px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-hdi{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1926px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-aguila{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1830px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-atlas{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-366px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-afirme{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-90px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-aig{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-825px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-ana{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1560px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-latino{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1655px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-general{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-275px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-vexmas{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1372px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-aba{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-734px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-sura{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1187px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-potosi{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-183px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-miituo{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1747px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-mapfre{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-642px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-chubb{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-273px -50px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-uber{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-1464px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}
  .sprite-migo{background-image:url(/img/2021/sprite-aseguradoras.svg);background-position:-917px 0px;width:90px;height:50px;display:block;background-repeat:no-repeat;margin:0 auto;background-size:2380px;}*/

/*  @-webkit-keyframes scroll {
    0%  {transform: translateX(0);}
    100%{transform: translateX(calc(-160px * 3));}
  }*/
  @keyframes scroll {
    0%  {transform: translateX(0);}
    100%{transform: translateX(calc(-160px * 3));}
  }
  .slider {
    /*background: #f7f9ff;*/
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);*/
    height: 65px;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width:80%;
    width:100%;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    /*opacity:0.8;*/
    opacity:1;
    margin:0 auto;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 65px;
    position: absolute;
    width: 35px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 60s linear infinite;
            animation: scroll 60s linear infinite;
    display: flex;
    width: calc(160px * 7);
  }
  .slider .slide {
    height: 65px;
    width: 160px;
  }
  /*leo*/

  @media (min-width: 200px) and (max-width: 600px) {
.slider::before,
.slider::after {
  background: linear-gradient(to right, #fff 0%, rgba(0, 0, 0, 0) 45%);
 }
}
</style>