<template>
<ul class="ul-li-footer colorGray font-weigh-bold ps-0 ms-0">
<li class="">
<a class="nolink-p  colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguros-de-autos/">Seguros para Autos</a></li>
<li class="">
<a class="nolink-p  colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguros-para-motos/">Seguro para Motos</a></li>
<li class="">
<a class="nolink-p  colorGray font-weigh-bold" href="https://ahorraseguros.mx/uber/">Seguro para Uber</a></li>
<li class="">
<a class="nolink-p  colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguros-para-taxis/">Seguros para Taxi</a></li>
<li class="">
<a class="nolink-p  colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguros-de-hogar/">Seguros de hogar</a></li>
<li class="">
<a class="nolink-p  colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguros-de-gastos-medicos/">Seguros de Gastos Médicos</a></li>
<li class="">
<a class="nolink-p  colorGray font-weigh-bold" href="https://ahorraseguros.mx/seguro-de-vida/">Seguros de Vida</a></li>
</ul>
</template>