<template>
    <div class="container-fluid">

      <div class="row" >
            <div class="col-12 col-sm-0 col-md-1  font-weigh-bold  d-md-block ">
    
                  </div>
                   <div class="col-12 col-sm-6 col-md-3  font-weigh-bold  d-md-block ">
                     <span class="h5 ">
                       <a class="nolink-title  font-weight-bold"
                        href="https://ahorraseguros.mx/aseguradoras/">
                        <p class="pt-2 "><b> Principales <br/>Aseguradoras </b></p> 
                      </a>
                     </span>
                     <principales-component class="ps-0"/>
                  </div>
                  <!------------------------------ Tipos de Seguros ------------------------------------------>
                   <div class="col-12 col-sm-6 col-md-2  font-weigh-bold d-md-block ">
                     <span class="h5">
                       <a class="nolink-title  font-weight-bold" href="https://ahorraseguros.mx/tipos-de-seguros/">
                        <p class="pt-2 "> <b>Tipos de Seguros</b></p>
                      </a></span>
                     <tipos-component class="ps-0"/>
                  </div>
    
                    <!-------------- Enlaces de Interés/ MAPA DE SITIO ------------------------------>
                   <div class="col-12 col-sm-6 col-md-3  font-weigh-bold  d-md-block ">
                     <span class="h5"><a class="nolink-title  font-weight-bold" href="https://ahorraseguros.mx/mapa-de-sitio">
                      <p class="pt-2 "><b>Mapa de Sitio</b></p>
                    </a></span>
                     <enlaces-component class="ps-0"/>
                  </div>
                           <!--Acerca de ahorra -->
                   <div class="col-12 col-sm-6 col-md-2  d-md-block ">
                     <span class="h5">
                       <a class="nolink-title  font-weight-bold" href="https://ahorraseguros.mx/acerca-de-ahorra-seguros/">
                         <p class="pt-2 "><b> Acerca de Ahorra </b></p>
                      </a></span>
                     <acerca-component class="ps-0"/>
                  </div>
            </div>
    
      <div class="row" >
         <div class="col-12 col-sm-12 col-md-12 col-lg-12 " style="padding-left: 0px; padding-right: 0px;">
       
           <elmejor-component />
        
        </div>
        </div>
      <!--------------------------- Principales Aseguradoras ---------------------------------->
      <div class="row" style="background-color: #030a2a; color:#fff">
        <div class="col-12 ">
           <div class="col-12 text-center" style="font-size:16px">© 2022 AhorraSeguros. Todos los derechos reservados. El uso de este sitio implica que aceptas nuestros Términos y condiciones, así como el Aviso de privacidad.</div>
        </div> 
          <div class="col-12 col-md-12 col-lg-12">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br class="d-block d-md-none d-lg-none">
            <br class="d-block d-md-none d-lg-none">
            <br class="d-block d-md-none d-lg-none">
          </div> 
          <div class="col-12 ">
            <div class="row bgHeader btnLeo" v-show='!this.showBottonAutoBack == 1' style="background-color: #1437c3!important;">


              <div  class="col-4 col-md-4 order-2 order-md-1 text-center bg-white">
                  <img loading="lazy" src="img/logo-ahorra.svg" alt="logo ahorra" width="200" height="80" class="my-4 img-fluid">
              </div>

              <div class="col-12 col-md-4 order-1 order-md-2 text-center letras " >
                        <div class="py-3 pt-md-3 pt-lg-3 mt-2">                    
                        <span class="" v-if="this.$store.state.config.msi !== ''">
                          <span class="m-0 text-white fw-bold">{{ this.$store.state.config.desc }} {{this.$store.state.config.msi}}
                          <span v-if="!this.$store.state.config.msi .toLowerCase().includes('meses') " class=" m-0 text-white"> 
                           </span>{{ this.$store.state.config.extraMsg }}</span>                   
                          </span>
                        </div>
                </div>
  
              <div class="col-8 col-md-4 order-4 order-md-3 order-lg-3 d-grid my-auto">
                <a  :href="this.$store.state.config.principal == true ? '#formcotizar' : this.$store.state.config.urlRuta+'#formcotizar'" class="btncotiza btn-block btn btn-md mb-0 mr-2 btnFooter">
                  <span class="text-white" style="line-height: 38px;">Cotizar Gratis</span>
                </a>
              </div>
            </div>      
        </div>
        
      </div>  
    </div>
    </template>
    <script>
      import elmejorComponent from '~/components/common/elmejorcomparadorNew.vue';
      import principalesComponent from '~/components/common/principales.vue'
     import tiposComponent from '~/components/common/tipos.vue'
     import enlacesComponent from '~/components/common/enlaces.vue'
     import acercaComponent from '~/components/common/acerca.vue'
    export default {
      data() {
        return {
          showBottonAutoBack: 1
        };
      },
      components:{
        elmejorComponent,
        principalesComponent,
         tiposComponent,
         enlacesComponent,
         acercaComponent
      },
      mounted: function() {
        window.addEventListener("scroll", () => {
          var scrollPos = window.scrollY;
          var winHeight = window.innerHeight;
          var docHeight = document.documentElement.scrollHeight;
          var perc = (100 * scrollPos) / (docHeight - winHeight);
          if (perc > 5) {
            this.showBottonAutoBack = 0;
          } else {
            this.showBottonAutoBack = 1;
          }
        });
      },
      created: function(){
      }
    };
    </script>
    <style>
      .btnLeo{position:fixed;bottom:0px;right:0px;width:100%;height:auto;margin:0 auto;}
      .btnFooter{
       background-color: #00b127 !important; font-size: 1.3rem !important; color: #fff;
     }
     .letras{
       font-size: 1rem;
     }

    
    </style>
    