<template>
  <div class="container-fluid">
    <div class="row" style="background-color:#f8f9fa">
          <div class="col-12 col-sm-0 col-md-1 colorGray font-weigh-bold  d-md-block ">
  
                </div>
                 <div class="col-12 col-sm-6 col-md-3 colorGray font-weigh-bold  d-md-block ">
                   <span class="h5 ">
                     <a class="nolink-title colorGray font-weight-bold"
                      href="https://ahorraseguros.mx/aseguradoras/">
                      <p class="pt-2 colorGray1">Principales Aseguradoras</p> 
                    </a>
                   </span>
                   <principales-component/>
                </div>
                <!------------------------------ Tipos de Seguros ------------------------------------------>
                 <div class="col-12 col-sm-6 col-md-2 colorGray font-weigh-bold d-md-block ">
                   <span class="h5">
                     <a class="nolink-title colorGray font-weight-bold" href="https://ahorraseguros.mx/tipos-de-seguros/">
                      <p class="pt-2 colorGray1"> Tipos de Seguros</p>
                    </a></span>
                   <tipos-component/>
                </div>
  
                  <!-------------- Enlaces de Interés/ MAPA DE SITIO ------------------------------>
                 <div class="col-12 col-sm-6 col-md-3 colorGray font-weigh-bold  d-md-block ">
                   <span class="h5"><a class="nolink-title colorGray font-weight-bold" href="https://ahorraseguros.mx/mapa-de-sitio">
                    <p class="pt-2 colorGray1"> Mapa de Sitio</p>
                  </a></span>
                   <enlaces-component/>
                </div>
                         <!--Acerca de ahorra -->
                 <div class="col-12 col-sm-6 col-md-2 colorGray d-md-block ">
                   <span class="h5">
                     <a class="nolink-title colorGray font-weight-bold" href="https://ahorraseguros.mx/acerca-de-ahorra-seguros/">
                       <p class="pt-2 colorGray1">Acerca de Ahorra</p>
                    </a></span>
                   <acerca-component/>
                </div>
          </div>
  
    <div class="row" >
       <div class="col-12 col-sm-12 col-md-12 col-lg-12 " style="padding-left: 0px; padding-right: 0px;">
     
         <elmejor-component />
      
      </div>
      </div>
    <!--------------------------- Principales Aseguradoras ---------------------------------->
    <div class="row" style="background-color: #030a2a; color:#fff">
      <div class="col-12 ">
         <div class="col-12 text-center" style="font-size:16px">© 2022 AhorraSeguros. Todos los derechos reservados. El uso de este sitio implica que aceptas nuestros Términos y condiciones, así como el Aviso de privacidad.</div>
      </div> 
        <div class="col-12 col-md-12 col-lg-12">
          <br>
          <br>
          <br>
          <br>
          <br class="d-block d-md-none d-lg-none">
          <br class="d-block d-md-none d-lg-none">
        </div> 
        <div class="col-12">
          <div class="row bgHeader btnLeo" v-show='!this.showBottonAutoBack == 1' style="background-color: #00623d!important;">
              <div class="col-12 col-md-4 order-1 order-md-2 text-center letras" >
                      <div class="py-3 pt-md-3 pt-lg-3 ">                    
                      <span class="" v-if="this.$store.state.config.msi !== ''">
                        <span class="m-0 text-white fw-bold">{{ this.$store.state.config.desc }} {{this.$store.state.config.msi}}
                        <span v-if="!this.$store.state.config.msi .toLowerCase().includes('meses') " class=" m-0 text-white"> 
                         </span>{{ this.$store.state.config.extraMsg }}</span>                   
                        </span>
                      </div>
              </div>
            <div v-if="this.$store.state.config.interior=='azteca'" class="col-4 col-md-4 order-2 order-md-1 text-center bg-white">
                <img loading="lazy" :src="'/seguros-para-motos/img/logos/'+ this.$store.state.config.interior+'.svg'" alt="logo seguros para cabify" width="150" height="50" class="my-2 img-fluid">
            </div>
            <div v-if="this.$store.state.config.interior=='qualitas'" class="col-4 col-md-4 order-2 order-md-1 text-center bg-white">
                <img loading="lazy" :src="'/seguros-para-motos/img/logos/'+ this.$store.state.config.interior+'.png'" alt="logo seguros para cabify" width="150" height="50" class="my-2 img-fluid">
            </div>

            <div class="col-8 col-md-4 order-4 order-md-3 order-lg-3 d-grid my-auto">
              <a   :href="this.$store.state.config.btnTop+ '#formcotizar'" class="btncotiza btn-block btn btn-md mb-0 mr-2 btnFooter">
                <span class="text-white" style="line-height: 38px;">Cotizar Gratis </span>
              </a>
            </div>
          </div>      
      </div>
      
    </div>  
  </div>
  </template>
  <script>
    import elmejorComponent from '~/components/common/elmejorcomparadorNew.vue';
    import principalesComponent from '~/components/common/principales.vue'
   import tiposComponent from '~/components/common/tipos.vue'
   import enlacesComponent from '~/components/common/enlaces.vue'
   import acercaComponent from '~/components/common/acerca.vue'
  export default {
    data() {
      return {
        showBottonAutoBack: 1
      };
    },
    components:{
      elmejorComponent,
      principalesComponent,
       tiposComponent,
       enlacesComponent,
       acercaComponent
    },
    mounted: function() {
      window.addEventListener("scroll", () => {
        var scrollPos = window.scrollY;
        var winHeight = window.innerHeight;
        var docHeight = document.documentElement.scrollHeight;
        var perc = (100 * scrollPos) / (docHeight - winHeight);
        if (perc > 5) {
          this.showBottonAutoBack = 0;

        } else {
          this.showBottonAutoBack = 1;
        }
      });
    },
    beforeCreate() {
      if (typeof window !== 'undefined') {
     this.$store.state.config.btnTop =typeof window.location.href;
    }
    let cadena = this.$store.state.config.btnTop;
    let primero = cadena.search("#formcotizar")
    let separado;
    let cad2 = "";
    // se le quita el ultimo
    if (primero) {
      separado = cadena.substring(primero + 0, cadena.length).split("#formcotizar")
      separado.forEach(element => {
        cad2 += element.replaceAll("#formcotizar", "")
      });
    }
    cadena = cadena.substring(0, primero + 0) + cad2
    cadena = cadena.split(' ').join(' ').trim();
    this.$store.state.config.btnTop = cadena;
}
  };
  </script>
  <style>
    .btnLeo{position:fixed;bottom:0px;right:0px;width:100%;height:auto;margin:0 auto;}
    .btnFooter{
     background-color: #ff6d1e !important; font-size: 1.3rem !important; color: #fff;
   }
   .letras{
     font-size: 1rem;
   }
   .colorGray {
      color: #494c4a !important;
      /* font-weight: bold!important;; */
  }
   .colorGray1 {
      color: #494c4a !important;
      font-weight: bold!important;
  }
  
  </style>
  