<template>
  <div>
      
    <nuxt />
  </div>
</template>
<script>
import botonarribaComponent from '~/components/common/boton-arriba.vue'
export default {
  created: function(){
  },
  components: {
   botonarribaComponent,
  }
};
</script>
