<template>
  <div>
    <div class="container-fluid">
      <header-component />
      <div class="row bg-aseg">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-md-3 ml-lg-5">
          <div class="col-3 col-md-12 pe-0" style="text-align: end;">
            <h1 class="text-firts1 font-weight-bold text-black text-center pt-4">
              Seguros para Moto
            </h1>
          </div>
          <promocionesActualizadas class="desktop" />

          <BikerRobot />
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 px-3 mt-2 mt-lg-4">
          <promocionesMobile />
          <motos-form :config="$store.state.config"></motos-form>
        </div>
      </div>
      <tarjetas class="bg-tarjetas" />
      <div class="row d-none">
        <elmejor-component />
      </div>
    </div>
    <div class="container-fluid">

      <div class="col-12 px-lg-5">
        <h2 class="text-center mt-4 pb-4">
          <strong class="colorTittle pb-4">¿Buscas un Seguro para Motos? ¡En Ahorra Seguros lo
            encontrarás!
          </strong>
        </h2>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 pt-md-0 justify-text">
            <p>
              Contar con un seguro para motos es algo completamente
              indispensable y obligatorio para todos los conductores de estos
              prácticos vehículos, no solo porque es un requisito de ley, sino
              por los enormes riesgos que existen para las motocicletas y sus
              ocupantes.
            </p>
            <p>
              Sabemos que por sus características, tanto las motos como los
              conductores diariamente están expuestos a muchas amenazas, como
              los accidentes, robos, asaltos y daños al vehículo, por lo que
              un seguro para moto es la mejor protección.
            </p>
            <p>
              Por ello en Ahorra Seguros cotizador de seguros para motos,
              trabajamos con las mejores y más prestigiosas aseguradoras para
              traerte las mejores coberturas y ofertas del seguro para motos
              México con los precios más accesibles, garantizando así tu
              seguridad y cuidado de tu economía.
            </p>
            <p>
              ¡Entra ahora a cotizar seguro para moto en Ahorraseguros.mx y
              comienza a ahorrar tiempo y dinero!
            </p>
          </div>
          <div class="col-12 col-md-6 col-lg-6 m-0 text-center">
            <img loading="lazy" src="img/01.png" alt="Protección seguro QUALITAS" width="500" height="394"
              class="img-fluid" />
          </div>


          <!--BOTON -->

          <div class="row">
            <div class="col-12 col-md-6 mt-1 mb-3 d-grid mx-auto"><a href="#formcotizar"
                class="btnFormulario btn-block btn btn-md mb-0 mr-2" style="text-decoration:none"><span
                  class="text-white ltdBoton">
                  Cotiza gratis <img loading="lazy" src="img/flechacot.svg" alt="arrow" width="14" height="23"
                    class="img-fluid"></span></a></div>
          </div>

          <div class="col-12 ">
            <h2 class=" colorTittle">
              ¡Conoce las diferentes Coberturas del Seguro para Motos!
            </h2>
            <p class="mt-4">
              Al igual que en los seguros de autos, existen diversos tipos de
              coberturas en los seguros para motos México.
            </p>
            <p>
              De esta manera se busca que exista un plan o paquete que se adapte
              perfectamente a las diferentes necesidades, exigencias, riesgos,
              estilo de vida y presupuestos de cada persona y familia mexicana.
            </p>

            <!-- INICIO NUEVA TABLA -->

            <div class="row">

              <div class="col-12 col-md-8 py-3 pt-3 pb-4 px-md-5 px-md-5 m-auto">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="encabezadoT">
                      <tr>
                        <th scope="col" class="tableBorderI">Coberturas</th>
                        <th scope="col" class="text-center">Amplia</th>
                        <th scope="col" class="text-center">Limitada</th>
                        <th scope="col" class="tableBorderF text-center ">Responsabilidad</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr class="tablaC">
                        <th scope="row" class="tableBorderI">Responsabilidad Civil</th>
                        <td>✔</td>
                        <td>✔</td>
                        <td class="tableBorderF">✔</td>
                      </tr>
                      <tr>
                        <th scope="row" class="tableBorderI">Gastos Médicos </th>
                        <td>✔</td>
                        <td class="font-weight-bold">Opcional</td>
                        <td class="tableBorderF font-weight-bold">X </td>
                      </tr>
                      <tr class="tablaC">
                        <th scope="row" class="tableBorderI">Defensa Legal</th>
                        <td>✔</td>
                        <td>✔</td>
                        <td class="tableBorderF">✔</td>
                      </tr>
                      <tr>
                        <th scope="row" class="tableBorderI">Daños Materiales</th>
                        <td>✔</td>
                        <td class="font-weight-bold">X</td>
                        <td class="tableBorderF font-weight-bold">X </td>
                      </tr>
                      <tr class="tablaC">
                        <th scope="row" class="tableBorderI">Robo Total</th>
                        <td>✔</td>
                        <td>✔</td>
                        <td class="tableBorderF font-weight-bold">X</td>
                      </tr>
                      <tr>
                        <th scope="row" class="tableBorderI">Robo de Partes</th>
                        <td>✔</td>
                        <td class="font-weight-bold">X</td>
                        <td class="tableBorderF font-weight-bold">X</td>
                      </tr>
                      <tr class="tablaC">
                        <th scope="row" class="tableBorderI">RC pasajeros</th>
                        <td>✔</td>
                        <td>✔</td>
                        <td class="tableBorderF">✔</td>
                      </tr>
                      <tr>
                        <th scope="row" class="tableBorderI">Carga o mercancía</th>
                        <td>✔</td>
                        <td class="font-weight-bold">X</td>
                        <td class="tableBorderF font-weight-bold">X</td>
                      </tr>
                      <tr class="tablaC">
                        <th scope="row" class="tableBorderI">Muerte al conductor</th>
                        <td class="font-weight-bold">✔</td>
                        <td class="font-weight-bold">Opcional</td>
                        <td class="tableBorderF font-weight-bold">X</td>
                      </tr>
                      <tr>
                        <th scope="row" class="tableBorderI">Asistencia vial</th>
                        <td class="">✔</td>
                        <td class="">✔</td>
                        <td class="tableBorderF">✔</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <!-- FIN NUEVA TABLA -->
            <p>
              Debemos aclarar que todos estos beneficios dependen y varían de
              cada aseguradora en la que contrates el servicio, por lo que puede
              que incluyan o no algunas de estas coberturas.
            </p>
          </div>

          <div class="col-12 py-2">
            <h2 class="colorTittle">
              ¿Qué Servicios y Coberturas ofrece el seguro para Moto?
            </h2>
            <p class="mt-4">Entre los más básicos y principales protecciones del seguro para motos se encuentran:</p>
            <!--             <ul>
              <li>Accidentes de tránsito.</li>
              <li>
                <span class="check d-inline-block"></span>Emergencias y gastos
                médicos.
              </li>
              <li>
                <span class="check d-inline-block"></span>Protección de
                responsabilidad civil por daños a terceros y acompañantes.
              </li>
              <li>
                <span class="check d-inline-block"></span>Indemnización por robo
                de partes o robo total de la unidad.
              </li>
              <li>
                <span class="check d-inline-block"></span>Daños materiales por
                vandalismo.
              </li>
              <li>
                <span class="check d-inline-block"></span>Daños por accidentes o
                desastres naturales.
              </li>
              <li>
                <span class="check d-inline-block"></span>Protección a
                mercancías y objetos personales.
              </li>
              <li>
                <span class="check d-inline-block"></span>Defensa y asesoría
                legal.
              </li>
              <li>
                <span class="check d-inline-block"></span>Fallas mecánicas en
                ciudad y autopista.
              </li>
            </ul> -->
            <div class="col-12 pt-4 pb-4  pt-md-0 pt-lg-2">
              <ul class="">
                <li>
                  <span class="d-inline">
                    <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /><b> Cobertura de
                      Responsabilidad Civil:</b>
                    Se trata de la cobertura ante daños a terceros que podamos llegar a generar de manera accidental a
                    otras personas con nuestra motocicleta. Este cubre gastos médicos, daños materiales y daños a la
                    nación.</span>
                </li>
                <li>
                  <span class="d-inline">
                    <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /> <b> Gastos
                      Médicos:</b>
                    Cubre los gastos médicos en caso de que resultes herido en un accidente, contemplando traslados en
                    ambulancias,consultas, hospitalización, cirugías, tratamientos y medicamentos.</span>
                </li>
                <li>
                  <span class="d-inline"> <img loading="lazy" src="img/check.svg" alt="check" width="15"
                      height="15" /><b>
                    Robo Total y Parcial:</b>
                    Te indemniza en caso de que sean robadas partes o en su totalidad tu motocicleta, con lo cual podrás
                    reponer la unidad.
                  </span>
                </li>
                <li>
                  <span class="d-inline"> <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    <b> Daños materiales:</b>
                    Ofrece protección e indemnización en caso de que tu moto resulte dañada a causa de choques,
                    derrapes, caída de objetos vandalismo, intentos de robo, fenómenos naturales y más factores
                    externos.
                  </span>
                </li>
                <li>
                  <span class="d-inline"><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    <b> Pérdida Total por Daños Materiales:</b>
                    En caso de que los daños registrados en tu vehiculo sean muiy graves e irreparables se considerará
                    como pérdida total por daños y se te pagará una indemnización.
                  </span>
                </li>
                <li>
                  <span class="d-inline"><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    <b> Asistencia Vial:</b>
                    En caso de que tengas alguna falla mecánica se te brindará apoyo con mecánicos, cambio de llanta,
                    suministro de gasolina o traslado con grúa a un taller mecánico. Obtén este beneficio al cotizar
                    seguro para moto en México.
                  </span>
                </li>

                <li>
                  <span class="d-inline"><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    <b> Defensa y Asesoría Legal:</b>
                    Si llegas a tener un problema con las autoridades por tu participación en un accidente se te dará el
                    servicio de abogados pagados, los cuales llevarán los trámites pertinentes para tu liberación. Esto
                    puede incluir el pago de multas y fianzas según sea el caso, protección que puedes buscar en el
                    cotizador de seguros para motos.
                  </span>
                </li>


              </ul>

            </div>
          </div>

          <div class="col-12 col-md-6 mt-1 mb-3 d-grid mx-auto"><a href="#formcotizar"
              class="btnFormulario btn-block btn btn-md mb-0 mr-2" style="text-decoration:none"><span
                class="text-white ltdBoton">
                Cotiza gratis <img loading="lazy" src="img/flechacot.svg" alt="arrow" width="14" height="23"
                  class="img-fluid"></span></a></div>


          <div class="">
            <h2 class="colorTittle mt-5">
              Coberturas Adicionales del Seguro para Motos
            </h2>
            <p class="mt-4"> Además de las coberturas y servicios que vienen incluidos en los seguros para motos,
              también las aseguradoras ofrecen una serie de coberturas adicionales que puedes contratar para
              personalizar tu protección.</p>

            <!-- COBERTURAS ADICIONALES -->



            <div class="row">


              <div class="col-12 col-md-12 col-lg-3 text-center pb-3">
                <div class="card card-aseg4 card-color py-3 d-block m-auto">
                  <div class="card-body"><img src="img/05.svg" alt="Extension de responsabilidad civil" width="64"
                      height="64" class="img-fluid">
                    <p class="m-0 pt-2">Extensión de responsabilidad civil.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-3 text-center pb-3">
                <div class="card card-aseg4 card-color py-3 d-block m-auto">
                  <div class="card-body"><img src="img/06.svg" alt="Responsabilidad civil en el extranjero" width="64"
                      height="64" class="img-fluid">
                    <p class="m-0 pt-2">Responsabilidad civil en el extranjero.</p>

                  </div>
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-3 text-center pb-3">
                <div class="card card-aseg4 card-color py-3 d-block m-auto">
                  <div class="card-body"><img src="img/07.svg" alt="Responsabilidad civil en el extranjero" width="64"
                      height="64" class="img-fluid">
                    <p class="m-0 pt-2">Cero cobro de Deducible.</p>

                  </div>
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-3 text-center pb-3">
                <div class="card card-aseg4 card-color py-3 d-block m-auto">
                  <div class="card-body"><img src="img/08.svg" alt="Responsabilidad civil en el extranjero" width="64"
                      height="64" class="img-fluid">
                    <p class="m-0 pt-2">Coberturas para equipo especial, adaptaciones y conversiones.</p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-9 col-md-9 mx-auto">
                <div class="row ">
                  <div class="col-12 col-md-12 col-lg-4 text-center pb-3 ">
                    <div class="card card-aseg4 card-color py-3 d-block m-auto">
                      <div class="card-body"><img src="img/09.svg" alt="Extension de responsabilidad civil" width="64"
                          height="64" class="img-fluid">
                        <p class="m-0 pt-2">Llantas y rines.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-12 col-lg-4 text-center pb-3 ">
                    <div class="card card-aseg4 card-color py-3 d-block ">
                      <div class="card-body"><img src="img/10.svg" alt="Extension de responsabilidad civil" width="64"
                          height="64" class="img-fluid">
                        <p class="m-0 pt-2">Coberturas para equipos de protección(casco, ropa, etc.).</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-12 col-lg-4 text-center pb-3 ">
                    <div class="card card-aseg4 card-color py-3 d-block m-auto">
                      <div class="card-body"><img src="img/11.svg" alt="Extension de responsabilidad civil" width="64"
                          height="64" class="img-fluid">
                        <p class="m-0 pt-2">Seguro para mercancia.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="row px-lg-5">
          <div class="col-12 py-2 pt-4">
            <h2 class="colorTittle">
              ¿Qué Aseguradoras ofrecen el Mejor Seguro para Motos? ¡Ahorra Seguros te lo dice!
            </h2>
            <p>
              El Seguro para Motos ofrece amplias ventajas y beneficios
              exclusivos para este tipo de vehículos motorizados, los cuales
              requieren pólizas especializadas que contemplen las principales
              necesidades y prioridades que tienen.
            </p>
          </div>
        </div>

        <div class="row">
          <fichaseg />
        </div>

        <div class="row ">
          <div class="col-12 py-2 mt-4">
            <h2 class="colorTittle pb-4">
              ¿Cuánto cuesta un Seguro para Motocicletas?
            </h2>

            <div class="row">
              <div class="col-12 col-md-6 col-lg-6 mt-4 justify-text">
                <p>Existen múltiples y variados precios del Seguro para Motos México, ya que dependiendo de la
                  aseguradora, el paquete o cobertura y de la persona, este costo es diferente. </p>

                <p>Mucho dependerá de las necesidades que tengamos como conductores y la protección que le queramos dar
                  a
                  nuestro vehículo ante los factores que pueden llegar a dañarlo. </p>

                <p>Existen seguros para motos baratos, como lo es la cobertura básica o de responsabilidad civil, la
                  cual
                  puedes encontrar con todas las aseguradoras y que siempre es el paquete más austero y barato. </p>

                <p>Estos seguros para motos baratos los podrás encontrar desde $240 pesos mensuales hasta los $785
                  pesos,
                  sin embargo, esto puede variar dependiendo de la empresa y la persona. </p>

                <p>Las coberturas limitadas por su parte, pueden ir en promedio desde los $6,250 hasta los $12,934 y las
                  coberturas amplias desde $8,562 hasta los $16,534 pesos.</p>
              </div>
              <div class="col-12 col-md-6 col-lg-6 m-0 text-center">
                <img loading="lazy" src="img/02.png" alt="Protección seguro QUALITAS" width="500" height="394"
                  class="img-fluid" />

              </div>
            </div>
            <p>Recuerda que el costo del seguro es completamente personalizado, y depende mucho del tipo de moto que
              tienes, su valor en el mercado, utilidad, marca, modelo y año.</p>

            <p>En AhorraSeguros.mx te mostramos una cotización del precio del seguro para motos con los modelos más
              populares en México este 2022:</p>
          </div>
        </div>
        <!-- TABLA MOTOS -->
        <div class="row">
          <div class="col-md-7  pb-4  m-auto">
            <div class="table-responsive pt-4">
              <table class="table">
                <thead class="encabezadoT">
                  <tr>
                    <th scope="col" class="tableBorderI">Modelo</th>
                    <th scope="col" class="text-center ">Amplia</th>
                    <th scope="col" class="text-center">Limitada</th>
                    <th scope="col" class="tableBorderF text-center">RC</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="tablaC">
                    <th scope="row" class="tableBorderI">Italika 125</th>
                    <td>$14,567</td>
                    <td>$11,458</td>
                    <td class="tableBorderF">$6,234</td>
                  </tr>
                  <tr>
                    <th scope="row" class="tableBorderI">Suzuki Vitara</th>
                    <td>$12,356</td>
                    <td>$7,254</td>
                    <td class="tableBorderF">$5,534</td>
                  </tr>
                  <tr class="tablaC">
                    <th scope="row" class="tableBorderI">Yamaha Cygnus</th>
                    <td>$8,562</td>
                    <td>$7,578</td>
                    <td class="tableBorderF">$6,734</td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
        <p class="text-center">La mayoría de las ocasiones puede pagarse sin problemas de manera mensual o con cargos a
          tu tarjeta de crédito a 3, 6 y 12 meses sin intereses. </p>

        <!-- ARREGLANDO MOTO -->
        <div class="row">
          <div class="col-12 py-2 mt-4">
            <h2 class="colorTittle pb-4">
              ¿Ante qué riesgos me protege un Seguro de Motos en México?
            </h2>
            <div class="row">

              <div class="col-12 col-md-6 col-lg-6 m-0 text-center">
                <img loading="lazy" src="img/03.png" alt="Protección seguro QUALITAS" width="500" height="394"
                  class="img-fluid" />
              </div>

              <div class="col-12 col-md-6 col-lg-6 pt-md-0 justify-text mt-2">
                <div class="col-12 pt-4 pb-4  pt-md-0 pt-lg-2">
                  <ul class="">
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Accidentes de tránsito.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Emergencias y gastos médicos.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Protección de responsabilidad civil por daños a terceros y acompañantes.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Indemnización por robo de partes o robo total de la unidad.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Daños materiales por vandalismo.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Daños por accidentes o desastres naturales.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Protección a mercancías y objetos personales.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Defensa y asesoría legal.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Fallas mecánicas en ciudad y autopista.
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </div>
        <!-- BENEFICIOS DE POLIZA -->

        <div class="col-12 py-2 mt-4">
          <h2 class="colorTittle pb-4">
            ¿Qué beneficios me da contar con una Póliza de Seguro para Motos?
          </h2>

          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 pt-md-0 justify-text mt-2">
              <div class="col-12 pt-4 pb-4  pt-md-0 pt-lg-2">
                <p>
                  El Seguro para Motos ofrece amplias ventajas y beneficios exclusivos para este tipo de vehículos
                  motorizados, los cuales requieren pólizas especializadas que contemplen las principales necesidades y
                  prioridades que tienen.
                </p>
                <ul class="">
                  <li>
                    <span class="d-inline">
                      <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                      Atención especializada vía telefónica las 24 horas los 365 días del año
                    </span>
                  </li>
                  <li>
                    <span class="d-inline">
                      <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                      Cobertura en toda la República y en el extranjero.
                    </span>
                  </li>
                  <li>
                    <span class="d-inline">
                      <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                      Servicio de asistencia a clientes por medio de la app de seguro para moto.
                    </span>
                  </li>
                  <li>
                    <span class="d-inline">
                      <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                      Seguros baratos con red propia de ajustadores, mecánicos y cuerpos de emergencia en todo el
                      territorio.
                    </span>
                  </li>
                  <li>
                    <span class="d-inline">
                      <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                      Montos de aseguramiento superiores a los de otro tipo de pólizas para garantizar tu máxima
                      protección al usar el comparador de seguros para moto de Ahorra Seguros.
                    </span>
                  </li>

                </ul>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 m-0 text-center mt-2">
              <img loading="lazy" src="img/04.png" alt="Protección seguro QUALITAS" width="500" height="394"
                class="img-fluid" />
            </div>
          </div>


        </div>

        <!-- MONTOS ASEGURADOS Y DEDUCIBLES -->
        <div class="row">
          <div class="col-12 mt-4">
            <h2 class="colorTittle pb-2">
              Montos asegurados y deducibles del Seguro de Motos
            </h2>
          </div>
          <div class="col-md-6 py-3 pt-3 pb-4 px-md-5 px-md-5 m-auto">
            <div class="table-responsive pt-4">
              <table class="table">
                <thead class="encabezadoT">
                  <tr>
                    <th scope="col" class="tableBorderI">Cobertura</th>
                    <th scope="col" class="text-center ">Monto Asegurado</th>
                    <th scope="col" class="tableBorderF text-center">Deducible</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="tablaC">
                    <th scope="row" class="tableBorderI">Robo total</th>
                    <td>Valor comercial</td>

                    <td class="tableBorderF">10%</td>
                  </tr>
                  <tr>
                    <th scope="row" class="tableBorderI">Daños materiales</th>
                    <td>Valor comercial</td>

                    <td class="tableBorderF">5%</td>
                  </tr>
                  <tr class="tablaC">
                    <th scope="row" class="tableBorderI">Gastos Médicos </th>
                    <td>$200,000 (promedio)</td>

                    <td class="tableBorderF">Amparado</td>
                  </tr>
                  <tr class="tablaC">
                    <th scope="row" class="tableBorderI">Responsabilidad civil</th>
                    <td>De $1,000,000 a $3,000,000</td>

                    <td class="tableBorderF">Amparado</td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>



        <!-- ---------------------------------------------------------------------------------- -->

        <div class="row">
          <div class="col-12 mt-5 mb-3">
            <h2 class="colorTittle">
              Seguro para Motos en México: Mejores aseguradoras, teléfonos y oficinas en cada Estado
            </h2>
            <p>
              Conoce todo sobre cómo conseguir el mejor seguro para motos en tu
              localidad:
            </p>
          </div>

          <fichasEstados />


        </div>

        <div class="row">

          <div class="col-12  mt-4">
            <h2 class="colorTittle">
              ¿Cuáles son los requisitos para contratar el Seguro para Motos?
            </h2>

            <p>Obtener tu seguro es muy fácil y sencillo, pues los requerimientos que pide cada aseguradora son
              relativamente simples. </p>

            <p>Lo único que necesitas es tener todos tus documentos personales y los de tu moto en orden para poder
              hacerlo. </p>

            <p>Necesitarás la ficha técnica de la moto, la cual incluye:</p>

          </div>
        </div>

        <div class="row px-lg-5">
          <div class="col-12 col-md-6 col-lg-6 pb-5 mt-2">
            <div class="card cradCont cardIcon tamcard" style="height: 100%">
              <div class="icon"><img loading="lazy" src="img/12.svg" alt="requisitos" width="50" height="50"
                  class="img-fluid"></div>
              <div class="card-body" style=" font-size: 0.9rem;">
                <h5> Datos de la Motocicleta</h5>
                <br>
                <ul>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Marca.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Modelo.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Año.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Número de serie.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Cilindraje.
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="col-12 col-md-6 col-lg-6 pb-5">
            <div class="card cradCont cardIcon tamcard" style="height: 100%">
              <div class="icon"><img loading="lazy" src="img/13.svg" alt="requisitos" width="50" height="50"
                  class="img-fluid"></div>
              <div class="card-body" style=" font-size: 0.9rem;">
                <h5> Datos Personales</h5><br>
                <ul>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    RFC.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Nombre.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Sexo.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Correo electrónico.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Comprobante de domicilio.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Teléfono.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Edad.
                  </li>
                  <li><span><img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" /></span>
                    Licencia de conducir vigente.
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

        <p>Con estos simples requerimientos y pagando tu póliza de seguro para motos por medio de la app o con una
          tarjeta de crédito es como podrás acceder a todos los beneficios y protecciones que este seguro brinda para
          ti. </p>

        <div>
          <div class="col-12 col-md-6 mt-1 mb-3 d-grid mx-auto mt-4 pb-4"><a href="#formcotizar"
              class="btnFormulario btn-block btn btn-md mb-0 mr-2" style="text-decoration:none"><span
                class="text-white ltdBoton">
                Cotiza gratis <img loading="lazy" src="img/flechacot.svg" alt="arrow" width="14" height="23"
                  class="img-fluid"></span></a></div>
        </div>

        <div>
          <div class="col-12 mt-5 mb-3">
            <h2 class="colorTittle">
              Métodos de Pago Disponibles para contratar mi Seguro para Moto
            </h2>
            <p>A través de Ahorraseguros.mx adquier tu seguro para moto de la manera más accesible, además de contar con
              precios y promociones exclusivas tendrás la oportunidad de pagar tu póliza a través de los siguientes
              métodos:</p>
            <div class="col-12 pt-4 pb-4  pt-md-0 pt-lg-2">
              <ul class="">
                <li>
                  <span class="d-inline">
                    <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    Tarjeta de crédito
                  </span>
                </li>
                <li>
                  <span class="d-inline">
                    <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    Tarjeta de débito
                  </span>
                </li>
              </ul>
            </div>

            <p>Conoce cada una de los beneficios de pagos a meses sin intereses y adquiere la mayor protección total
              para tu moto al mejor precio.</p>

          </div>
        </div>

        <div>
          <div class="col-12 mt- mb-3">
            <h2 class="colorTittle">
              Ahora que ya tengo mi Seguro para Motos ¿Cómo lo utilizo?
            </h2>
          </div>
          <p>Si ya cuentas con tu mejor seguro para motos o estás próximo a contratarlo es importante que conozcas la
            forma correcta en cómo debes usarlo y qué hacer en cada situación. </p>

          <p>Sabemos que tarde o temprano seguramente tendremos que hacer uso de la póliza para apoyarnos ante algún
            inconveniente durante nuestros traslados, por lo que es fundamental conocer los procesos y protocolos a
            tomar. </p>

          <p>En caso de que llegues a tener un accidente vial es importante que siempre lleves contigo tu póliza de
            seguro para motos, licencia de conducir y una identificación oficial. </p>

          <p>En este caso deberás:</p>

        </div>

        <div class="col-12 py-2 mt-4">
          <div class="row">

            <div class="col-12 col-md-6 col-lg-6 m-0 text-center">
              <img loading="lazy" src="img/05.png" alt="Protección seguro QUALITAS" width="500" height="394"
                class="img-fluid" />
            </div>

            <div class="col-12 col-md-6 col-lg-6 pt-md-0 justify-text ">
              <div class="col-12   pt-md-0 ">
                <ul class="">
                  <li>
                    <span class="d-inline">
                      <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                      llamar inmediatamente a tu aseguradora para que te presten el servicio de un ajustador.
                    </span>
                  </li>
                  <li>
                    <span class="d-inline">
                      <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                      Actualmente puedes comunicarte vía telefónica o por medio de las apps que han desarrollado para
                      los teléfonos móviles todas las aseguradoras.
                    </span>
                  </li>
                  <li>
                    <span class="d-inline">
                      <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                      Por medio de estas apps es más sencillo que los ajustadores y cuerpos de rescate lleguen a
                      auxiliarte, pues al compartir tu geolocalización por medio del GPS podrán llegar aunque no
                      conozcas la dirección en donde te encuentras.
                    </span>
                  </li>
                  <li>
                    <span class="d-inline">
                      <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                      Es importante que al hacer el reporte del accidente menciones si tú o alguna otra persona
                      necesitan asistencia médica para que sea enviada inmediatamente al lugar.
                    </span>
                  </li>
                  <li>
                    <span class="d-inline">
                      <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                      Una vez que has verificado la condición de cada persona y la tuya, es importante que te pongas en
                      un lugar seguro y trates de mover lo menos posible tu vehículo. De esta manera no tendrás mayor
                      problema a la hora de que lleguen los ajustadores a evaluar la situación.
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12  pt-md-0 ">
              <ul class="">
                <li>
                  <span class="d-inline">
                    <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    llamar inmediatamente a tu aseguradora para que te presten el servicio de un ajustador.
                  </span>
                </li>
                <li>
                  <span class="d-inline">
                    <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    Actualmente puedes comunicarte vía telefónica o por medio de las apps que han desarrollado para los
                    teléfonos móviles todas las aseguradoras.
                  </span>
                </li>
                <li>
                  <span class="d-inline">
                    <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    Por medio de estas apps es más sencillo que los ajustadores y cuerpos de rescate lleguen a
                    auxiliarte, pues al compartir tu geolocalización por medio del GPS podrán llegar aunque no conozcas
                    la dirección en donde te encuentras.
                  </span>
                </li>
                <li>
                  <span class="d-inline">
                    <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    Es importante que al hacer el reporte del accidente menciones si tú o alguna otra persona necesitan
                    asistencia médica para que sea enviada inmediatamente al lugar.
                  </span>
                </li>
                <li>
                  <span class="d-inline">
                    <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                    Una vez que has verificado la condición de cada persona y la tuya, es importante que te pongas en un
                    lugar seguro y trates de mover lo menos posible tu vehículo. De esta manera no tendrás mayor
                    problema a la hora de que lleguen los ajustadores a evaluar la situación.
                  </span>
                </li>
              </ul>
            </div>
          </div>


        </div>

        <div>
          <div class="col-12 mt-5 mb-3">
            <h2 class="colorTittle">
              Seguros para Motos Comerciales
            </h2>
          </div>
          <div class="col-12 py-2 mt-4">
            <div class="row">

              <div class="col-12 col-md-6 col-lg-6 pt-md-0 justify-text ">
                <div class="col-12   pt-md-0 ">
                  <p>Los seguros para motos comerciales se tratan de pólizas especializadas para proteger a las
                    motocicletas que se emplean laboralmente como vehículos repartidores de mercancía, correo, delivery,
                    etc.</p>
                  <p>Estos aplican para:</p>
                  <ul class="">
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Motos de mensajería.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Repartidores de delivery (Uber eats, Rappi, Didi food).
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Motos de aseguradoras.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Correo.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Flotillas de motos empresariales.
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6 m-0 text-center">
                <img loading="lazy" src="img/06.png" alt="Protección seguro QUALITAS" width="500" height="394"
                  class="img-fluid" />
              </div>
            </div>
          </div>
        </div>


        <div>
          <div class="col-12 mt-5 mb-3">
            <h2 class="colorTittle">
              ¿Por qué es importante contar con un Seguro para Motos?
            </h2>
          </div>
          <div class="col-12 py-2 mt-4">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6 m-0 text-center">
                <img loading="lazy" src="img/07.png" alt="Protección seguro QUALITAS" width="500" height="394"
                  class="img-fluid" />
              </div>
              <div class="col-12 col-md-6 col-lg-6 pt-md-0 justify-text ">
                <div class="col-12 pt-md-0 ">
                  <p>Contar con un seguro para motos es realmente de vital importancia para todos los propietarios y
                    conductores de estos vehículos, pues en México en especial existen bastantes condiciones
                    desfavorables para su uso. </p>

                  <p>Esto va desde las altas cifras de accidentes y muertes que se registran cada año con estos
                    vehículos, de los cuales la mayoría de los lesionados o víctimas mortales son los propios
                    motociclistas y sus acompañantes, por lo que resulta indispensable contar con seguros para motos
                    México. </p>


                  <p>Se estima que en la última década los accidentes viales de motos en México han aumentado cerca del
                    42% por el crecimiento y la popularidad de estos vehículos, sobre todo en las grandes áreas urbanas,
                    haciendo obligatorio el cotizar seguro para moto en México. </p>

                  <p>Sin embargo, a pesar de ser tan prácticos y más económicos que los automóviles, representan mayores
                    peligros para los usuarios, pues se encuentran bastante expuestos en estos vehículos motorizados.
                  </p>
                </div>
              </div>

              <p>Además, debemos añadir la poca cultura vial y de prevención que existe en México, pues muy
                comúnmente los motociclistas están vulnerables ante las negligencias y el poco respeto de espacios
                por parte de los automovilistas. </p>
              <p>Sin embargo, son los mismos motociclistas los que en muchas ocasiones caen en conductas imprudentes
                que pueden ponerlos en riesgo, como el conducir a exceso de velocidad, entrar en vías no permitidas
                y no usar casco o protecciones mientras se trasladan, esto sin mencionar la omisión de contratar un
                seguro para motos. </p>

              <p>Por ello la incidencia de heridos y mortalidad es realmente alta y preocupante, por lo que es
                indispensable tomar las máximas medidas de seguridad. </p>

              <p>De aquí la importancia de cotizar seguro para moto y encontrar la opción que mejor se adapte a
                nuestras necesidades y los principales riesgos que detectemos a los cuales estamos vulnerables. </p>

              <p>Usar un comparador de seguros para moto es siempre la mejor opción para verificar los beneficios,
                precios y coberturas con las que protegeremos nuestro patrimonio, nuestra salud y hasta nuestras
                vidas.</p>
            </div>
          </div>
        </div>


        <div>
          <div class="col-12 mt-5 mb-3">
            <h2 class="colorTittle">
              Seguro de Moto Obligatorio
            </h2>
          </div>
          <div class="col-12 py-2 mt-4">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6 pt-md-0 justify-text ">
                <div class="col-12   pt-md-0 ">
                  <p>Debes de saber que desde el año 2019 contar con un seguro de moto con cobertura mínima de
                    responsabilidad civil es obligatorio para absolutamente todos los motociclistas que circulan en el
                    país.</p>

                  <p>Esto se debe a la reforma de ley que busca que los conductores de vehículos cuenten con un respaldo
                    ante sus responsabilidad ante accidentes o afectaciones a terceros, pudiendo tener los recursos para
                    la reparación del daño a través de una compañía aseguradora.</p>

                  <p>El no contar con este seguro hará a los motociclistas acreedores a una multa que puede ir desde los
                    $600 hasta más de $1500 pesos mexicanos, además de la remisión de su motocicleta al corralón.</p>

                  <p>Es por esto que en la actualidad todas las aseguradoras que ofrecen el seguro para moto también
                    incluyen esta protección de responsabilidad civil en todos sus paquetes.</p>

                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-6 m-0 text-center">
                <img loading="lazy" src="img/08.png" alt="Protección seguro QUALITAS" width="500" height="394"
                  class="img-fluid" />
              </div>

            </div>
          </div>
        </div>


        <div>
          <div class="col-12 mt-5 mb-3">
            <h2 class="colorTittle">
              Accidentes de moto en México
            </h2>
          </div>
          <div class="col-12 py-2 mt-4">
            <div class="row">

              <div class="col-12 col-md-6 col-lg-6 m-0 text-center">
                <img loading="lazy" src="img/09.png" alt="Protección seguro QUALITAS" width="500" height="394"
                  class="img-fluid" />
              </div>
              <div class="col-12 col-md-6 col-lg-6 pt-md-0 justify-text ">
                <div class="col-12   pt-md-0 ">
                  <p>Los accidentes de motos en México son actualmente de las primeras causas de muerte en jóvenes de 15
                    a 29 años, según datos del INEGI y la OMS, ya que año con año se registran cerca de 25 mil
                    fallecimientos por estas causas. </p>

                  <p>Los motociclistas son de los sectores más vulnerables, pues a diferencia de los pasajeros de autos,
                    estos tienen hasta 4 veces más probabilidades de muerte o lesiones graves, ya que se encuentran
                    bastante expuestos al circular en sus motos.</p>

                  <p>Los conductores de motos están constantemente expuestos a situaciones o accidentes que ellos mismos
                    pueden causar, como choques, derrapes, caídas, etc. Sin embargo, también son altamente vulnerables
                    ante terceros vehículos que los pueden chocar o arrollar.</p>

                  <p>Es por ello que contar con los equipos de seguridad adecuados, ser precavido y responsable al
                    conducir y contar con un seguro de moto es indispensable.</p>


                </div>
              </div>



            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-4 mb-3">
            <h2 class="colorTittle">
              Apps del seguro de moto
            </h2>
          </div>
          <p>Actualmente las aseguradoras que ofrecen los seguros para motos han desarrollado sus propias aplicaciones
            para dispositivos móviles, con las cuales los motociclistas pueden llevar su póliza y todas las funciones
            del seguro de forma digital a dónde vayan.</p>

          <p>Entre las principales funciones de estas apps se encuentran:</p>

          <div class="col-12 ">

            <div class="row">


              <div class="col-12 col-md-12 col-lg-3 text-center pb-3 ">
                <div class="card card-aseg4 card-color py-3 d-block m-auto">
                  <div class="card-body"><img src="img/14.svg" alt="Extension de responsabilidad civil" width="64"
                      height="64" class="img-fluid">
                    <p class="m-0 pt-2">Reportar un siniestro o choque inmediatamente.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-3 text-center pb-3">
                <div class="card card-aseg4 card-color py-3 d-block m-auto">
                  <div class="card-body"><img src="img/15.svg" alt="Responsabilidad civil en el extranjero" width="64"
                      height="64" class="img-fluid">
                    <p class="m-0 pt-2">Solicitar apoyo médico y vial.</p>

                  </div>
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-3 text-center pb-3">
                <div class="card card-aseg4 card-color py-3 d-block m-auto">
                  <div class="card-body"><img src="img/16.svg" alt="Responsabilidad civil en el extranjero" width="64"
                      height="64" class="img-fluid">
                    <p class="m-0 pt-2">Ver la ruta y llegada de tu ajustador en tiempo real.</p>

                  </div>
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-3 text-center pb-3">
                <div class="card card-aseg4 card-color py-3 d-block m-auto">
                  <div class="card-body"><img src="img/17.svg" alt="Responsabilidad civil en el extranjero" width="64"
                      height="64" class="img-fluid">
                    <p class="m-0 pt-2">Revisar tu poliza en digital.</p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-12 col-md-12 col-lg-3 text-center pb-3 offset-lg-3">
                <div class="card card-aseg4 card-color py-3 d-block m-auto">
                  <div class="card-body"><img src="img/18.svg" alt="Extension de responsabilidad civil" width="64"
                      height="64" class="img-fluid">
                    <p class="m-0 pt-2">Pagar el seguro.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-12 col-lg-3 text-center pb-3">
                <div class="card card-aseg4 card-color py-3 d-block m-auto">
                  <div class="card-body"><img src="img/19.svg" alt="Extension de responsabilidad civil" width="64"
                      height="64" class="img-fluid">
                    <p class="m-0 pt-2">Contratar coberturas adicionales.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>


        <div>
          <div class="col-12 mt-5 mb-3">
            <h2 class="colorTittle">
              Otras formas para protegerse a bordo de una moto
            </h2>
          </div>
          <div class="col-12 py-2 mt-4">
            <div class="row">

              <div class="col-12 col-md-6 col-lg-6 m-0 text-center">
                <img loading="lazy" src="img/10.png" alt="Protección seguro QUALITAS" width="500" height="394"
                  class="img-fluid" />
              </div>
              <div class="col-12 col-md-6 col-lg-6 pt-md-0 justify-text ">
                <div class="col-12   pt-md-0 ">
                  <p>Recuerda que es muy importante que además de contar con un seguro para motos sigas todas las
                    recomendaciones de protección para evitar poner tu salud y vida en riesgo en cada uno de tus viajes.
                  </p>

                  <p>Los siniestros están a la orden del día y pueden presentarse en cualquier lugar y momento, por lo
                    que seguir las siguientes recomendaciones ayudarán a protegerte.</p>


                </div>
                <div class="">

                  <ul class="">
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Uso en todo momento de casco, guantes y ropa protectora.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Respetar las señalizaciones viales.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        No circular a exceso de velocidad.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        No usar vialidades no permitidas para motocicletas o motos de baja potencia.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        No conducir bajo los efectos del alcohol o estupefacientes.
                      </span>
                    </li>
                    <li>
                      <span class="d-inline">
                        <img loading="lazy" src="img/check.svg" alt="check" width="15" height="15" />
                        Revisar el buen estado y funcionamiento del vehículo.
                      </span>
                    </li>

                  </ul>

                </div>
              </div>



            </div>
          </div>


        </div>

        <div>
          <div class="col-12 mt-5 mb-3">
            <h2 class="colorTittle">
              ¡Obtén el Mejor Seguro para Motos con Ahorra Seguros!
            </h2>
          </div>

          <p>En Ahorraseguros.mx podrás cotizar seguro para moto y encontrar las mejores ofertas y coberturas en tan
            sólo unos instantes. </p>

          <p>Nuestro comparador busca en tan sólo 10 segundos entre todas las aseguradoras y coberturas disponibles en
            el mercado para encontrar la más adecuada para ti y tu moto.</p>

          <p>Hacerlo es fácil, rápido y completamente seguro, así que no esperes más y comienza a cuidar de la seguridad
            de tu patrimonio y tu vida. </p>

          <p>¡En Ahorra Seguros ahorra tiempo y dinero! </p>


        </div>

        <div>
          <div class="col-12 col-md-6 mt-1 mb-3 d-grid mx-auto"><a href="#formcotizar"
              class="btnFormulario btn-block btn btn-md mb-0 mr-2" style="text-decoration:none"><span
                class="text-white ltdBoton">
                Cotiza gratis <img loading="lazy" src="img/flechacot.svg" alt="arrow" width="14" height="23"
                  class="img-fluid"></span></a></div>
        </div>

      </div>


      <div class="row px-lg-5">
        <div class="col-12">
          <div class="mt-4">
            <h2 style="color: #494c4a; font-weight: bold;" class="pb-4">
              Preguntas Frecuentes
            </h2>
            <p class="colorPregunta">
              {{ this.$store.state.config.question1 }}
            </p>
            <p class="respuesta">{{ this.$store.state.config.answer1 }}</p>
            <p class="colorPregunta">
              {{ this.$store.state.config.question2 }}
            </p>
            <p class="respuesta">{{ this.$store.state.config.answer2 }}</p>
            <p class="colorPregunta">
              {{ this.$store.state.config.question3 }}
            </p>
            <p class="respuesta">{{ this.$store.state.config.answer3 }}</p>
            <p class="colorPregunta">
              {{ this.$store.state.config.question4 }}
            </p>
            <p class="respuesta">{{ this.$store.state.config.answer4 }}</p>
            <p class="colorPregunta">
              {{ this.$store.state.config.question5 }}
            </p>
            <p class="respuesta">{{ this.$store.state.config.answer5 }}</p>
          </div>
        </div>
      </div>
    </div>


    <div>
      <div class="container-fluid">
        <div class="row cardColor">

          <div class="col-12 mt-5 mb-3 ">
            <h2 class="colorTittle">
              Temas Relacionados
            </h2>
            <div class="row">
              <div class="col-12 col-md-6 pt-4 pb-4 py-3 px-md-5" style="color= black;">

                <ul>
                  <li>
                    <a href="https://ahorraseguros.mx/seguros-para-motos/guias/tipos-de-motos/"> ¿Qué tipos de motos
                      existen?</a>
                  </li>

                  <li><a href="https://ahorraseguros.mx/seguros-para-motos/guias/cuanto-cuesta-un-seguro-para-moto/">
                      ¿Cuánto
                      cuesta un Seguro para Motos? </a></li>
                  <li><a href="https://ahorraseguros.mx/seguros-para-motos/guias/seguro-para-moto-de-danos-a-terceros/">
                      Seguro para moto de daños a terceros </a></li>
                  <li><a href="https://ahorraseguros.mx/seguros-para-motos/guias/cual-es-el-mejor-seguro-para-motos/">
                      ¿Cuál
                      es el mejor seguro para motos? </a></li>
                </ul>

              </div>
              <div class="col-12 col-md-6 pt-4 pb-4 py-3 px-md-5" style="color= black;">
                <ul>
                  <li>
                    <a href="https://ahorraseguros.mx/seguros-para-motos/guias/seguros-para-motos-italika/">
                      Cotiza seguro para motos Italika
                    </a>
                  </li>
                  <li>
                    <a href="https://ahorraseguros.mx/seguros-para-motos/guias/seguros-para-motos-elektra/">
                      Seguros para motos Elektra
                    </a>
                  </li>
                  <li>
                    <a href="https://ahorraseguros.mx/seguros-de-autos/transito/licencia-para-moto/">
                      Conoce la nueva licencia para moto CDMX
                    </a>
                  </li>
                  <li>
                    <a href="https://ahorraseguros.mx/seguros-para-motos/guias/seguros-yamaha-motos/">
                      Seguros para Motos Yamaha
                    </a>
                  </li>
                </ul>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>

    <footerComparador />

  </div>
</template>

<script>
import headerComponent from "~/components/common/HeaderContent.vue";
import loadingContent from "~/components/common/loading.vue";
import FooterContent from "~/components/common/FooterContent.vue";
import MotosForm from "~/components/forms/newMotosForm.vue";
import elmejorComponent from "~/components/common/elmejorcomparador.vue";
import faqsComponent from "~/components/common/faqs.vue";
import fichaseg from "~/components/common/fichaseg.vue";
//import promociones from "~/components/promociones/promociones.vue";
import promocionesActualizadas from "~/components/promociones/promocionesActualizadas.vue"
import BikerRobot from "~/components/common/BikerRobot.vue";
import getInsurerPromo from "~/plugins/promoData.js";
import slider from "~/components/common/slider-aseguradoras.vue";
import promocionesMobile from "~/components/promociones/promocionesMobile.vue"
import tarjetas from "~/components/contenido/tarjetas.vue"
import fichasEstados from "~/components/common/fichasEstados.vue"
import footerComparador from "~/components/footer/footerComparador.vue"
export default {
  layout: "index",

  beforeCreate() {
    this.$store.state.config.urlNext = "/thank-u";
    this.$store.state.config.aseguradorapromo = "MOTOS";
    this.$store.state.config.aseguradora = "GNP";
    this.$store.state.config.principal = true
    this.$store.state.config.urlRuta = "/seguros-para-motos";
    this.$store.state.config.telefonoAS = "25276765";
    this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.idMedioDifusion = 6274;
    this.$store.state.config.idPagina = 15;
    this.$store.state.config.idSubRamo = 58;
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.cards = true;
    this.$store.state.config.aztecaGnp = true;
    this.$store.state.config.combinado=true;
    this.$store.state.config.idEcommerce = 6275
    this.$store.state.config.idMedioDifusionInteraccion = 6276

    this.$store.state.config.dominioCorreo =
      "GNP|ahorraseguros-mx-seguros-para-motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.tresCaminos = true
    this.$store.state.config.emision = true
    this.$store.state.config.headerText = "Seguro para Motos";
    this.$store.state.config.title = "Seguros para Motos";
    this.$store.state.config.imgaseg = "logomotos";
    this.$store.state.config.btnColor = "bgColorBtnGeneral";
    this.$store.state.config.imgPromo = "motospromo";
    this.$store.state.config.textoSMS =
      "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    // FAQS ID
    this.$store.state.config.id_q1 = "q1-aseg";
    this.$store.state.config.id_q2 = "q2-aseg";
    this.$store.state.config.id_q3 = "q3-aseg";
    this.$store.state.config.id_q4 = "q4-aseg";
    this.$store.state.config.id_q5 = "q5-aseg";
    // FAQS Pregunta
    this.$store.state.config.question1 =
      "¿Cuánto cuesta una póliza de seguro para moto?";
    this.$store.state.config.question2 =
      "¿Dónde contratar tu seguro para motos?";
    this.$store.state.config.question3 =
      "¿El seguro para motos es obligatorio?";
    this.$store.state.config.question4 = "¿Cómo facturar el seguro para motos?";
    this.$store.state.config.question5 =
      "¿Puedo cambiar o traspasar el seguro de moto?";
    //
    // ANSWERS
    this.$store.state.config.answer1 =
      "Existen pólizas de moto baratas desde los $300 pesos  hasta las más completas de más de $16,000."
    this.$store.state.config.answer2 =
      "El seguro para motos puedes contratarlo a través de un cotizador, vía telefónica, app móvil y directamente con un agente de seguros."
    this.$store.state.config.answer3 =
      "Sí, contar con un seguro de responsabilidad civil para motos es obligatorio en todo México desde el 2019."
    this.$store.state.config.answer4 =
      "Puedes solicitar la factura de tu seguro para motocicletas registrándote con tu RFC en el portal o app de tu aseguradora, o comunicándote a las vías de atención telefónica."
    this.$store.state.config.answer5 =
      "En caso de que quieras vender tu moto o simplemente cancelar el seguro puedes hacerlo comunicándote directamente con tu aseguradora o agente de seguros."
  },

  async created() {
    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        "genericas",
        this.$store.state.config.aseguradorapromo
      );

      this.$store.commit("telApi");

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;
      this.$store.state.config.promoLabel = insurer.promo.label;
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 =
          "col-3 col-sm-3 col-md-3 col-lg-3";
        this.$store.state.config.clase3 =
          "col-3 col-sm-3 col-md-3 col-lg-3";
      }

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;
    } catch (err) {
      console.log(err);
    }
    this.$store.state.formData.urlOrigen = window.location.href;
    this.$store.state.formData.urlDestino = this.getBacklink();
  },
  methods: {
    getBacklink: function() {
      let referringUrl = document.referrer;
      if (!referringUrl || !referringUrl.match(/^https?:\/\/.*/)) {
        let response = "Url directa"
        return response;
      }
      let domainName = referringUrl.split('/')[2];
      return domainName;
    },
  },
  components: {
    MotosForm,
    loadingContent,
    headerComponent,
    BikerRobot,
    FooterContent,
    elmejorComponent,
    faqsComponent,
    slider,
    promocionesActualizadas,
    promocionesMobile,
    tarjetas,
    fichaseg,
    fichasEstados,
    footerComparador

  },
  head() {
    return {
      title: "▷ Seguro para Motos | AhorraSeguros.mx®  - Cotizar Seguro para Moto",
      meta: [
        {
          hid: "seguro para motos",
          name: "keywords",
          content:
            " seguro para motos, seguro para moto, seguros para motos precios, cuanto, cuesta un seguro para motos, seguros para motos México, seguros para motos baratos, cotizador de seguros para motos, cotizar seguro para moto, mejor seguro para motos, póliza de seguro para motos. "
        },
        {
          hid: "description",
          name: "description",
          content:
            " Cotiza Seguro para Motos en México con Ahorra Seguros y obtén los Mejores Beneficios al Mejor Precio ¡Descubre en segundos el costo de tu Seguro para Moto!"
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        { hid: "author", name: "author", content: "vargasdesignMx" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://ahorraseguros.mx/seguros-para-motos/"
        }
      ]
    };
  }
};
</script>

<style scoped>
td {
  text-align: center;
}

.bg-motos {
  background: #181f35;
}

.color-motos {
  color: #181f35;
}

.chevron-right-card {
  width: 20px;
  height: 22px;
  border: 1px solid rgb(108 117 125);
  padding: 4px 6px;
  border-radius: 4px;
  float: right;
}
</style>
