<template>
  <div>
    <div class="container-fluid">
      <header-component />
      <div class="row bg-light-gray">
        <div class="col-5 col-sm-5 col-md-4 col-lg-4 text-right d-none d-sm-none d-md-block">
          <img
            src="/seguros-para-motos/img/common/robot-thanks.png"
            alt="robot"
            class="img-fluid ahorrabot"
          />
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 my-auto py-2">
          <div class="card card-thanks">
            <div id="graciasMotos" class="mt-lg-5 mr-3 pt-lg-2 mt-sm-0 colorAhorra fz-18 card-body">
              <h3 class="font-weight-bold colorGray">
                Hola {{ this.$store.state.formData.nombre }},
              </h3>
              <h3 class="font-weight-bold colorGray">
                Encontramos el mejor precio del seguro de tu moto
              </h3>
              <p class="detalle gt-a font-weight colorGray">
                <strong>Cotizaste: </strong>
                {{ this.$store.state.formData.marca }}
                {{ this.$store.state.formData.modelo }}
                {{ this.$store.state.formData.descripcion }}
                {{ this.$store.state.formData.detalle }}
               
              </p>
               <div v-if="this.$store.state.config.msjEje == true">
                <h6>
                  Un asesor experto en Seguros Para Motos se comunicará contigo a la brevedad para asesorarte de forma gratuita.
                </h6>
              </div>
              <div
                class="col-12 col-sm-12 col-md-8 col-lg-8 py-2 mt-2"
                v-if="!$store.state.cargandocotizacion && !$store.state.config.msjEje"
              >
                <loading-component />
              </div>
          </div>
        </div>
      </div>
      <precios-component v-if="
               this.$store.state.formData.precio != null &&
                this.$store.state.formData.precio > 0 &&
                this.$store.state.formData.precio != ''"></precios-component>
      <hr>
      <footer-content />
    </div>
  </div>
  <logica/>
  </div>
</template>
<script>
import headerComponent from "~/components/common/HeaderContent.vue";
import FooterContent from "~/components/common/FooterContent.vue";
import preciosComponent from "~/components/common/precios.vue";
import LoadingComponent from "~/components/common/loading.vue";
import logica from "~/components/common/logicaNew.vue";

export default {
  layout: "agradecimiento",
  created() {
    if (this.$store.state.formData.nombre != "") {
      this.$store.state.config.loading = true;
      //this.$store.commit("validateData");
    } else {
      this.$router.replace({ path: "/error/" });
    }
    this.$store.state.config.loading = false;
  },
  components: {
    headerComponent,
    FooterContent,
    preciosComponent,
    LoadingComponent,
    logica
  },
  head() {
    return {
      title: "🥇Seguro para Motos - Cotiza Seguro de Moto - ASMX",
      meta: [
        {
          hid: "seguro para motos",
          name: "keywords",
          content:
            "Seguros para Motos, Seguros para Motos en México, Seguros de Motos, Seguros de Motos en México, Seguros para motocicletas, cotizador de seguros de motos, cotizar seguros para motos, Seguros Motos, Seguro para Moto"
        },
        {
          hid: "description",
          name: "description",
          content:
            "Seguros para Motos: AhorraSeguros.Mx te ofrece los mejores precios y coberturas en Seguros para Motos en México. Cotiza fácil, rápido y ahorra hasta 25% en tu Seguro de Motos."
        },
        { hid: "robots", name: "robots", content: "noindex, nofollow" },
        {
          hid: "author",
          name: "author",
          content: "@vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://ahorraseguros.mx/seguros-para-motos/thank-u"
        }
      ]
    };
  }
};
</script>
<style scoped>
.bggray {
  background-color: #e9ebee;
}

.display-5 {
  font-size: 1.8rem;
}

.card-body {
  padding: 1.25rem;
}

.btn-primary {
  color: #fff;
  background-color: #044f99;
  border-color: #044f99;
}

.fa13 {
  font-size: 16px;
}

.bgcolorblue {
  background-color: #f5f9ff !important;
}

.rating {
  color: #ffd700 !important;
}

.c-white {
  color: #fff;
}

.font-s {
  font-size: 12px;
}
</style>
